<div class="container-fluid">
	<div class="well">
		<span class="legend">Logs</span>
        <div class="row form-group">
            <div class="col-md-3">
                <select class="form-control" data-ng-model="filter.LogLevel" ng-options="logLevel.Id as logLevel.Name for logLevel in logLevels"></select>
            </div>
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" name="test" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="filter.FromDateObject.Date" is-open="filter.FromDateObject.Opened" datepicker-options="dateOptions" ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-disabled="false" ng-click="filter.FromDateObject.openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" name="test" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="filter.ToDateObject.Date" is-open="filter.ToDateObject.Opened" datepicker-options="dateOptions" ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-disabled="false" ng-click="filter.ToDateObject.openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Message" data-ng-model="filter.Message">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Source" data-ng-model="filter.Source">
            </div>
        </div>
		<div class="row form-group">
			<div class="col-md-4">
                <button class="btn btn-info" data-ng-click="filterLogs();" type="button">Filter</button>
			</div>
		</div>
        <hr />
        <table  ng-if="loaded" class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Log Level</th>
                    <th>Source</th>
                    <th>Short Message</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="log in logs">
                    <td>{{log.Date | date:"MM/dd/yy"}}<br />{{log.Date | date:"h:mm a"}}</td>
                    <td>{{log.LogLevel}}</td>
                    <td>{{log.Source}}</td>
                    <td>{{log.ShortMessage}}</td>
                    <td>
                        <button class="btn btn-default btn-success" data-ng-click="open(log);">Show Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination boundary-links="true"
                    total-items="totalItems"
                    items-per-page="filter.Paging.PageItemCount"
                    data-ng-model="filter.Paging.PageIndex"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    data-ng-change="pageChanged()">
        </pagination>
	</div>
</div>