<div class="modal-header object-history-report-header">
	<h3 class="modal-title">
        Details
        <button data-ng-if="!options.isDiff" class="btn btn-success" data-ng-click="options.isDiff=true;">Show Diff</button>
        <button data-ng-if="options.isDiff" class="btn btn-success" data-ng-click="options.isDiff=false;">Show Data</button>
    </h3>
    <label data-ng-if="options.isDiff" class="checkbox-inline">
        <input type="checkbox" data-ng-model="options.showUnchanged">Show unchanged values
    </label>
</div>
<div data-ng-if="report" class="modal-body object-history-report">
    <div class="container-fluid wrapper">
        <div data-ng-show="!options.isDiff" class="col-md-6 left-area">
            <span class="legend">Selected - {{::report.Before.DateCreated | date:"MM/dd/yy"}} {{::report.Before.DateCreated | date:"h:mm a"}}, Agent Id - {{::report.Before.EditedBy}}</span>
            <json-formatter open="1" json="BeforeJsonData"></json-formatter>
        </div>
        <div data-ng-show="!options.isDiff" class="col-md-6 right-area">
            <span class="legend">Current in DB - {{::report.Main.DateCreated | date:"MM/dd/yy"}} {{::report.Main.DateCreated | date:"h:mm a"}}, Agent Id - {{::report.Main.EditedBy}}</span>
            <json-formatter open="1" json="MainJsonData"></json-formatter>
        </div>
        <div data-ng-show="options.isDiff" data-ng-bind-html="visualDiff">
        </div>
    </div>
</div>
<div class="modal-footer">
	<button class="btn btn-success" data-ng-click="cancel()">Ok</button>
</div>
