<div class="container-fluid order-review-rules-list">
    <div class="well">
        <span class="legend">Manage Order Review Rules</span>
        <div class="row form-group">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Name" data-ng-model="filter.SearchText">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <button class="btn btn-info" data-ng-click="filterItems();" type="button">Filter</button>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <a ui-sref="index.oneCol.addOrderReviewRule" class="btn btn-primary">Add New Rule</a>
        </div>
        <spinner-overlay data-loading="refreshTracker.active()">
            <table id="data-grid" class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Apply Type</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th class="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in items">
                        <td>
                            <a ui-sref="index.oneCol.orderReviewRuleDetail({id:item.Id})">{{::item.Name}}</a>
                        </td>
                        <td>
                            <span data-ng-if="item.ApplyType == 1" class="label label-info font-default">All Conditions</span>
                            <span data-ng-if="item.ApplyType == 2" class="label label-warning font-default">Any Conditions</span>
                        </td>
                        <td>
                            {{item.DateCreated | date:"MM/dd/yy"}}<br />
                            {{item.DateCreated | date:"h:mm a"}}<br />
                            {{item.AddedByAgentId}}
                        </td>
                        <td>
                            {{item.DateEdited | date:"MM/dd/yy"}}<br />
                            {{item.DateEdited | date:"h:mm a"}}<br />
                            {{item.EditedByAgentId}}</td>
                        <td>
                            <a title="Edit" class="btn btn-default btn-success btn-xs" ui-sref="index.oneCol.orderReviewRuleDetail({id:item.Id})">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <button title="Delete" class="btn btn-default btn-danger btn-xs" ladda="deleteTracker.active()" data-ng-click="delete(item.Id);">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </spinner-overlay>
        <uib-pagination boundary-links="true"
                    total-items="totalItems"
                    items-per-page="filter.Paging.PageItemCount"
                    data-ng-model="filter.Paging.PageIndex"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    data-ng-change="pageChanged();scrollTo('data-grid');">
        </uib-pagination>
    </div>
</div>