<div class="container-fluid profile-scopes">
    <div class="well categories">
        <span class="legend">Profile Scopes</span>
        <spinner-overlay data-loading="refreshTracker.active()">
            <div class="ya-treeview ">
                <ol class="angular-ui-tree-nodes">
                    <li class="angular-ui-tree-node" data-ng-repeat="item in options.Items track by item.Id" data-ng-include="'app/modules/setting/partials/profileScopeListItem.html'">
                    </li>
                </ol>
            </div>
        </spinner-overlay>
        <uib-pagination boundary-links="true"
                    total-items="totalItems"
                    items-per-page="filter.Paging.PageItemCount"
                    data-ng-model="filter.Paging.PageIndex"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    data-ng-change="pageChanged()">
        </uib-pagination>
    </div>
</div>