<div>
    <a class="btn btn-link pull-left" data-nodrag data-ng-click="toggle(this)">
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></i>
    </a>
</div>
<div ui-tree-handle>
    <div class="ya-treeview-content clearfix">
        <div class="line">
            <label>{{::item.ShortData}} ({{::item.TimeElapsed}} ms)</label>
        </div>
    </div>
</div>
<div data-ng-class="{hidden: collapsed}">
    <div>
        Method Name: {{::item.MethodName}}
    </div>
    <div>
        Class Type: {{::item.ClassTypeName}}
    </div>
    <div>
        Data: {{::item.Data}}
    </div>
</div>
<ol ui-tree-nodes="" data-ng-model="item.SubScopes" data-ng-class="{hidden: collapsed}">
    <li ng-repeat="item in item.SubScopes" collapsed="true" ui-tree-node data-ng-include="'app/modules/setting/partials/profileScopeListItem.html'">
    </li>
</ol>
