<div>
    <a class="btn btn-link pull-left" data-nodrag data-ng-click="toggle(this)">
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></i>
    </a>
</div>
<div ui-tree-handle>
    <div class="ya-treeview-content clearfix">
        <div class="line">
            <label>{{::item.ShortData}} <span style="font-weight:bolder"><span data-ng-if="item.TimeElapsed > 500" style="color: orangered">{{::item.TimeElapsed}}</span><span data-ng-if="item.TimeElapsed <= 500">{{::item.TimeElapsed}}</span> ms</span>
            </label>
        </div>
    </div>
</div>
<div data-ng-class="{hidden: collapsed}">
    <div style="font-weight: bolder">
        {{::item.Data}}
    </div>
    <div style="font-weight: lighter;color: grey">
        <div ng-repeat="additional in item.AdditionalData">{{::additional}}</div>
    </div>
    <div>
        {{::item.ClassTypeName}}::{{::item.MethodName}}
    </div>
</div>
<ol ui-tree-nodes="" data-ng-model="item.SubScopes" data-ng-class="{hidden: ::collapsed}">
    <li ng-repeat="item in ::item.SubScopes" collapsed="true" ui-tree-node data-ng-include="'app/modules/setting/partials/profileScopeListItem.html'">
    </li>
</ol>
