<div class="container-fluid">
    <div class="left-pane-controls">
        <div class="well container-fluid">
            <div>
                <button class="btn btn-success width-160px" ladda="editTracker.active()" data-ng-click="save()">Save</button>
            </div>
        </div>
    </div>
    <div class="right-pane-main">
        <div class="container-fluid">
            <div class="row">
                <div class="container container-left">
                    <div class="well row">
                        <spinner-overlay data-loading="refreshTracker.active()">
                            <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.form.submitted}" novalidate unsaved-warning-form>
                                <fieldset>
                                    <span class="legend">Minimum Cart Perishable Value</span>
                                    <div class="form-group">
                                        <label for="name" class="col-md-4 control-label">Minimum Perishable</label>
                                        <div class="col-md-8">
                                            <input type="text" name="GlobalPerishableThreshold" class="form-control" placeholder="Minimum Perishable" data-ng-model="settings.GlobalPerishableThreshold" ng-pattern="/^\d+$/">
                                            <div class="error-container" ng-show="forms.submitted && forms.form.GlobalPerishableThreshold.$invalid">
                                                <small class="error" ng-show="forms.form.GlobalPerishableThreshold.$error.pattern">{{getValidationMessage("ValidationMessages.FieldNumber","Global Perishable Threshol")}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="legend">Credit Card Authorizations</span>
                                    <div class="form-group">
                                        <label for="active" class="col-md-4 control-label">Credit card authorizations on</label>
                                        <div class="col-md-8">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="CreditCardAuthorizations" data-ng-model="settings.CreditCardAuthorizations"/></label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </spinner-overlay>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>