<div class="container-fluid">
    <div class="left-pane-controls">
        <div class="well container-fluid">
            <div>
                <button class="btn btn-success width-160px" ladda="editTracker.active()" data-ng-click="save()">Save</button>
            </div>
            <div class="btn-group margin-top-10px">
                <button class="btn btn-default width-160px" data-ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="right-pane-main">
        <div class="container-fluid">
            <div class="row">
                <div class="container container-left">
                    <spinner-overlay data-loading="refreshTracker.active()">
                        <div class="well row">
                            <span class="legend">Manage Article Categories</span>
                            <a class="btn btn-success btn-xs" title="Add" nodrag data-ng-click="add(rootCategory.Id)">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                            <div ui-tree class="ya-treeview">
                                <ol ui-tree-nodes data-ng-model="rootCategory.SubItems">
                                    <li ng-repeat="item in rootCategory.SubItems" ui-tree-node data-ng-include="'app/modules/content/partials/contentCategoriesReordering.html'">
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </spinner-overlay>
                </div>
            </div>
        </div>
    </div>
</div>