<div data-ng-if="item.SubItems && item.SubItems.length > 0">
    <a class="btn btn-link pull-left" data-nodrag data-ng-click="toggle(this)">
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></i>
    </a>
</div>
<div ui-tree-handle class="">
	<div class="ya-treeview-content clearfix">
		<div class="checkbox">
			<label><input data-ng-model="item.IsSelected" type="checkbox">{{item.Name}}</label>
			<span data-ng-if="item.StatusCode == 1" class="label label-warning category-status">Hidden</span>
		</div>
	</div>
</div>
<ol ui-tree-nodes="" data-ng-model="item.SubItems" data-ng-class="{hidden: collapsed}">
	<li ng-repeat="item in item.SubItems" ui-tree-node collapsed="true" data-ng-include="'app/modules/content/partials/contentCategories.html'">
	</li>
</ol>
