<div class="container-fluid">
    <div class="well">
        <span class="legend">Manage FAQs</span>
        <div class="row form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Title" data-ng-model="filter.Name">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <select class="form-control" data-ng-model="filter.CategoryId" ng-options="category.Id as category.Name for category in categories"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <button class="btn btn-info" data-ng-click="filterFaqs();" type="button">Filter</button>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <button data-ng-click="open();" class="btn btn-primary">Add New FAQ</button>
            <button class="btn btn-info btn-right width-160px" ui-sref="index.oneCol.manageFaqCategories({mode:'list'})">Manage Categories</button>
        </div>
        <spinner-overlay data-loading="refreshTracker.active()">
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Category</th>
                    <th>Updated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="faq in faqs">
                    <td>{{faq.Name}}</td>
                    <td>{{faq.Url}}</td>
                    <td>{{faq.Category}}</td>
                    <td>{{faq.Updated | date:"MM/dd/yy"}}<br/>{{faq.Updated | date:"h:mm a"}}</td>
                    <td>
                        <button class="btn btn-default btn-success" data-ng-click="open(faq.Id);">Edit</button>
                        <button class="btn btn-default btn-danger" ladda="deleteTracker.active()" data-ng-click="delete(faq.Id);">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </spinner-overlay>
        <pagination boundary-links="true"
                    total-items="totalItems"
                    items-per-page="filter.Paging.PageItemCount"
                    data-ng-model="filter.Paging.PageIndex"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    data-ng-change="pageChanged()">
        </pagination>
    </div>
</div>