/****** Object:  Table [dbo].[AppOptions]    Script Date: 6/25/2016 2:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppOptions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AppOptions](
	[OptionName] [nvarchar](250) NOT NULL,
	[OptionValue] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
END
GO
