/****** Object:  Table [dbo].[CustomerNoteOptionValues]    Script Date: 6/25/2016 2:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomerNoteOptionValues]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CustomerNoteOptionValues](
	[IdCustomerNote] [int] NOT NULL,
	[IdOptionType] [int] NOT NULL,
	[Value] [nvarchar](250) NULL,
 CONSTRAINT [PK_CustomerNoteOptionValues] PRIMARY KEY CLUSTERED 
(
	[IdCustomerNote] ASC,
	[IdOptionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
END
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CustomerNoteOptionValues_Value]    Script Date: 6/25/2016 2:13:30 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CustomerNoteOptionValues]') AND name = N'IX_CustomerNoteOptionValues_Value')
CREATE NONCLUSTERED INDEX [IX_CustomerNoteOptionValues_Value] ON [dbo].[CustomerNoteOptionValues]
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CustomerNoteOptionValues_ValuesSearch]    Script Date: 6/25/2016 2:13:30 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CustomerNoteOptionValues]') AND name = N'IX_CustomerNoteOptionValues_ValuesSearch')
CREATE NONCLUSTERED INDEX [IX_CustomerNoteOptionValues_ValuesSearch] ON [dbo].[CustomerNoteOptionValues]
(
	[Value] ASC,
	[IdOptionType] ASC
)
INCLUDE ( 	[IdCustomerNote]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CustomerNoteOptionValues_CustomerNoteOptionTypes]') AND parent_object_id = OBJECT_ID(N'[dbo].[CustomerNoteOptionValues]'))
ALTER TABLE [dbo].[CustomerNoteOptionValues]  WITH CHECK ADD  CONSTRAINT [FK_CustomerNoteOptionValues_CustomerNoteOptionTypes] FOREIGN KEY([IdOptionType])
REFERENCES [dbo].[CustomerNoteOptionTypes] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CustomerNoteOptionValues_CustomerNoteOptionTypes]') AND parent_object_id = OBJECT_ID(N'[dbo].[CustomerNoteOptionValues]'))
ALTER TABLE [dbo].[CustomerNoteOptionValues] CHECK CONSTRAINT [FK_CustomerNoteOptionValues_CustomerNoteOptionTypes]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CustomerNoteOptionValues_CustomerNotes]') AND parent_object_id = OBJECT_ID(N'[dbo].[CustomerNoteOptionValues]'))
ALTER TABLE [dbo].[CustomerNoteOptionValues]  WITH CHECK ADD  CONSTRAINT [FK_CustomerNoteOptionValues_CustomerNotes] FOREIGN KEY([IdCustomerNote])
REFERENCES [dbo].[CustomerNotes] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CustomerNoteOptionValues_CustomerNotes]') AND parent_object_id = OBJECT_ID(N'[dbo].[CustomerNoteOptionValues]'))
ALTER TABLE [dbo].[CustomerNoteOptionValues] CHECK CONSTRAINT [FK_CustomerNoteOptionValues_CustomerNotes]
GO
