/****** Object:  Table [dbo].[HelpTicketComments]    Script Date: 6/25/2016 2:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HelpTicketComments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HelpTicketComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHelpTicket] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateEdited] [datetime2](7) NOT NULL,
	[StatusCode] [int] NOT NULL,
	[IdEditedBy] [int] NULL,
	[Order] [int] NOT NULL,
	[Comment] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_HelpTicketComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
END
GO
/****** Object:  Index [IX_HelpTicketComments_IdHelpTicket]    Script Date: 6/25/2016 2:13:30 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[HelpTicketComments]') AND name = N'IX_HelpTicketComments_IdHelpTicket')
CREATE NONCLUSTERED INDEX [IX_HelpTicketComments_IdHelpTicket] ON [dbo].[HelpTicketComments]
(
	[IdHelpTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HelpTicketCommentsToHelpTickets]') AND parent_object_id = OBJECT_ID(N'[dbo].[HelpTicketComments]'))
ALTER TABLE [dbo].[HelpTicketComments]  WITH CHECK ADD  CONSTRAINT [FK_HelpTicketCommentsToHelpTickets] FOREIGN KEY([IdHelpTicket])
REFERENCES [dbo].[HelpTickets] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HelpTicketCommentsToHelpTickets]') AND parent_object_id = OBJECT_ID(N'[dbo].[HelpTicketComments]'))
ALTER TABLE [dbo].[HelpTicketComments] CHECK CONSTRAINT [FK_HelpTicketCommentsToHelpTickets]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HelpTicketCommentsToStatus]') AND parent_object_id = OBJECT_ID(N'[dbo].[HelpTicketComments]'))
ALTER TABLE [dbo].[HelpTicketComments]  WITH CHECK ADD  CONSTRAINT [FK_HelpTicketCommentsToStatus] FOREIGN KEY([StatusCode])
REFERENCES [dbo].[RecordStatusCodes] ([StatusCode])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HelpTicketCommentsToStatus]') AND parent_object_id = OBJECT_ID(N'[dbo].[HelpTicketComments]'))
ALTER TABLE [dbo].[HelpTicketComments] CHECK CONSTRAINT [FK_HelpTicketCommentsToStatus]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HelpTicketCommentsToUsers]') AND parent_object_id = OBJECT_ID(N'[dbo].[HelpTicketComments]'))
ALTER TABLE [dbo].[HelpTicketComments]  WITH CHECK ADD  CONSTRAINT [FK_HelpTicketCommentsToUsers] FOREIGN KEY([IdEditedBy])
REFERENCES [dbo].[Users] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HelpTicketCommentsToUsers]') AND parent_object_id = OBJECT_ID(N'[dbo].[HelpTicketComments]'))
ALTER TABLE [dbo].[HelpTicketComments] CHECK CONSTRAINT [FK_HelpTicketCommentsToUsers]
GO
