/****** Object:  Table [dbo].[OrderOptionValues]    Script Date: 6/25/2016 2:12:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderOptionValues]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OrderOptionValues](
	[IdOptionType] [int] NOT NULL,
	[IdOrder] [int] NOT NULL,
	[Value] [nvarchar](250) NULL,
 CONSTRAINT [PK_OrderOptionValues] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC,
	[IdOptionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
END
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OrderOptionValues_IdOptionType]    Script Date: 6/25/2016 2:13:30 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OrderOptionValues]') AND name = N'IX_OrderOptionValues_IdOptionType')
CREATE NONCLUSTERED INDEX [IX_OrderOptionValues_IdOptionType] ON [dbo].[OrderOptionValues]
(
	[IdOptionType] ASC
)
INCLUDE ( 	[IdOrder],
	[Value]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OrderOptionValues_IdOrder]    Script Date: 6/25/2016 2:13:30 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OrderOptionValues]') AND name = N'IX_OrderOptionValues_IdOrder')
CREATE NONCLUSTERED INDEX [IX_OrderOptionValues_IdOrder] ON [dbo].[OrderOptionValues]
(
	[IdOrder] DESC
)
INCLUDE ( 	[Value]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OrderOptionValues_Value]    Script Date: 6/25/2016 2:13:30 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OrderOptionValues]') AND name = N'IX_OrderOptionValues_Value')
CREATE NONCLUSTERED INDEX [IX_OrderOptionValues_Value] ON [dbo].[OrderOptionValues]
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OrderOptionValues_ValuesSearch]    Script Date: 6/25/2016 2:13:30 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OrderOptionValues]') AND name = N'IX_OrderOptionValues_ValuesSearch')
CREATE NONCLUSTERED INDEX [IX_OrderOptionValues_ValuesSearch] ON [dbo].[OrderOptionValues]
(
	[Value] ASC,
	[IdOptionType] ASC
)
INCLUDE ( 	[IdOrder]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderOptionValuesToOrder]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderOptionValues]'))
ALTER TABLE [dbo].[OrderOptionValues]  WITH CHECK ADD  CONSTRAINT [FK_OrderOptionValuesToOrder] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Orders] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderOptionValuesToOrder]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderOptionValues]'))
ALTER TABLE [dbo].[OrderOptionValues] CHECK CONSTRAINT [FK_OrderOptionValuesToOrder]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderOptionValuesToOrderOptionType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderOptionValues]'))
ALTER TABLE [dbo].[OrderOptionValues]  WITH CHECK ADD  CONSTRAINT [FK_OrderOptionValuesToOrderOptionType] FOREIGN KEY([IdOptionType])
REFERENCES [dbo].[OrderOptionTypes] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderOptionValuesToOrderOptionType]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderOptionValues]'))
ALTER TABLE [dbo].[OrderOptionValues] CHECK CONSTRAINT [FK_OrderOptionValuesToOrderOptionType]
GO
