/****** Object:  Database [VitalChoice.Ecommerce]    Script Date: 6/25/2016 2:09:59 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'VitalChoice.Ecommerce')
BEGIN
CREATE DATABASE [VitalChoice.Ecommerce]
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VitalChoice.Ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VitalChoice.Ecommerce]
GO
