<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="antlr4cs" value="https://www.myget.org/F/antlrcs/api/v3/index.json" />
    <add key="nuget.v3" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AspNetVNext" value="https://www.myget.org/f/aspnetrelease/api/v3/index.json" />
    <add key="AutoFac" value="https://www.myget.org/F/autofac/api/v3/index.json" />
    <add key="multiarc.ef" value="https://www.myget.org/F/multiarc-ef-fork/api/v3/index.json" />
  </packageSources>
</configuration>