<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.v2" value="https://www.nuget.org/api/v2" protocolVersion="2" />
    <add key="antlr4cs" value="https://www.myget.org/F/antlrcs/api/v3/index.json" protocolVersion="3" />
    <add key="aspnetforks" value="https://www.myget.org/F/multiarc-ef-fork/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>