<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://nuget.org/api/v2/" />
    <add key="vNext" value="https://www.myget.org/F/aspnetrelease/api/v2/" />
    <add key="FluentValidation" value="https://www.myget.org/F/vnextfluentvalidation/"  />
  </packageSources>
  <packageSourceCredentials>
    <FluentValidation>
      <add key="Username" value="multiarc" />
      <add key="ClearTextPassword" value="1230123" />
    </FluentValidation>
  </packageSourceCredentials>
</configuration>
