<div class="well row customer-orders-list orders">
    <spinner-overlay data-loading="addEditTracker.active()">
        <table class="table table-striped order-statuses">
            <thead>
                <tr>
                    <th class="status" data-ng-click="filter.Sorting.applySort('OrderStatus')">
                        <span>Status</span>
                        <span data-ng-if="filter.Sorting.Path == 'OrderStatus'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('IdObjectType')">
                        <span>Type</span>
                        <span data-ng-if="filter.Sorting.Path == 'IdObjectType'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('DateEdited')">
                        <span>Updated</span>
                        <span data-ng-if="filter.Sorting.Path == 'DateEdited'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('IdOrderSource')">
                        <span>Order Source</span>
                        <span data-ng-if="filter.Sorting.Path == 'IdOrderSource'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('DateCreated')">
                        <span>Order Date</span>
                        <span data-ng-if="filter.Sorting.Path == 'DateCreated'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Id')">
                        <span>Order #</span>
                        <span data-ng-if="filter.Sorting.Path == 'Id'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Total')">
                        <span>Order Total</span>
                        <span data-ng-if="filter.Sorting.Path == 'Total'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('ShipTo')">
                        <span>Ship To</span>
                        <span data-ng-if="filter.Sorting.Path == 'ShipTo'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-class="::{'order-notes': item.OrderNotes}" data-ng-repeat="item in ordersHistory">
                    <td>
                        <div data-ng-include="'app/modules/order/partials/orderStatusSection.html'"></div>
                    </td>
                    <td>
                        <span class="label font-default" data-ng-class="::{'label-retail': (item.IdObjectType==1 || item.IdObjectType==7 ||item.IdObjectType==3 || item.IdObjectType==4), 'label-primary':  item.IdObjectType==5, 'label-success':  item.IdObjectType==6}">{{::getReferenceItem(ReferenceData.ShortOrderTypes, item.IdObjectType).Text}}</span>
                    </td>
                    <td>{{::item.DateEdited | date:"MM/dd/yy"}}<br />{{::item.DateEdited | date:"h:mm a"}}<br />{{::item.EditedByAgentId}}</td>
                    <td class="order-source">
                        <span>{{getReferenceItem(ReferenceData.OrderSourceTypes, item.IdOrderSource).Text}}</span>
                    </td>
                    <td>{{::item.DateCreated | date:"MM/dd/yy"}}<br />{{::item.DateCreated | date:"h:mm a"}}</td>
                    <td>
                        <a ui-sref="{{::item.IdObjectType==5 ? 'index.oneCol.orderReshipDetail({id: item.Id })' : item.IdObjectType==6 ? 'index.oneCol.orderRefundDetail({id: item.Id })' : 'index.oneCol.orderDetail({id: item.Id })'}}">{{::item.Id}}</a>
                    </td>
                    <td data-ng-if="::item.IdObjectType!=6">{{::item.Total | currency}}</td>
                    <td data-ng-if="::item.IdObjectType==6">({{::item.Total | currency}})</td>
                    <td>
                        {{::item.ShipTo}}
                    </td>
                    <td>
                        <a class="btn btn-default btn-primary btn-xs" target="_blank" data-ng-href="/api/orderinvoice/base/{{::item.Id}}">
                            <i class="fa fa-search"></i>
                        </a>
                        <button title="Repeat" class="btn btn-default btn-success btn-xs" data-ng-if="item.IdObjectType!=5 && item.IdObjectType!=6 && item.IdObjectType!=7 && item.OrderStatus!=1 && item.POrderStatus!=1 && item.NPOrderStatus!=1" ui-sref="index.oneCol.orderAdd({idcustomer:item.IdCustomer, idsource:item.Id })">
                            Repeat
                        </button>
                        <button title="Reship" class="btn btn-default btn-info btn-xs" data-ng-if="item.IdObjectType!=6 && (item.OrderStatus==3 || item.POrderStatus==3 || item.NPOrderStatus==3)" ui-sref="index.oneCol.orderReshipAdd({idcustomer:item.IdCustomer, idsource:item.Id })">
                            Reship
                        </button>
                        <button data-ng-if="item.IdObjectType!=6 && item.OrderStatus==3 || item.POrderStatus==3 || item.NPOrderStatus==3" ui-sref="index.oneCol.orderRefundAdd({idcustomer:item.IdCustomer, idsource:item.Id })" title="Refund" class="btn btn-default btn-primary btn-xs">
                            Refund
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </spinner-overlay>
    <uib-pagination boundary-links="true"
                total-items="ordersTotalItems"
                items-per-page="ordersFilter.Paging.PageItemCount"
                data-ng-model="ordersFilter.Paging.PageIndex"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                data-ng-change="ordersPageChanged()">
    </uib-pagination>
</div>