<div class="container-fluid">
    <div class="left-pane-controls">
        <div class="well container-fluid">
            <div>
                <button class="btn btn-success width-160px" ladda="editTracker.active()" data-ng-click="save()">Save</button>
            </div>
        </div>
    </div>
    <div class="right-pane-main">
        <div class="container-fluid">
            <div class="row">
                <div class="container container-left">
                    <div class="well row">
                        <spinner-overlay data-loading="refreshTracker.active()">
                            <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.form.submitted}" novalidate>
                                <fieldset>
                                    <span class="legend">Change Order Status</span>
                                    <div class="form-group">
                                        <div class="col-md-12 error-container">
                                            *Note: If changing order status to PROCESSED you MUST go into the order and re-save it to ensure all calculations generate and save properly.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id" class="col-md-3 control-label">Order #</label>
                                        <div class="col-md-9">
                                            <div class="input-group autocomplete">
                                                <input type="text" name="Id" class="form-control" placeholder="Order #" data-ng-model="order.Id" required numbers-only
                                                       typeahead-min-length="3" typeahead="item.Id as item.Id for item in getOrders($viewValue)" typeahead-loading="loadingOrders"
                                                       typeahead-on-select="idLoaded($item, $model, $label)" data-ng-change="idChanged()" autocomplete="off">
                                                <span class="input-group-addon">
                                                    <i ng-show="loadingOrders" class="glyphicon glyphicon-refresh"></i>
                                                </span>
                                            </div>
                                            <div class="error-container" ng-show="forms.form.submitted && forms.form.Id.$invalid">
                                                <small class="error" ng-show="forms.form.Id.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Order #")}}</small>
                                                <small class="error" ng-show="forms.form.Id.$error.server">{{serverMessages.GetMessage('Id')}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-ng-if="order.CurrentIdStatus" class="form-group">
                                        <label class="col-md-3 control-label">Current Status</label>
                                        <div class="col-md-9 form-control-static">
                                            <span>{{getReferenceItem(orderStatuses, order.CurrentIdStatus).Text}}</span>
                                        </div>
                                    </div>
                                    <div data-ng-if="order.CurrentIdPStatus" class="form-group">
                                        <label class="col-md-3 control-label">P Current Status</label>
                                        <div class="col-md-9 form-control-static">
                                            <span>{{getReferenceItem(orderStatuses, order.CurrentIdPStatus).Text}}</span>
                                        </div>
                                    </div>
                                    <div data-ng-if="order.CurrentIdNPStatus" class="form-group">
                                        <label class="col-md-3 control-label">NP Current Status</label>
                                        <div class="col-md-9 form-control-static">
                                            <span>{{getReferenceItem(orderStatuses, order.CurrentIdNPStatus).Text}}</span>
                                        </div>
                                    </div>
                                    <div data-ng-if="order.OrderPart" class="form-group">
                                        <label for="status" class="col-md-3 control-label">Order Part</label>
                                        <div class="col-md-9">
                                            <select class="form-control" name="OrderPart" data-ng-model="order.OrderPart" ng-options="item.Key as item.Text for item in orderParts"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="status" class="col-md-3 control-label">New Status</label>
                                        <div class="col-md-9">
                                            <select class="form-control" name="Status" data-ng-model="order.Status" ng-options="item.Key as item.Text for item in orderStatuses"></select>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </spinner-overlay>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

