<div class="container-fluid orders">
    <div class="well">
        <span class="legend">Manage Orders</span>
        <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.form.submitted}" novalidate>
            <fieldset>
                <div class="row form-group">
                    <div class="col-md-2">
                        <input type="text" name="IdString" class="form-control" placeholder="Order #" data-ng-model="directOrdersfilter.IdString" autocomplete="off" data-ng-minlength="3">
                        <div class="error-container" ng-show="forms.form.submitted && forms.form.IdString.$invalid">
                            <small class="error" ng-show="forms.form.IdString.$error.minlength">{{getValidationMessage("{0} should have at least 3 symbols","Order #")}}</small>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" data-ng-click="directFilterOrders();" type="button">Locate Order</button>
                    </div>
                </div>
                <hr />
                <div class="row form-group">
                    <div class="col-md-2">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="filter.From" is-open="fromOpened" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="false" ng-click="stopPropagation($event); fromOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="filter.To" is-open="toOpened" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="false" ng-click="stopPropagation($event); toOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ShipDate" data-ng-model="filter.ShipDate" />
                                Ship Date
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <select class="form-control" data-ng-disabled="filter.ShipDate" placeholder="Order Status" data-ng-model="filter.OrderStatus" data-ng-options="item.Key as item.Text for item in orderStatuses"></select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" placeholder="Order Type" data-ng-model="filter.IdOrderSource" data-ng-options="item.Key as item.Text for item in orderTypes"></select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" placeholder="P/NP Type" data-ng-model="filter.POrderType" data-ng-options="item.Key as item.Text for item in pOrderTypes"></select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" placeholder="Customer Type" data-ng-model="filter.IdCustomerType" data-ng-options="item.Key as item.Text for item in customerTypes"></select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" placeholder="Shipping Method" data-ng-model="filter.IdShippingMethod" data-ng-options="item.Key as item.Text for item in shippingMethods"></select>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="row form-group">
            <div class="col-md-4">
                <button class="btn btn-info" data-ng-click="filterOrders();" type="button">Filter</button>
            </div>
        </div>
        <hr />
        <div class="btn-line form-group">
            <button class="btn btn-info btn-right width-160px" data-ng-click="exportOrders();">Export Orders</button>
        </div>
        <spinner-overlay data-loading="refreshTracker.active()">
            <table class="table table-striped table-hover order-statuses">
                <thead>
                    <tr>
                        <th class="actions">Status</th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('IdOrderSource')">
                            <span>Order Type</span>
                            <span data-ng-if="filter.Sorting.Path == 'IdOrderSource'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('IdPaymentMethod')">
                            <span>Payment</span>
                            <span data-ng-if="filter.Sorting.Path == 'IdPaymentMethod'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('DateCreated')">
                            <span>Order Date</span>
                            <span data-ng-if="filter.Sorting.Path == 'DateCreated'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="actions">Ship Date</th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Company')">
                            <span>Company</span>
                            <span data-ng-if="filter.Sorting.Path == 'Company'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('StateCode')">
                            <span>Ship State</span>
                            <span data-ng-if="filter.Sorting.Path == 'StateCode'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('IdCustomerType')">
                            <span>Type</span>
                            <span data-ng-if="filter.Sorting.Path == 'IdCustomerType'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Customer')">
                            <span>Customer</span>
                            <span data-ng-if="filter.Sorting.Path == 'Customer'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Id')">
                            <span>Order ID</span>
                            <span data-ng-if="filter.Sorting.Path == 'Id'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Total')">
                            <span>Order Total</span>
                            <span data-ng-if="filter.Sorting.Path == 'Total'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('DateEdited')">
                            <span>Updated</span>
                            <span data-ng-if="filter.Sorting.Path == 'DateEdited'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="actions">Actions</th>
                        <th>
                            <div class="checkbox-inline">
                                <label class="margin-bottom-0px">
                                    <input data-ng-model="settings.allExport" type="checkbox" data-ng-change="allExportCall()">
                                    <strong>Export</strong>
                                </label>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-class="{'order-notes': item.OrderNotes}" data-ng-repeat="item in items">
                        <td>
                            <div data-ng-if="item.OrderStatus" data-ng-class="{'ban': item.OrderStatus==1, 'exclamation-triangle': item.OrderStatus==2, 'truck': item.OrderStatus==3, 'minus-circle': item.OrderStatus==4, 'check-circle': item.OrderStatus==5, 'calendar': item.OrderStatus==6, 'pause': item.OrderStatus==7}">
                                <i data-ng-if="item.OrderStatus==1" class="fa fa-ban"></i>
                                <i data-ng-if="item.OrderStatus==2" class="fa fa-exclamation-triangle"></i>
                                <i data-ng-if="item.OrderStatus==3" class="fa fa-truck"></i>
                                <i data-ng-if="item.OrderStatus==4" class="fa fa-minus-circle"></i>
                                <i data-ng-if="item.OrderStatus==5" class="fa fa-check-circle"></i>
                                <i data-ng-if="item.OrderStatus==6" class="fa fa-calendar"></i>
                                <i data-ng-if="item.OrderStatus==7" class="fa fa-pause"></i>
                                <span>{{getReferenceItem(ReferenceData.OrderStatuses, item.OrderStatus).Text}}</span>
                            </div>
                            <div data-ng-if="!item.OrderStatus && item.POrderStatus">
                                P -
                                <span data-ng-class="{'ban': item.POrderStatus==1, 'exclamation-triangle': item.POrderStatus==2, 'truck': item.POrderStatus==3, 'minus-circle': item.POrderStatus==4, 'check-circle': item.POrderStatus==5, 'calendar': item.POrderStatus==6, 'pause': item.POrderStatus==7}">
                                    <i data-ng-if="item.POrderStatus==1" class="fa fa-ban"></i>
                                    <i data-ng-if="item.POrderStatus==2" class="fa fa-exclamation-triangle"></i>
                                    <i data-ng-if="item.POrderStatus==3" class="fa fa-truck"></i>
                                    <i data-ng-if="item.POrderStatus==4" class="fa fa-minus-circle"></i>
                                    <i data-ng-if="item.POrderStatus==5" class="fa fa-check-circle"></i>
                                    <i data-ng-if="item.POrderStatus==6" class="fa fa-calendar"></i>
                                    <i data-ng-if="item.POrderStatus==7" class="fa fa-pause"></i>
                                    <span>{{getReferenceItem(ReferenceData.OrderStatuses, item.POrderStatus).Text}}</span>
                                </span>
                            </div>
                            <div data-ng-if="!item.OrderStatus && item.NPOrderStatus">
                                NP -
                                <span data-ng-class="{'ban': item.NPOrderStatus==1, 'exclamation-triangle': item.NPOrderStatus==2, 'truck': item.NPOrderStatus==3, 'minus-circle': item.NPOrderStatus==4, 'check-circle': item.NPOrderStatus==5, 'calendar': item.NPOrderStatus==6, 'pause': item.NPOrderStatus==7}">
                                    <i data-ng-if="item.NPOrderStatus==1" class="fa fa-ban"></i>
                                    <i data-ng-if="item.NPOrderStatus==2" class="fa fa-exclamation-triangle"></i>
                                    <i data-ng-if="item.NPOrderStatus==3" class="fa fa-truck"></i>
                                    <i data-ng-if="item.NPOrderStatus==4" class="fa fa-minus-circle"></i>
                                    <i data-ng-if="item.NPOrderStatus==5" class="fa fa-check-circle"></i>
                                    <i data-ng-if="item.NPOrderStatus==6" class="fa fa-calendar"></i>
                                    <i data-ng-if="item.NPOrderStatus==7" class="fa fa-pause"></i>
                                    <span>{{getReferenceItem(ReferenceData.OrderStatuses, item.NPOrderStatus).Text}}</span>
                                </span>
                            </div>
                        </td>
                        <td class="order-source">
                            <i data-ng-if="item.IdOrderSource==1" class="fa fa-globe"></i>
                            <i data-ng-if="item.IdOrderSource==2" class="fa fa-phone"></i>
                            <i data-ng-if="item.IdOrderSource==3" class="fa fa-envelope"></i>
                            <span>{{getReferenceItem(orderTypes, item.IdOrderSource).Text}}</span>
                        </td>
                        <td class="payment-methods">
                            <i data-ng-if="item.IdPaymentMethod==1" class="fa fa-credit-card"></i>
                            <i data-ng-if="item.IdPaymentMethod==2" class="fa fa-calendar-check-o"></i>
                            <i data-ng-if="item.IdPaymentMethod==3" class="fa fa-envelope"></i>
                            <i data-ng-if="item.IdPaymentMethod==4" class="fa fa-money"></i>
                            <i data-ng-if="item.IdPaymentMethod==5" class="fa fa-money"></i>
                            <i data-ng-if="item.IdPaymentMethod==6" class="fa fa-university"></i>
                            <i data-ng-if="item.IdPaymentMethod==7" class="fa fa-gift"></i>
                            <i data-ng-if="item.IdPaymentMethod==8" class="fa fa-users"></i>
                            <span>{{getReferenceItem(ReferenceData.ShortPaymentMethods, item.IdPaymentMethod).Text}}</span>
                        </td>
                        <td>{{::item.DateCreated | date:"MM/dd/yy"}}<br />{{::item.DateCreated | date:"h:mm a"}}</td>
                        <td>
                            <span data-ng-if="item.DateShipped">All - {{::item.DateShipped | date:"MM/dd/yy"}}</span>
                            <span data-ng-if="!item.DateShipped && item.PDateShipped">P - {{::item.PDateShipped | date:"MM/dd/yy"}}<br /></span>
                            <span data-ng-if="!item.DateShipped && item.NPDateShipped">NP - {{::item.NPDateShipped | date:"MM/dd/yy"}}</span>
                        </td>
                        <td>{{::item.Company}}</td>
                        <td>{{::item.StateCode}}</td>
                        <td>
                            <span data-ng-if="item.IdCustomerType == 1" class="label label-retail font-default">{{getReferenceItem(ReferenceData.ShortCustomerTypes, item.IdCustomerType).Text}}</span>
                            <span data-ng-if="item.IdCustomerType == 2" class="label label-wholesale font-default">{{getReferenceItem(ReferenceData.ShortCustomerTypes, item.IdCustomerType).Text}}</span>
                        </td>
                        <td>
                            <a ui-sref="index.oneCol.customerDetail({id:item.IdCustomer})">{{::item.Customer}}</a>
                        </td>
                        <td>
                            <a ui-sref="index.oneCol.orderDetail({id:item.Id})">{{::item.Id}}</a>
                        </td>
                        <td>{{::item.Total | currency}}</td>
                        <td>{{::item.DateEdited | date:"MM/dd/yy"}}<br />{{::item.DateEdited | date:"h:mm a"}}<br />{{::item.EditedByAgentId}}</td>
                        <td>
                            <a class="btn btn-default btn-primary btn-xs" target="_blank" data-ng-href="/api/orderinvoice/base/{{::item.Id}}">
                                <i class="fa fa-search"></i>
                            </a>
                            <button title="Edit" class="btn btn-default btn-success btn-xs" data-ng-click="openOrder(item.Id);">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button title="Delete" data-ng-if="item.OrderStatus==1 || item.OrderStatus==2 || item.OrderStatus==6 || item.OrderStatus==7" class="btn btn-default btn-danger btn-xs" ladda="deleteTracker.active()" data-ng-click="delete(item.Id);">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                        <td>
                            <input data-ng-disabled="!item.AllowExport" data-ng-model="item.IsSelected" type="checkbox" data-ng-change="itemExportChanged(item)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </spinner-overlay>
        <pagination boundary-links="true"
                    total-items="totalItems"
                    items-per-page="filter.Paging.PageItemCount"
                    data-ng-model="filter.Paging.PageIndex"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    data-ng-change="pageChanged()">
        </pagination>
    </div>
</div>