<div class="container-fluid order-edit order-refund-edit">
    <div class="left-pane-controls">
        <div class="well container-fluid">
            <div data-ng-if="!order.Id">
                <button data-ng-click="save()" class="btn btn-success width-160px" unsaved-warning-clear>Submit Refund</button>
            </div>
            <div data-ng-if="order.Id && order.OrderStatus!=4">
                <button data-ng-click="cancelRefund()" class="btn btn-default width-160px" unsaved-warning-clear>Cancel Refund</button>
            </div>
            <div class="margin-top-10px">
                <button ui-sref="index.oneCol.manageOrders" class="btn btn-default width-160px" unsaved-warning-clear>Cancel</button>
            </div>
            <div class="margin-top-10px">
                <button class="btn btn-primary width-160px" ui-sref="index.oneCol.manageOrders">Manage All</button>
            </div>
            <div class="margin-top-10px">
                <button class="btn btn-info width-160px" data-ng-if="validatePermission(1)" data-ng-click="goToCustomer();">Manage Customer</button>
            </div>
        </div>
        <div ng-controller="objectHistorySectionController" onload="name = 'History'" data-ng-include="'app/modules/order/partials/orderObjectHistorySection.html'"></div>
    </div>
    <div class="right-pane-main">
        <div class="container-fluid">
            <div class="row">
                <span class="legend top">
                    <span data-ng-if="legend.IdOrderSource" class="item">Associated Order ID: <a ui-sref="index.oneCol.orderDetail({id: legend.IdOrderSource })"><strong>{{legend.IdOrderSource}}</strong></a></span>
                    <br />
                    <span data-ng-if="legend.OrderSourceRefundIds" class="item">
                        Associated Refund IDs:
                        <br data-ng-if="legend.OrderSourceRefundIds.length==0" />
                        <span data-ng-repeat="item in legend.OrderSourceRefundIds">
                            <span data-ng-if="!$first" class="refund-ids-section"></span>
                            <a ui-sref="index.oneCol.orderRefundDetail({id: item })"><strong>{{item}}</strong></a><br />
                        </span>
                    </span>
                    <span class="item">Customer: <strong>{{legend.CustomerName}}</strong></span>
                    <span class="item">Customer ID: <strong>{{legend.CustomerId}}</strong></span>
                    <br />
                    <span class="item">Order Date: <strong>{{::legend.OrderSourceDateCreated | date:"MM/dd/yy"}} {{::legend.OrderSourceDateCreated | date:"h:mm a"}}</strong></span>
                    <span class="item">Total Order Amount: <strong>{{legend.OrderSourceTotal | currency}}</strong></span>
                    <span class="item">Form of Payment: <strong>{{::getReferenceItem(ReferenceData.PaymentMethods, legend.OrderSourcePaymentMethodType).Text}}</strong></span>
                    <br />
                    <span data-ng-if="legend.OrderId" class="item">Order ID: <strong>{{legend.OrderId}}</strong></span>
                    <span data-ng-if="legend.OrderDate" class="item">Order Date: <strong>{{legend.OrderDate | date:"MM/dd/yy"}} {{::legend.OrderDate | date:"h:mm a"}}</strong></span>
                    <span data-ng-if="legend.OrderStatus" class="item">Status: <strong>{{legend.OrderStatus}}</strong></span>
                </span>
            </div>
            <div class="row">
                <uib-tabset active="options.activeTabIndex">
                    <uib-tab heading="{{mainTab.name}}" index="mainTab.index">
                        <div class="container container-left xbig-container">
                            <div class="well row">
                                <spinner-overlay data-loading="addEditTracker.active()">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form-horizontal" name="forms.topForm" data-ng-submit="save()" data-ng-class="{submitted: forms.topForm.submitted}" novalidate unsaved-warning-form>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label for="type" class="col-md-3 control-label">Service Code</label>
                                                        <div class="col-md-9">
                                                            <select data-ng-disabled="order.Id" class="form-control" name="ServiceCode" data-ng-model="order.ServiceCode" ng-options="item.Key as item.Text for item in ReferenceData.ServiceCodes" required></select>
                                                            <div class="error-container" ng-show="forms.topForm.submitted && forms.topForm.ServiceCode.$invalid">
                                                                <small class="error" ng-show="forms.topForm.ServiceCode.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Service Code")}}</small>
                                                                <small class="error" ng-show="forms.topForm.ServiceCode.$error.server">{{serverMessages.GetMessage('ServiceCode')}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label"></label>
                                                        <div class="col-md-9">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" data-ng-disabled="order.Id" data-ng-model="order.ReturnAssociated">
                                                                    <strong>Is there a product return associated with this Customer Service call?</strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Notes</label>
                                                        <div class="col-md-9">
                                                            <textarea type="text" name="OrderNotes" class="form-control" placeholder="Notes" rows="5" data-ng-model="order.OrderNotes" data-ng-disabled="order.Id" required></textarea>
                                                            <div class="error-container" ng-show="forms.topForm.submitted && forms.topForm.OrderNotes.$invalid">
                                                                <small class="error" ng-show="forms.topForm.OrderNotes.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Order Notes")}}</small>
                                                                <small class="error" ng-show="forms.topForm.OrderNotes.$error.server">{{serverMessages.GetMessage('OrderNotes')}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="col-md-12 form-horizontal products">
                                            <span class="legend">Products</span>
                                            <form class="form-horizontal" name="forms.mainForm" data-ng-submit="save()" data-ng-class="{submitted: forms.mainForm.submitted}" novalidate unsaved-warning-form>
                                                <fieldset>
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td class="activate-all">
                                                                    <div class="input-group">
                                                                        <label>
                                                                            <input data-ng-model="options.allActiveRefundSkus" type="checkbox" data-ng-disabled="order.Id" data-ng-change="toggleAllActiveRefundSkus()" />
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <th colspan="7"></th>
                                                            </tr>
                                                            <tr data-ng-form="i{{$index}}" data-ng-repeat="item in order.RefundSkus">
                                                                <td class="redeem">
                                                                    <div class="input-group">
                                                                        <select class="form-control" name="Redeem" data-ng-model="item.Redeem" data-ng-change="requestRecalculate()" ng-options="item.Key as item.Text for item in ReferenceData.RefundRedeemOptions" data-ng-disabled="item.Disabled || orderEditDisabled"></select>
                                                                    </div>
                                                                </td>
                                                                <td class="activate">
                                                                    <div class="input-group">
                                                                        <label>
                                                                            <input data-ng-model="item.Active" type="checkbox" data-ng-change="toggleRefundSku()" data-ng-disabled="item.Disabled || orderEditDisabled">
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td class="sku">
                                                                    <div class="text">{{item.Code}}</div>
                                                                </td>
                                                                <td class="type">
                                                                    <span data-ng-if="item.IdProductType==2" class="perishable">P</span>
                                                                    <span data-ng-if="item.IdProductType==1" class="not-perishable">NP</span>
                                                                    <span data-ng-if="item.IdProductType==3" class="perishable">eGC</span>
                                                                    <span data-ng-if="item.IdProductType==4" class="perishable">GC</span>
                                                                </td>
                                                                <td class="qty">
                                                                    <input name="Quantity" class="form-control" placeholder="QTY" numbers-only numbers-only-deny-zero min="1" max="1000" data-ng-blur="requestRecalculate()" data-ng-model="item.Quantity" data-ng-disabled="item.Disabled || orderEditDisabled">
                                                                </td>
                                                                <td class="percent">
                                                                    <div class="input-group">
                                                                        <input name="RefundPercent" class="form-control number" placeholder="Percent" money data-ng-model="item.RefundPercent" data-ng-blur="requestRecalculate()" min="0" max="100" required data-ng-disabled="item.Disabled || orderEditDisabled">
                                                                        <div class="error-container" ng-show="forms.mainForm.submitted && forms.mainForm.i{{$index}}.RefundPercent.$invalid">
                                                                            <small class="error" ng-show="forms.mainForm.i{{$index}}.RefundPercent.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Percent")}}</small>
                                                                            <small class="error" ng-show="forms.mainForm.i{{$index}}.RefundPercent.$error.max">{{getValidationMessage("ValidationMessages.FieldMax","Percent",100)}}</small>
                                                                            <small class="error" ng-show="forms.mainForm.i{{$index}}.RefundPercent.$error.min">{{getValidationMessage("ValidationMessages.FieldMin","Percent",0)}}</small>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="product-name">
                                                                    <div class="text">{{item.ProductName}}</div>
                                                                </td>
                                                                <td class="price">
                                                                    <div class="col-md-12 padding-0px">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon">$</span>
                                                                            <input type="text" name="RefundPrice" class="form-control" placeholder="Price" money min="0.00" max="100000" required="" data-ng-model="item.RefundPrice" data-ng-blur="requestRecalculate()" data-ng-disabled="item.Disabled || orderEditDisabled">
                                                                        </div>
                                                                        <div class="error-container" ng-show="forms.mainForm.submitted && forms.mainForm.i{{$index}}.RefundPrice.$invalid">
                                                                            <small class="error" ng-show="forms.mainForm.i{{$index}}.RefundPrice.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Price")}}</small>
                                                                            <small class="error" ng-show="forms.mainForm.i{{$index}}.RefundPrice.$error.max">{{getValidationMessage("ValidationMessages.FieldMax","Price",100)}}</small>
                                                                            <small class="error" ng-show="forms.mainForm.i{{$index}}.RefundPrice.$error.min">{{getValidationMessage("ValidationMessages.FieldMin","Price",100000)}}</small>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="amount">
                                                                    <div class="amount">{{item.RefundValue | currency}}</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="col-md-12">
                                            <form class="form-horizontal" name="forms.mainForm2" data-ng-submit="save()" data-ng-class="{submitted: forms.mainForm2.submitted}" novalidate unsaved-warning-form>
                                                <fieldset>
                                                    <div class="form-group margin-bottom-0px">
                                                        <label class="col-md-11 control-label">Product Subtotal</label>
                                                        <div class="col-md-1 padding-left-zero form-control-static">
                                                            <span>{{order.ProductsSubtotal | currency}}</span>
                                                        </div>
                                                    </div>
                                                    <div data-ng-if="order.DiscountCode">
                                                        <span class="legend">Discounts</span>
                                                        <div class="form-group margin-bottom-0px">
                                                            <label class="col-md-3 control-label">Discount Code</label>
                                                            <div class="col-md-6 form-control-static">
                                                                <span>{{order.DiscountCode}} ({{order.DiscountMessage}})</span>
                                                            </div>
                                                            <label class="col-md-2 control-label">Amount</label>
                                                            <div class="col-md-1 padding-left-zero form-control-static">
                                                                <span>({{order.DiscountTotal | currency}})</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="legend">Shipping</span>
                                                    <div class="form-group">
                                                        <label for="shippingrefunded" class="col-md-1 control-label"></label>
                                                        <div class="col-md-6 padding-left-30px">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input id="shippingrefunded" type="checkbox" name="ShippingRefunded" data-ng-model="order.ShippingRefunded" data-ng-change="requestRecalculate()" data-ng-disabled="order.DisableShippingRefunded || order.Id"/>
                                                                    <strong>Shipping Charges</strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <label class="col-md-2 control-label">Amount</label>
                                                        <div class="col-md-3">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <input type="text" name="ManualShippingTotal" class="form-control" placeholder="Shipping Charges" money max="100000" min="0.00" data-ng-blur="requestRecalculate()" data-ng-model="order.ManualShippingTotal" data-ng-disabled="!order.ShippingRefunded || order.DisableShippingRefunded || order.Id" data-ng-required="!(!order.ShippingRefunded || order.DisableShippingRefunded || order.Id)">
                                                            </div>
                                                            <div class="error-container" ng-show="forms.mainForm2.submitted && forms.mainForm2.ManualShippingTotal.$invalid">
                                                                <small class="error" ng-show="forms.mainForm2.ManualShippingTotal.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Shipping Charges")}}</small>
                                                                <small class="error" ng-show="forms.mainForm2.ManualShippingTotal.$error.parse">{{getValidationMessage("ValidationMessages.FieldRequired","Shipping Charges")}}</small>
                                                                <small class="error" ng-show="forms.mainForm2.ManualShippingTotal.$error.max">{{getValidationMessage("ValidationMessages.FieldMax","Shipping Charges",1000000)}}</small>
                                                                <small class="error" ng-show="forms.mainForm2.ManualShippingTotal.$error.min">{{getValidationMessage("{0} must be over $0.00","Shipping Charges")}}</small>
                                                                <small class="error" ng-show="forms.mainForm2.ManualShippingTotal.$error.server">{{serverMessages.GetMessage('ManualShippingTotal')}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-ng-if="order.RefundOrderToGiftCertificates && order.RefundOrderToGiftCertificates.length>0">
                                                        <span class="legend">Gift Certificates Used On Order</span>
                                                        <div class="form-group margin-bottom-0px" data-ng-repeat="item in order.RefundOrderToGiftCertificates">
                                                            <label for="shippingrefunded" class="col-md-3 control-label">Gift Certificate</label>
                                                            <div class="col-md-7 form-control-static">
                                                                <div>
                                                                    <span>
                                                                        <span>{{item.Code}}</span>
                                                                        <span data-ng-if="item.AmountRefunded">&nbsp;(Refunded {{item.AmountRefunded | currency}})</span>
                                                                        <span data-ng-if="item.Amount && order.Id">&nbsp;(In this refund {{item.Amount | currency}})</span>
                                                                        <span>&nbsp;(Amount {{item.AmountUsedOnSourceOrder | currency}})</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div data-ng-if="$last">
                                                                <label class="col-md-1 control-label">Amount</label>
                                                                <div class="col-md-1 padding-left-zero form-control-static">
                                                                    <span>({{order.GiftCertificatesUsedAmountOnSourceOrder | currency}})</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="legend"></span>
                                                    <div>
                                                        <div class="col-md-8"></div>
                                                        <div class="col-md-4 padding-left-zero padding-right-zero">
                                                            <div class="total-section">
                                                                <div class="form-group margin-bottom-0px">
                                                                    <label class="col-md-8 control-label">Discounted Subtotal</label>
                                                                    <div class="col-md-4 form-control-static">
                                                                        <span>{{order.DiscountedSubtotal | currency}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group margin-bottom-0px">
                                                                    <label class="col-md-8 control-label">Shipping Total</label>
                                                                    <div class="col-md-4 form-control-static">
                                                                        <span>{{order.ShippingTotal | currency}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group margin-bottom-0px">
                                                                    <label class="col-md-8 control-label">Tax</label>
                                                                    <div class="col-md-4 form-control-static">
                                                                        <span>{{order.TaxTotal | currency}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group margin-bottom-0px">
                                                                    <label class="col-md-8 control-label">Total to be Refunded</label>
                                                                    <div class="col-md-4 form-control-static">
                                                                        <span>({{order.AutoTotal | currency}})</span>
                                                                    </div>
                                                                </div>
                                                            </div></div>
                                                    </div>
                                                    <div data-ng-if="order.RefundOrderToGiftCertificates && order.RefundOrderToGiftCertificates.length>0">
                                                        <span class="legend">Refund Back to Gift Certificate</span>
                                                        <div class="form-group">
                                                            <label for="gcsrefund" class="col-md-1 control-label"></label>
                                                            <div class="col-md-6 padding-left-30px">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input id="gcsrefund" type="checkbox" name="RefundGiftCertificatesEnable" data-ng-model="options.RefundGiftCertificatesEnable" data-ng-change="toggleRefundGiftCertificates()" data-ng-disabled="order.Id"/>
                                                                        <strong>Refund Gift Certificates Used On Order</strong>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <label class="col-md-2 control-label">Amount</label>
                                                            <div class="col-md-3">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">$</span>
                                                                    <input type="text" name="RefundGCsUsedOnOrder" class="form-control" placeholder="Refund Gift Certificates" money max="100000" min="0.00" data-ng-blur="requestRecalculate()" data-ng-model="order.RefundGCsUsedOnOrder" data-ng-disabled="!options.RefundGiftCertificatesEnable || order.Id" data-ng-required="!(!options.RefundGiftCertificatesEnable || order.Id)">
                                                                </div>
                                                                <div class="error-container" ng-show="forms.mainForm2.submitted && forms.mainForm2.RefundGCsUsedOnOrder.$invalid">
                                                                    <small class="error" ng-show="forms.mainForm2.RefundGCsUsedOnOrder.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Refund Gift Certificates")}}</small>
                                                                    <small class="error" ng-show="forms.mainForm2.RefundGCsUsedOnOrder.$error.parse">{{getValidationMessage("ValidationMessages.FieldRequired","Refund Gift Certificates")}}</small>
                                                                    <small class="error" ng-show="forms.mainForm2.RefundGCsUsedOnOrder.$error.max">{{getValidationMessage("ValidationMessages.FieldMax","Refund Gift Certificates",1000000)}}</small>
                                                                    <small class="error" ng-show="forms.mainForm2.RefundGCsUsedOnOrder.$error.min">{{getValidationMessage("{0} must be over $0.00","Refund Gift Certificates")}}</small>
                                                                    <small class="error" ng-show="forms.mainForm2.RefundGCsUsedOnOrder.$error.server">{{serverMessages.GetMessage('RefundGCsUsedOnOrder')}}</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="legend">Manual Override</span>
                                                    <div class="form-group">
                                                        <label for="manualoverriderefund" class="col-md-1 control-label"></label>
                                                        <div class="col-md-6 padding-left-30px">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input id="manualoverriderefund" type="checkbox" name="ManualRefundOverrideEnable" data-ng-model="options.ManualRefundOverrideEnable" data-ng-change="toggleManualRefundOverride()" data-ng-disabled="order.Id"/>
                                                                    <strong>Manual Override</strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <label class="col-md-2 control-label">Amount</label>
                                                        <div class="col-md-3">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">$</span>
                                                                <input type="text" name="ManualRefundOverride" class="form-control" placeholder="Manual Override Amount" money max="100000" min="0.00" data-ng-blur="requestRecalculate()" data-ng-model="order.ManualRefundOverride" data-ng-disabled="!options.ManualRefundOverrideEnable || order.Id" data-ng-required="!(!options.ManualRefundOverrideEnable || order.Id)">
                                                            </div>
                                                            <div class="error-container" ng-show="forms.mainForm2.submitted && forms.mainForm2.ManualRefundOverride.$invalid">
                                                                <small class="error" ng-show="forms.mainForm2.ManualRefundOverride.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Manual Override Amount")}}</small>
                                                                <small class="error" ng-show="forms.mainForm2.ManualRefundOverride.$error.parse">{{getValidationMessage("ValidationMessages.FieldRequired","Manual Override Amount")}}</small>
                                                                <small class="error" ng-show="forms.mainForm2.ManualRefundOverride.$error.max">{{getValidationMessage("ValidationMessages.FieldMax","Manual Override Amount",1000000)}}</small>
                                                                <small class="error" ng-show="forms.mainForm2.ManualRefundOverride.$error.min">{{getValidationMessage("{0} must be over $0.00","Manual Override Amount")}}</small>
                                                                <small class="error" ng-show="forms.mainForm2.ManualRefundOverride.$error.server">{{serverMessages.GetMessage('ManualRefundOverride')}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="col-md-8"></div>
                                                        <div class="col-md-4 total-section margin-left-zero padding-right-zero padding-left-zero">
                                                            <div>
                                                                <label class="col-md-9 control-label">Refund To Be Submitted</label>
                                                                <div class="col-md-3 form-control-static">
                                                                    <span>({{order.Total | currency}})</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </spinner-overlay>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Shipping Address" index="shippingAddressTab.index">
                        <div class="container container-left">
                            <div class="well row">
                                <spinner-overlay data-loading="addEditTracker.active()">
                                    <div data-ng-include="'app/modules/customer/partials/updateOrderShippingSection.html'"></div>
                                </spinner-overlay>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Payment Information" index="paymentInfoTab.index">
                        <div class="container container-left">
                            <div class="well row">
                                <spinner-overlay data-loading="addEditTracker.active()">
                                    <div class="form-horizontal">
                                        <div>
                                            <form class="form-horizontal" name="forms.oac" data-ng-class="{submitted: forms.submitted['oac']}" novalidate unsaved-warning-form>
                                                <fieldset>
                                                    <div>
                                                        <span class="legend">Billing Address</span>
                                                        <div data-ng-include="'app/modules/customer/partials/address.html'" data-ng-repeat="model in [buildOrderPaymentPartial(order.Oac, order.OnHold)]"></div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </spinner-overlay>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>