<div class="container-fluid shipped-order-listing-report">
    <div class="well">
        <span class="legend">Shipped Order Listing</span>
        <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.form.submitted}" novalidate>
            <fieldset>
                <div class="row form-group">
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" class="form-control" name="From" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="filter.From" is-open="fromOpened" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="stopPropagation($event); fromOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <div class="error-container" ng-show="forms.form.submitted && forms.form.From.$invalid">
                            <small class="error" ng-show="forms.form.From.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","From")}}</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" class="form-control" name="To" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="filter.To" is-open="toOpened" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="stopPropagation($event); toOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <div class="error-container" ng-show="forms.form.submitted && forms.form.To.$invalid">
                            <small class="error" ng-show="forms.form.To.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","To")}}</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group autocomplete col-md-12">
                            <input type="text" name="SkuCode" class="form-control" placeholder="Product SKU" data-ng-model="filter.SkuCode" autocomplete="off"
                                   typeahead-min-length="1" uib-typeahead="sku.Code as sku.Code for sku in getSKUsBySKU($viewValue)" typeahead-loading="loadingSKUsBySKU"
                                   typeahead-wait-ms="200">
                            <span class="input-group-addon">
                                <i ng-show="loadingSKUsBySKU" class="glyphicon glyphicon-refresh"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <button class="btn btn-info" data-ng-click="filterItems();" type="button">Filter</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <spinner-overlay data-loading="refreshTracker.active()">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Original Order #</th>
                            <th>Order Date</th>
                            <th>Customer Last Name</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in items">
                            <td>
                                <a ui-sref="{{::item.IdObjectType==5 ? 'index.oneCol.orderReshipDetail({id: item.Id })' : item.IdObjectType==6 ? 'index.oneCol.orderRefundDetail({id: item.Id })' : 'index.oneCol.orderDetail({id: item.Id })'}}">{{::item.Id}}</a>
                            </td>
                            <td>
                                <a ui-sref="{{::item.OrderSourceIdObjectType==5 ? 'index.oneCol.orderReshipDetail({id: item.IdOrderSource })' : item.OrderSourceIdObjectType==6 ? 'index.oneCol.orderRefundDetail({id: item.IdOrderSource })' : 'index.oneCol.orderDetail({id: item.IdOrderSource })'}}">{{::item.IdOrderSource}}</a>
                            </td>
                            <td>{{::item.DateCreated | date:"MM/dd/yy"}}<br />{{::item.DateCreated | date:"h:mm a"}}</td>
                            <td>{{::item.LastName}}</td>
                            <td>{{::item.OrderNotes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </spinner-overlay>
    </div>
</div>