<div class="modal-header">
	<h3 class="modal-title">Send Order Confirmation Email</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.submitted}" novalidate>
		<fieldset>
			<div class="form-group">
				<label class="col-md-3 control-label">Email</label>
				<div class="col-md-9">
					<input type="email" name="Email" class="form-control" placeholder="Email" data-ng-model="options.Email" required>
                    <div class="error-container" ng-show="forms.submitted && forms.form.Email.$invalid">
                        <small class="error" ng-show="forms.form.Email.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Email")}}</small>
                        <small class="error" ng-show="forms.form.Email.$error.email">{{getValidationMessage("ValidationMessages.EmailFormat","GeneralFieldNames.Email")}}</small>
                        <small class="error" ng-show="forms.form.Email.$error.server">{{serverMessages.GetMessage('Email')}}</small>
                    </div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ladda="refreshTracker.active()" data-ng-click="save()">Send</button>
	<button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
