<div class="container-fluid shipped-via-summary-report">
    <div class="well">
        <span class="legend">Shipped Via Report</span>
        <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.form.submitted}" novalidate>
            <fieldset>
                <div class="row form-group">
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" class="form-control" name="From" data-ng-change="filterChanged();" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="filter.From" is-open="fromOpened" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="stopPropagation($event); fromOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <div class="error-container" ng-show="forms.form.submitted && forms.form.From.$invalid">
                            <small class="error" ng-show="forms.form.From.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","From")}}</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" class="form-control" name="To" data-ng-change="filterChanged();" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="filter.To" is-open="toOpened" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="stopPropagation($event); toOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <div class="error-container" ng-show="forms.form.submitted && forms.form.To.$invalid">
                            <small class="error" ng-show="forms.form.To.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","To")}}</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="IdState" data-ng-model="filter.IdState" ng-options="item.Id as item.StateName for item in states"></select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="IdServiceCode" data-ng-model="filter.IdServiceCode" ng-options="item.Key as item.Text for item in serviceCodes"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <button class="btn btn-info" data-ng-click="filterItems();" type="button">Filter</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <spinner-overlay data-loading="refreshTracker.active()">            
            <div data-ng-repeat="warehouses in report.Warehouses">
                <span class="legend">{{warehouses.WarehouseName}}</span>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-ng-repeat="carrier in warehouses.ShipMethods[0].Carriers">
                                {{carrier.Carrier}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="shipMethod in warehouses.ShipMethods">
                            <td>{{shipMethod.ShipMethodTypeName}}</td>
                            <td data-ng-repeat="carrier in shipMethod.Carriers">
                                <a data-ng-click="openDetails(warehouses.Warehouse, shipMethod.ShipMethodType, carrier.Carrier)">{{carrier.Count}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </spinner-overlay>
    </div>
</div>