@using VitalChoice.Domain.Entities.Options;
@inject Microsoft.Framework.OptionsModel.IOptions<AppOptions> appOptions;
<!DOCTYPE html>
<html data-ng-app="mainApp" data-ng-strict-di data-ng-init="buildNumber='@appOptions.Options.Versioning.BuildNumber'">
<head>
    <base href="/">
    <title>Vital Choice Admin panel</title>
    <link rel="icon" type="img/ico" href="/assets/miscellaneous/favicon.ico">
    @await Component.InvokeAsync("Assets", "styles")
</head>
<body>
	<div data-ui-view=""></div>
	@await Component.InvokeAsync("Assets", "scripts")
</body>
</html>