@model System.Collections.Generic.Dictionary<string,string>

@section Meta {
    <title>Vital Choice | Vital Choice Web Affiliate Program</title>
}

<div class="working-area-holder">
    <div class="left-pane clean-border">
        @await Component.InvokeAsync("AffiliateProfileSidebar")
    </div>
    <div class="right-pane clean-indent">
        <div class="border-form-left">
            @await Component.InvokeAsync("Area", "Affiliate Landing Area", Model)
        </div>
    </div>
</div>