@model VC.Public.Models.Profile.ChangePasswordModel

@section Meta {
	<title>Vital Choice | Vital Choice Web Affiliate Program</title>
}

<div class="working-area-holder">
	<div class="left-pane">
		@await Component.InvokeAsync("AffiliateProfileSidebar")
	</div>
	<div class="right-pane">
		<h4>Vital Choice Web Affiliate Program</h4>
	</div>
</div>