@model System.Collections.Generic.Dictionary<string,string>

@section Meta {
    <title>Vital Choice | Vital Choice Web Affiliate Program</title>
}

<div class="working-area-holder">
    <div class="left-pane clean-border">
        @await Component.InvokeAsync("AffiliateProfileSidebar")
    </div>
    <div class="right-pane clean-indent">
        <div class="border-form-left">
            @if (Model.ContainsKey("LEAN"))
            {
                @await Component.InvokeAsync("Area", new {name = "Affiliate Landing LEAN Area", data = Model})
            }
            else
            {
                @await Component.InvokeAsync("Area", new { name = "Affiliate Landing Area", data = Model })
            }
        </div>
    </div>
</div>