@model IList<VitalChoice.Infrastructure.Domain.Transfer.Affiliates.PaymentHistoryLineItemModel>

@section Meta {
	<title>Vital Choice | Payment History</title>
}

<div class="working-area-holder">
	<div class="left-pane clean-border">
		@await Component.InvokeAsync("AffiliateProfileSidebar")
	</div>
	<div class="right-pane clean-indent payment-history">
		<div class="border-form-left">
			<h4>Payment History</h4>
			<table class="standard-table">
				<thead>
					<tr>
						<th class="date">
							Date
						</th>
						<th class="amount align-right">
                            Amount
                        </th>
					</tr>
				</thead>
				<tbody>
                @if (Model.Any())
                {
					@foreach (var item in Model)
					{
						<tr>
							<td class="date">@item.DateCreated.ToString("MM/yyyy")</td>
                            <td class="amount align-right">@item.Amount.ToString("C2")</td>
						</tr>
					}	
                }
				</tbody>
			</table>
            @if (Model.Any())
            {
                <div class="total margin-top-small">
                    <strong>Total Paid: </strong>
                    <span> @Model.Sum(p=>p.Amount).ToString("C2")</span>
                </div>
            }
		</div>
	</div>
</div>