<div class="container container-left small-container">
	<div class="well">
		<spinner-overlay data-loading="resetTracker.active()">
			<form class="form-horizontal" name="resetForm" data-ng-submit="resetPassword(resetForm)" data-ng-class="{submitted: resetForm.submitted}" novalidate>
				<fieldset>
					<legend>Reset Your Password</legend>
				    <div class="form-group">
						<label class="col-md-3 control-label">Email</label>
						<div class="col-md-9">
							<input type="email" name="Email" class="form-control" placeholder="Email" data-ng-model="reset.Email" required data-ng-maxlength="100">
							<div class="error-container" ng-show="resetForm.submitted && resetForm.Email.$invalid">
								<small class="error" ng-show="resetForm.Email.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Email")}}</small>
								<small class="error" ng-show="resetForm.Email.$error.email">{{getValidationMessage("ValidationMessages.EmailFormat","GeneralFieldNames.Email")}}</small>
								<small class="error" ng-show="resetForm.Email.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.Email", "100"])}}</small>
								<small class="error" ng-show="resetForm.Email.$error.server">{{serverMessages.GetMessage('Email')}}</small>
							</div>
						</div>
					</div>
                    <span class="help-block small color-red">*Must be at least 8 characters long, contain at least 1 numerical digit, 1 capital character, 1 lowercase character and 1 special character.<br/>Example: Dontuse!@1</span>
					<div class="form-group">
						<label class="col-md-3 control-label">Password</label>
						<div class="col-md-9">
							<input type="password" name="Password" class="form-control" data-ng-model="reset.Password" placeholder="Password" required>
							<div class="error-container" ng-show="resetForm.submitted && resetForm.Password.$invalid">
								<small class="error" ng-show="resetForm.Password.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Password")}}</small>
								<small class="error" ng-show="resetForm.Password.$error.server">{{serverMessages.GetMessage('Password')}}</small>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Confirm Password</label>
						<div class="col-md-9">
							<input type="password" name="ConfirmPassword" class="form-control" data-ng-model="reset.ConfirmPassword" placeholder="Confirm Password" required>
							<div class="error-container" ng-show="resetForm.submitted && resetForm.ConfirmPassword.$invalid">
								<small class="error" ng-show="resetForm.ConfirmPassword.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.ConfirmPassword")}}</small>
								<small class="error" ng-show="resetForm.ConfirmPassword.$error.server">{{serverMessages.GetMessage('ConfirmPassword')}}</small>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="margin-top-20px">
					<button type="button" data-ng-click="resetPassword(resetForm)" ladda="resetTracker.active()" class="btn btn-success">Reset</button>
				</div>
			</form>
		</spinner-overlay>
	</div>
</div>
