@model  VitalChoice.Domain.Transfer.Base.PagedList<VC.Public.Models.Profile.OrderHistoryItemModel>

@section Meta {
	<title>Vital Choice | Full Order History</title>
}

<div class="working-area-holder">
	<div class="left-pane clean-border">
		@await Component.InvokeAsync("ProfileSidebar")
	</div>
	<div class="right-pane clean-indent">
		<div class="border-form-left">
		<h4>Full Order History</h4>
			<div id="ordersGrid">@Html.Partial("_OrderHistoryGrid", Model)</div>
		</div>
	</div>
</div>