@model  VitalChoice.Ecommerce.Domain.Transfer.PagedListEx<VC.Public.Models.Profile.OrderHistoryItemModel>

@section Meta {
	<title>Vital Choice | Full Order History</title>
}

@section PageScripts {
    <script src="@Url.Content("/app/modules/profile/gccheckform.js")"></script>
}

<div class="working-area-holder">
	<div class="left-pane clean-border">
		@await Component.InvokeAsync("ProfileSidebar")
	</div>
	<div class="right-pane clean-indent">
		<div class="border-form-left">
		<h4>Full Order History</h4>
			<div id="gridcontainer">@Html.Partial("_OrderHistoryGrid", Model)</div>
		</div>
	</div>
</div>