@model VC.Public.Models.Profile.ChangePasswordModel

@section Meta {
	<title>Vital Choice | Top Favorite Items</title>
}

<div class="working-area-holder">
	<div class="left-pane">
		@await Component.InvokeAsync("ProfileSidebar")
	</div>
	<div class="right-pane">
		<h4>Top Favorite Items</h4>
	</div>
</div>