@using Microsoft.Extensions.Options
@using VitalChoice.Infrastructure.Domain.Options
@inject IOptions<AppOptions> appOptions

@section Meta {
    <title>Vital Choice</title>
}

<div class="working-area-holder">
    <div class="left-pane clean-border">
        @await Component.InvokeAsync("ProfileSidebar")
    </div>
    <div class="right-pane clean-indent">
        <div class="border-form-left">
            @await Component.InvokeAsync("Area", new { name = "Wholesale Welcome Area", data = Model })
        </div>
    </div>
</div>