<div class="modal-header">
    <h3 class="modal-title">Add / Edit Redirect</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="forms.form" data-ng-class="{submitted: forms.submitted}" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label">Source Relative URL</label>
                <div class="col-md-9">
                    <input type="text" name="From" class="form-control" placeholder="Relative URL" data-ng-model="redirect.From" required>
                    <div class="error-container" ng-show="forms.submitted && forms.form.From.$invalid">
                        <small class="error" ng-show="forms.form.From.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Url")}}</small>
                        <small class="error" ng-show="forms.form.From.$error.server">{{serverMessages.GetMessage('From')}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="ignorequery" class="col-md-3 control-label">Ignore Query Params</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <label><input type="checkbox" id="ignorequery" name="IgnoreQuery" data-ng-model="redirect.IgnoreQuery" /></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Redirect URL</label>
                <div class="col-md-9">
                    <input type="text" name="To" class="form-control" placeholder="Redirect URL" data-ng-model="redirect.To" required>
                    <div class="error-container" ng-show="forms.submitted && forms.form.To.$invalid">
                        <small class="error" ng-show="forms.form.To.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.RedirectUrl")}}</small>
                        <small class="error" ng-show="forms.form.To.$error.server">{{serverMessages.GetMessage('To')}}</small>
                    </div>
                </div>
            </div>
            <uib-accordion>
                <uib-accordion-group is-open="options.FutureRedirectOpened">
                    <uib-accordion-heading>
                        <span class="legend">Future Redirects</span>
                    </uib-accordion-heading>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button data-ng-click="addFutureRedirect();" class="btn btn-info btn-right">Add New Future Redirect</button>
                        </div>
                    </div>
                    <div data-ng-repeat="item in redirect.FutureRedirects">
                        <div class="form-horizontal" ng-form="i{{$index}}" novalidate unsaved-warning-form>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Redirect URL</label>
                                    <div class="col-md-7">
                                        <input type="text" data-ng-disabled="item.Disabled" name="Url" class="form-control" placeholder="Url" data-ng-model="item.Url" required data-ng-maxlength="100">
                                        <div class="error-container " ng-show="forms.submitted && forms.form.i{{$index}}.Url.$invalid">
                                            <small class="error" ng-show="forms.form.i{{$index}}.Url.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Url")}}</small>
                                            <small class="error" ng-show="forms.form.i{{$index}}.Url.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.Url", "100"])}}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-danger" data-ng-click="deleteFutureRedirect($index)">Delete</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Start Date</label>
                                    <div class="col-md-7">
                                        <p class="input-group">
                                            <input type="text" data-ng-disabled="item.Disabled" name="StartDate" class="form-control" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="item.StartDate" is-open="fromOpened" required />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-disabled="false" ng-click="stopPropagation($event); fromOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                        <div class="error-container " ng-show="forms.submitted && forms.form.i{{$index}}.StartDate.$invalid">
                                            <small class="error" ng-show="forms.form.i{{$index}}.StartDate.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Start Date")}}</small>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ladda="saveTracker.active()" data-ng-click="save()">Save</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
