<div class="container-fluid redirects-list">
    <div class="well">
        <span class="legend">Manage Redirects</span>
        <div class="form-group">
            <button data-ng-click="open();" class="btn btn-primary">Add New Redirect</button>
        </div>
        <spinner-overlay data-loading="refreshTracker.active()">
            <table id="data-grid" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Source Relative Url</th>
                        <th>Redirect Url</th>
                        <th>Added</th>
                        <th>Updated</th>
                        <th class="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in items">
                        <td>{{::item.From}}</td>
                        <td>{{::item.To}}</td>
                        <td>{{::item.DateCreated | date:"MM/dd/yy"}}<br />{{::item.DateCreated | date:"h:mm a"}}<br />{{::item.AddedBy}}</td>
                        <td>{{::item.DateEdited | date:"MM/dd/yy"}}<br />{{::item.DateEdited | date:"h:mm a"}}<br />{{::item.EditedBy}}</td>
                        <td>
                            <button title="Edit" class="btn btn-default btn-success btn-xs" data-ng-click="open(item.Id);">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button title="Delete" class="btn btn-default btn-danger btn-xs" ladda="deleteTracker.active()" data-ng-click="delete(item.Id);">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </spinner-overlay>
        <uib-pagination boundary-links="true"
                    total-items="totalItems"
                    items-per-page="filter.Paging.PageItemCount"
                    data-ng-model="filter.Paging.PageIndex"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    data-ng-change="pageChanged();scrollTo('data-grid');">
        </uib-pagination>
    </div>
</div>