<div id="canada-shipping-notice" class="working-area-holder" title="Canada Shipping Notice">
    <div class="centered-text">
        <span class="title red">STOP - Canada Shipping Alert</span>
        <div>We must custom-calculate Shipping Fees for orders to Canada.</div>
        <span class="title red">If your Shipping Address <u>IS</u> in Canada,</span>
        <div>
            call 800-608-4825 to learn the fee and place your order.<br/>
            Click Back to return to your Cart before calling.
        </div>
        @(User.Identity.IsAuthenticated ? Html.ActionLink("Back", "ViewCart", "Cart", null, new {@class = "button arrow-left-red margin-top-small" }) : Html.ActionLink("Back", "Welcome", "Checkout", htmlAttributes: new {@class = "button arrow-left-red margin-top-small" }))
        <span class="title blue">If your Shipping Address is <u>NOT</u> in Canada, </span>
        <input class="arrow-right-blue margin-bottom-small" type="button" value="Continue">
    </div>
    <span class="red">NOTE:</span>
    <ul>
        <li>
            We cannot ship frozen goods to Canada.
        </li>
        <li>
            Free shipping on orders of $99 or more does <u>not</u> apply to Canada.
        </li>
    </ul>
</div>
