<div id="canada-shipping-notice" class="working-area-holder" title="Canada Shipping Notice">
    <span class="title red">We're sorry!</span>
    <ul>
        <li>
            Frozen goods cannot be shipped to Canada, due to excessive costs and delays.
        </li>
        <li>
            Only non-perishable goods can be shipped to Canada,
            <br>
            and Free Shipping on orders of $99 or more does not apply.
        </li>
    </ul>
    <span>Click to see our <a target="_blank" href="/content/shipping-information#Canadian-Shipping">Canada shipping policies</a> or call 800-608-4825.</span>
</div>
