<div title="Select order">
    <form id="popupForm" class="form-regular small">
        <div class="form-group">
            <label class="control-label">Orders</label>
            <div class="input-group">
                <select class="form-control big" id="dddOrder"></select>
            </div>
        </div>
    </form>
</div>