<div title="Select order">
    <form id="popupForm" class="form-regular small">
        <div class="form-group">
            <label class="control-label">Orders</label>
            <div class="input-group">
                <select class="form-control big" id="dddOrder"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">QTY</label>
            <div class="input-group">
                <input class="form-control small-form-control" type="text" name="dQTY" id="dQTY" data-val="true" data-val-range="Quantity must be greater than zero"
                       data-val-range-max="2147483647" data-val-range-min="1" data-val-regex="Quantity must be whole number" 
                       data-val-regex-pattern="-?\d+" data-val-required="The Quantity field is required.">
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="dQTY"></span>
            </div>
        </div>
    </form>
</div>