<div class="modal-header">
    <h3 class="modal-title">Image</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label">Source</label>
                <div class="col-md-10">
                    <filefield name="Image" placeholder="Image" on-selected="selected(file)" data-ng-model="image.FileUrl"></filefield>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Alignment</label>
                <div class="col-md-4">
                    <select class="form-control" data-ng-model="image.Alignment" data-ng-options="style.Value as style.Text for style in alignmentLookup"/>
                </div>
                <label class="col-md-2 control-label">Title</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Title" data-ng-model="image.Title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Width</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="Width" data-ng-model="image.Width">
                </div>
                <div class="col-md-1 form-control-static">
                    <span>px</span>
                </div>
                <label class="col-md-2 control-label">Height</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="Height" data-ng-model="image.Height">
                </div>
                <div class="col-md-1 form-control-static">
                    <span>px</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Hyperlink</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Hyperlink" data-ng-model="image.Hyperlink">
                </div>
            </div>
            <span class="legend">Spacing</span>
            <div class="form-group">
                <label class="col-md-2 control-label">Top</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="Top" data-ng-model="image.Top">
                </div>
                <div class="col-md-1 form-control-static">
                    <span>px</span>
                </div>
                <label class="col-md-2 control-label">Bottom</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="Bottom" data-ng-model="image.Bottom">
                </div>
                <div class="col-md-1 form-control-static">
                    <span>px</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Left</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="Left" data-ng-model="image.Left">
                </div>
                <div class="col-md-1 form-control-static">
                    <span>px</span>
                </div>
                <label class="col-md-2 control-label">Right</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="Right" data-ng-model="image.Right">
                </div>
                <div class="col-md-1 form-control-static">
                    <span>px</span>
                </div>
            </div>
            <div class="form-group" data-ng-if="image.Src">
                <div class="col-md-12">
                    <div class="well custom-preview">
                        <img alt="{{image.Title}}" class="custom-preview-image" data-ng-src="{{image.Src}}" data-ng-style="{'margin-left': image.Left, 'margin-right': image.Right, 'margin-top': image.Top, 'margin-bottom': image.Bottom, 'vertical-align' : !(image.Alignment == 'left' || image.Alignment == 'right') ? image.Alignment : 'baseline', 'float' : (image.Alignment == 'left' || image.Alignment == 'right') ? image.Alignment : 'none' }"/>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo
                        duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" data-ng-click="ok()">Ok</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
