<div class="container-fluid">
    <div class="left-pane-controls">
        <div class="well container-fluid">
            <div>
                <button class="btn btn-success width-160px" ladda="profileTracker.active()" data-ng-click="save()">Save</button>
            </div>
            <div class="margin-top-10px">
                <button class="btn btn-default width-160px" cancel-button>Cancel</button>
            </div>
        </div>
    </div>
    <div class="right-pane-main">
        <div class="container-fluid">
            <div class="row">
                <div class="container container-left">
                    <div class="well row">
                        <spinner-overlay data-loading="profileTracker.active()">
                            <form class="form-horizontal" name="form.profileForm" data-ng-submit="save()" data-ng-class="{submitted: form.profileForm.submitted}" novalidate>
                                <fieldset>
                                    <span class="legend">Manage Profile</span>
                                    <div class="form-group">
                                        <label for="agentId" class="col-md-3 control-label">Agent ID</label>
                                        <div class="col-md-9 form-control-static">
                                            <span>{{profile.AgentId}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">First Name</label>
                                        <div class="col-md-9">
                                            <input type="text" name="FirstName" class="form-control" placeholder="First Name" data-ng-model="profile.FirstName" required data-ng-maxlength="100">
                                            <div class="error-container" ng-show="form.profileForm.submitted && form.profileForm.FirstName.$invalid">
                                                <small class="error" ng-show="form.profileForm.FirstName.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.FirstName")}}</small>
                                                <small class="error" ng-show="form.profileForm.FirstName.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.FirstName", "100"])}}</small>
                                                <small class="error" ng-show="form.profileForm.FirstName.$error.server">{{serverMessages.GetMessage('FirstName')}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Last Name</label>
                                        <div class="col-md-9">
                                            <input type="text" name="LastName" class="form-control" placeholder="Last Name" data-ng-model="profile.LastName" required data-ng-maxlength="100">
                                            <div class="error-container" ng-show="form.profileForm.submitted && form.profileForm.LastName.$invalid">
                                                <small class="error" ng-show="form.profileForm.LastName.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.LastName")}}</small>
                                                <small class="error" ng-show="form.profileForm.LastName.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.LastName", "100"])}}</small>
                                                <small class="error" ng-show="form.profileForm.LastName.$error.server">{{serverMessages.GetMessage('LastName')}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Email</label>
                                        <div class="col-md-9">
                                            <input type="email" name="Email" class="form-control" placeholder="Email" data-ng-model="profile.Email" required data-ng-maxlength="100">
                                            <div class="error-container" ng-show="form.profileForm.submitted && form.profileForm.email.$invalid">
                                                <small class="error" ng-show="form.profileForm.Email.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Email")}}</small>
                                                <small class="error" ng-show="form.profileForm.Email.$error.email">{{getValidationMessage("ValidationMessages.EmailFormat","GeneralFieldNames.Email")}}</small>
                                                <small class="error" ng-show="form.profileForm.Email.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.Email", "100"])}}</small>
                                                <small class="error" ng-show="form.profileForm.Email.$error.server">{{serverMessages.GetMessage('Email')}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="legend">Change Password</span>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Old Password</label>
                                        <div class="col-md-9">
                                            <input type="password" name="OldPassword" class="form-control" data-ng-model="profile.OldPassword" placeholder="Old Password">
                                            <div class="error-container" ng-show="form.profileForm.submitted && form.profileForm.OldPassword.$invalid">
                                                <small class="error" ng-show="form.profileForm.OldPassword.$error.server">{{serverMessages.GetMessage('OldPassword')}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">New Password</label>
                                        <div class="col-md-9">
                                            <input type="password" name="NewPassword" class="form-control" data-ng-model="profile.NewPassword" placeholder="New Password">
                                            <div class="error-container" ng-show="form.profileForm.submitted && form.profileForm.NewPassword.$invalid">
                                                <small class="error" ng-show="form.profileForm.NewPassword.$error.server">{{serverMessages.GetMessage('NewPassword')}}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Confirm New Password</label>
                                        <div class="col-md-9">
                                            <input type="password" name="ConfirmNewPassword" class="form-control" data-ng-model="profile.ConfirmNewPassword" placeholder="Confirm New Password">
                                            <div class="error-container" ng-show="form.profileForm.submitted && form.profileForm.ConfirmNewPassword.$invalid">
                                                <small class="error" ng-show="form.profileForm.ConfirmNewPassword.$error.server">{{serverMessages.GetMessage('ConfirmNewPassword')}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </spinner-overlay>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>