@model VitalChoice.Public.Models.ContentPageViewModel

@section css {
        <title>@Html.Raw(Model.Title)</title>
        <meta name="keywords" content="@Html.Raw(Model.MetaKeywords)">
        <meta name="description" content="@Html.Raw(Model.MetaDescription)">
}

@Html.Raw(Model.HTML)