<div data-ng-if="country.states && country.states.length > 0">
    <a class="btn btn-link pull-left" nodrag data-ng-click="toggle(this)">
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></i>
    </a>
</div>
<div ui-tree-handle>
    <div class="ya-treeview-content clearfix">
        <div class="line">
            <label>{{country.Name}}</label>
        </div>
        <div class="ya-treview-buttons" data-nodrag>
        </div>
    </div>
</div>
<ol ui-tree-nodes data-ng-model="country.states" data-ng-class="{hidden: collapsed}" data-type="{{country.Code}}">
    <li ng-repeat="state in country.states" ui-tree-node>
        <div ui-tree-handle>
            <div class="ya-treeview-content clearfix">
                <div class="line">
                    <label>{{state.Name}}</label>
                </div>
                <div class="ya-treview-buttons" data-nodrag>
                </div>
            </div>
        </div>
    </li>
</ol>