<div class="progress">
	<div class="progress-bar progress-bar-info" style="width: 20%"></div>
</div>

<div class="progress">
	<div class="progress-bar progress-bar-success" style="width: 40%"></div>
</div>

<div class="progress">
	<div class="progress-bar progress-bar-warning" style="width: 60%"></div>
</div>

<div class="progress">
	<div class="progress-bar progress-bar-danger" style="width: 80%"></div>
</div>

<ul class="list-group">
	<li class="list-group-item">
		<span class="badge">14</span>
		Cras justo odio
	</li>
	<li class="list-group-item">
		<span class="badge">2</span>
		Dapibus ac facilisis in
	</li>
	<li class="list-group-item">
		<span class="badge">1</span>
		Morbi leo risus
	</li>
</ul>	