<div class="container-fluid">
	<div class="col-md-6">
		<span class="legend">Ace Angular Editor</span>
		<div ui-ace="{
				useWrapMode : true,
				showGutter: false,
				theme:'twilight',
				mode: 'xml',
				firstLineNumber: 5,
				onLoad: aceLoaded,
				onChange: aceChanged
				require: ['ace/ext/language_tools'],
				advanced: {
					enableSnippets: true,
					enableBasicAutocompletion: true,
					enableLiveAutocompletion: true
				}
		}">
		</div>
	</div>
	<div class="col-md-6">
		<span class="legend">Draggable Recipes Categories</span>
		<div ui-tree class="ya-treeview">
			<ol ui-tree-nodes="" data-ng-model="categories">
				<li ng-repeat="item in categories" ui-tree-node collapsed="true" data-ng-include="'app/modules/demo/partials/recipesCategories.html'">
				</li>
			</ol>
		</div>
	</div>
</div>