<div class="modal-header">
	<h3 class="modal-title">Add New User</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="userForm" data-ng-submit="save()" data-ng-class="{submitted: userForm.submitted}" novalidate>
		<fieldset>
			<div class="form-group">
				<label class="col-md-3 control-label">Agent ID</label>
				<div class="col-md-9">
					<input type="text" name="agentId" class="form-control" placeholder="Agent ID" data-ng-model="user.AgentId" required data-ng-maxlength="10">
					<div class="error-container" ng-show="userForm.submitted && userForm.agentId.$invalid">
						<small class="error" ng-show="userForm.agentId.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.AgentId")}}</small>
						<small class="error" ng-show="userForm.agentId.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.AgentId", "10"])}}</small>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">First Name</label>
				<div class="col-md-9">
					<input type="text" name="firstName" class="form-control" placeholder="First Name" data-ng-model="user.FirstName" required data-ng-maxlength="100">
					<div class="error-container" ng-show="userForm.submitted && userForm.firstName.$invalid">
						<small class="error" ng-show="userForm.firstName.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.FirstName")}}</small>
						<small class="error" ng-show="userForm.firstName.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.FirstName", "100"])}}</small>
						<small class="error" ng-show="userForm.firstName.$error.server">{{serverMessages.GetMessage('FirstName')}}</small>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Last Name</label>
				<div class="col-md-9">
					<input type="text" name="lastName" class="form-control" placeholder="Last Name" data-ng-model="user.LastName" required data-ng-maxlength="100">
					<div class="error-container" ng-show="userForm.submitted && userForm.lastName.$invalid">
						<small class="error" ng-show="userForm.lastName.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.LastName")}}</small>
						<small class="error" ng-show="userForm.lastName.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.LastName", "100"])}}</small>
						<small class="error" ng-show="userForm.lastName.$error.server">{{serverMessages.GetMessage('LastName')}}</small>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Email</label>
				<div class="col-md-9">
					<input type="email" name="email" class="form-control" placeholder="Email" data-ng-model="user.Email" required data-ng-maxlength="100">
					<div class="error-container" ng-show="userForm.submitted && userForm.email.$invalid">
						<small class="error" ng-show="userForm.email.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Email")}}</small>
						<small class="error" ng-show="userForm.email.$error.email">{{getValidationMessage("ValidationMessages.EmailFormat","GeneralFieldNames.Email")}}</small>
						<small class="error" ng-show="userForm.email.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.Email", "100"])}}</small>
						<small class="error" ng-show="userForm.email.$error.server">{{serverMessages.GetMessage('Email')}}</small>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Roles</label>
				<div class="col-md-9">
					<label class="checkbox-inline checkbox-in-group" data-ng-repeat="role in ReferenceData.Roles">
						<input type="checkbox" value="{{role.Key}}" data-ng-checked="user.RoleIds.indexOf(role.Key) > -1" data-ng-click="toggleRoleSelection(role.Key)"/> {{role.Text}}
					</label>
				</div>
			</div>
			<div class="form-group" data-ng-if="editMode && user.Status != 0">
				<label class="col-md-3 control-label">Status</label>
				<div class="col-md-9">
					<select class="form-control" data-ng-model="user.Status" data-ng-options="status.Key as status.Text for status in userStatuses" required></select>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-info" data-ng-if="editMode && user.Status == 0" ladda="resendTracker.active()" data-ng-click="resend()">Resend Activation Email</button>
	<button class="btn btn-success" ladda="saveTracker.active()" data-ng-click="save()">Save</button>
	<button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
