<div class="container-fluid">
	<div class="well">
		<span class="legend">Manage Users</span>
		<div class="row form-group">
			<div class="col-md-4">
                <input type="text" class="form-control" data-ng-model="filter.SearchText" placeholder="Filter by Name, Email">
			</div>
		</div>
        <div class="row form-group">
            <div class="col-md-4">
                <button class="btn btn-info" data-ng-click="filterUsers();" type="button">Filter</button>
            </div>
        </div>
        <hr />
		<div class="form-group">
			<button data-ng-click="open(false);" ladda="addTracker.active()" class="btn btn-primary">Add New User</button>
		</div>
		<spinner-overlay data-loading="refreshTracker.active()">
			<table class="table table-striped table-hover ">
				<thead>
				<tr>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('AgentId')">
                        <span>Agent ID</span>
                        <span data-ng-if="filter.Sorting.Path == 'AgentId'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('FullName')">
                        <span>Full Name</span>
                        <span data-ng-if="filter.Sorting.Path == 'FullName'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Email')">
                        <span>Email</span>
                        <span data-ng-if="filter.Sorting.Path == 'Email'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
				    <th>Roles</th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Status')">
                        <span>Status</span>
                        <span data-ng-if="filter.Sorting.Path == 'Status'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('LastLoginDate')">
                        <span>Last Login</span>
                        <span data-ng-if="filter.Sorting.Path == 'LastLoginDate'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
				</tr>
				</thead>
				<tbody>
				<tr data-ng-repeat="user in users">
					<td>{{user.AgentId}}</td>
					<td>{{user.FullName}}</td>
					<td>{{user.Email}}</td>
					<td><span data-ng-repeat="role in user.RoleIds" data-ng-bind="$index < user.RoleIds.length - 1 ? getReferenceItem(ReferenceData.AdminRoles, role).Text + ', ' : getReferenceItem(ReferenceData.AdminRoles, role).Text">
					</span>
					</td>
					<td>
						<span data-ng-if="user.Status == 2" class="label label-danger font-default">{{getReferenceItem(ReferenceData.UserStatuses, user.Status).Text}}</span>
						<span data-ng-if="user.Status == 0" class="label label-warning font-default">{{getReferenceItem(ReferenceData.UserStatuses, user.Status).Text}}</span>
						<span data-ng-if="user.Status == 1" class="label label-info font-default">{{getReferenceItem(ReferenceData.UserStatuses, user.Status).Text}}</span>
					</td>
					<td>{{user.LastLoginDate | date:"MM/dd/yy"}}<br/>{{user.LastLoginDate | date:"h:mm a"}}</td>
					<td>
						<button title="Edit" class="btn btn-default btn-success btn-xs" ladda="editTracker.active()" data-ng-click="open(true, user.PublicId);">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
						<button title="Delete" data-ng-if="currentUser && currentUser.Email != user.Email" class="btn btn-default btn-danger btn-xs" ladda="deleteTracker.active()" data-ng-click="delete(user.FullName, user.PublicId);">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
					</td>
				</tr>
				</tbody>
			</table>
            <pagination boundary-links="true"
                        total-items="totalItems"
                        items-per-page="filter.Paging.PageItemCount"
                        data-ng-model="filter.Paging.PageIndex"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        data-ng-change="pageChanged()">
            </pagination>
		</spinner-overlay>
	</div>
</div>