<div class="container-fluid">
	<div class="well">
		<span class="legend">Manage Users</span>
		<div class="row form-group">
			<div class="col-md-4">
				<div class="input-group">
					<input type="text" class="form-control" data-ng-model="filter.Keyword" placeholder="Filter by Name, Email">
					<span class="input-group-btn">
						<button class="btn btn-info" data-ng-click="filterUsers();" type="button">Filter</button>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<button data-ng-click="open(false);" ladda="addTracker.active()" class="btn btn-primary">Add New User</button>
		</div>
		<spinner-overlay data-loading="refreshTracker.active()">
			<table class="table table-striped table-hover ">
				<thead>
				<tr>
					<th>Agent ID</th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Status</th>
					<th>Last Login</th>
				</tr>
				</thead>
				<tbody>
				<tr data-ng-repeat="user in users">
					<td>{{user.AgentId}}</td>
					<td>{{user.FirstName + " " + user.LastName}}</td>
					<td>{{user.Email}}</td>
					<td><span data-ng-repeat="role in user.RoleNames track by $index" data-ng-bind="$index < user.RoleNames.length - 1 ? role + ', ' : role">
					</span>
					</td>
					<td>
						<span data-ng-if="user.Status == 'Disabled'" class="label label-danger font-default">{{user.Status}}</span>
						<span data-ng-if="user.Status == 'Not Active'" class="label label-warning font-default">{{user.Status}}</span>
						<span data-ng-if="user.Status == 'Active'" class="label label-info font-default">{{user.Status}}</span>
					</td>
					<td>{{user.LastLoginDate | date:"MM/dd/yy"}}<br/>{{user.LastLoginDate | date:"h:mm a"}}</td>
					<td>
						<button class="btn btn-default btn-success" ladda="editTracker.active()" data-ng-click="open(true, user.PublicId);">Details</button>
						<button class="btn btn-default btn-danger" ladda="deleteTracker.active()" data-ng-click="delete(user.FirstName, user.LastName, user.PublicId);">Delete</button>
					</td>
				</tr>
				</tbody>
			</table>
			<pagination
				boundary-links="true"
				total-items="totalItems"
				data-ng-model="currentPage"
				previous-text="&lsaquo;"
				next-text="&rsaquo;"
				first-text="&laquo;"
				last-text="&raquo;"
				data-ng-change="pageChanged()">
			</pagination>
		</spinner-overlay>
	</div>
</div>