<div class="modal-header">
	<h3 class="modal-title">Notify Affiliate</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.form.submitted}" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label">To Name</label>
                <div class="col-md-9">
                    <input type="text" name="ToName" class="form-control" placeholder="To Name" data-ng-model="email.ToName">
                    <div class="error-container" ng-show="forms.form.submitted && forms.form.ToName.$invalid">
                        <small class="error" ng-show="forms.form.ToName.$error.server">{{serverMessages.GetMessage('ToName')}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">To Email</label>
                <div class="col-md-9">
                    <input type="email" name="ToEmail" class="form-control" placeholder="To Email" data-ng-model="email.ToEmail" required>
                    <div class="error-container" ng-show="forms.form.submitted && forms.form.ToEmail.$invalid">
                        <small class="error" ng-show="forms.form.ToEmail.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Email")}}</small>
                        <small class="error" ng-show="forms.form.ToEmail.$error.pattern">{{getValidationMessage("ValidationMessages.EmailFormat","GeneralFieldNames.Email")}}</small>
                        <small class="error" ng-show="forms.form.ToEmail.$error.server">{{serverMessages.GetMessage('ToEmail')}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">From Name</label>
                <div class="col-md-9">
                    <input type="text" name="FromName" class="form-control" placeholder="From Name" data-ng-model="email.FromName">
                    <div class="error-container" ng-show="forms.form.submitted && forms.form.FromName.$invalid">
                        <small class="error" ng-show="forms.form.FromName.$error.server">{{serverMessages.GetMessage('FromName')}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">From Email</label>
                <div class="col-md-9">
                    <input type="email" name="FromEmail" class="form-control" placeholder="From Email" data-ng-model="email.FromEmail" required>
                    <div class="error-container" ng-show="forms.form.submitted && forms.form.FromEmail.$invalid">
                        <small class="error" ng-show="forms.form.FromEmail.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Email")}}</small>
                        <small class="error" ng-show="forms.form.FromEmail.$error.pattern">{{getValidationMessage("ValidationMessages.EmailFormat","GeneralFieldNames.Email")}}</small>
                        <small class="error" ng-show="forms.form.FromEmail.$error.server">{{serverMessages.GetMessage('FromEmail')}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Subject</label>
                <div class="col-md-9">
                    <input type="text" name="Subject" class="form-control" placeholder="Subject" data-ng-model="email.Subject" required>
                    <div class="error-container" ng-show="forms.form.submitted && forms.form.FromName.$invalid">
                        <small class="error" ng-show="forms.form.ToEmail.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Subject")}}</small>
                        <small class="error" ng-show="forms.form.FromName.$error.server">{{serverMessages.GetMessage('Subject')}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Message</label>
                <div class="col-md-9">
                    <textarea type="text" name="Message" class="form-control" placeholder="Message" rows="10" data-ng-model="email.Message" required></textarea>
                    <div class="error-container" ng-show="forms.form.submitted && forms.form.Message.$invalid">
                        <small class="error" ng-show="forms.form.ToEmail.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Message")}}</small>
                        <small class="error" ng-show="forms.form.ToEmail.$error.server">{{serverMessages.GetMessage('Message')}}</small>
                    </div>
                </div>
            </div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ladda="saveTracker.active()" data-ng-click="save()">Send</button>
	<button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
