<div class="container-fluid" style="max-width: 1500px; margin: 0 auto;">
	<div class="col-md-6">
		<div class="well">
			<nvd3-multi-bar-horizontal-chart data="monthlySalesData"
			                                 id="monthlySales"
			                                 xaxistickformat="xAxisTickFormatFunction()"
			                                 yaxistickformat="yAxisTickFormatFunction()"
			                                 height="250"
			                                 showValues="true"
			                                 showLegend="true"
			                                 valueFormat="valueFormatFunction()"
			                                 delay="2400"><!--showXAxis="true"-->
				<svg></svg>
			</nvd3-multi-bar-horizontal-chart>
		</div>
		<div class="well">
			<nvd3-multi-bar-horizontal-chart data="topSellingProducts"
			                                 id="topSellingProducts"
			                                 xaxistickformat="xAxisTickFormatFunction()"
			                                 yaxistickformat="yAxisTickFormatFunction()"
			                                 height="250"
			                                 showvalues="true"
			                                 showlegend="true"
			                                 valueformat="valueFormatFunction()"
			                                 delay="2400">
				<svg></svg>
			</nvd3-multi-bar-horizontal-chart>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			<nvd3-multi-bar-horizontal-chart data="salesNewCustomers"
			                                 id="salesNewCustomers"
			                                 xaxistickformat="xAxisTickFormatFunction()"
			                                 yaxistickformat="yAxisTickFormatFunction()"
			                                 height="250"
			                                 showValues="true"
			                                 showLegend="true"
			                                 valueFormat="valueFormatFunction()"
			                                 delay="2400">
				<svg></svg>
			</nvd3-multi-bar-horizontal-chart>
		</div>
		<div class="well">
			<nvd3-multi-bar-horizontal-chart data="salesExistingCustomers"
			                                 id="salesExistingCustomers"
			                                 xaxistickformat="xAxisTickFormatFunction()"
			                                 yaxistickformat="yAxisTickFormatFunction()"
			                                 height="250"
			                                 showValues="true"
			                                 showLegend="true"
			                                 valueFormat="valueFormatFunction()"
			                                 delay="2400">
				<svg></svg>
			</nvd3-multi-bar-horizontal-chart>
		</div>
	</div>
</div>