
			<div class="fixed-accordion-row extra-spacing" data-ng-click="$event.stopPropagation()">
				<label class="control-label">SKU</label>
				<input type="text" class="form-control" placeholder="SKU" data-ng-model="subSku.SKU">
			</div>
			<div class="fixed-accordion-row" data-ng-click="$event.stopPropagation()">
				<label for="lblActive{{subSku.Id}}" class="control-label">Active</label>
				<div class="checkbox">
					<label>
						<input id="lblActive{{subSku.Id}}" type="checkbox" data-ng-model="subSku.Active">
					</label>
				</div>
			</div>
			<div class="fixed-accordion-row" data-ng-click="$event.stopPropagation()">
				<label for="lblHide{{subSku.Id}}" class="control-label">Hide in Storefront</label>
				<div class="checkbox">
					<label>
						<input id="lblHide{{subSku.Id}}" type="checkbox" data-ng-model="subSku.HideInStorefront">
					</label>
				</div>
			</div>