@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@navbar-top-color:  #fff;
@darker-gray: #EDEDED;
@selected-light-blue: #DDF0FB;
@hover-light-gray: #EDEDED;
@table-warning: #FFD9DC;
@table-attention: #fffaa3;
@table-success: #99FF99;
@purple-color: #9a43b0;
@grey-color:#717171;

@green-color: #54ab3a;
@orange-color: #f88b41;
@blue-color: #2b8aec;
@red-color: #ea3a3a;
@light-green-color: #88c149;

body{
	min-width: 1100px;
}

a { cursor: pointer;}

a.block{ display:block;}

.table{
	max-width:2500px;
}

.table  > tbody > tr.selected{
	background-color: @selected-light-blue;
}

.table > tbody > tr.warning > td{
	background-color: @table-warning;
    color: red;
}

.table > tbody > tr.message-warning > td{
    color: yellow;
}

.table > tbody > tr.message-info > td{
    color: @light-green-color;
}

.table.editable-table .text { margin-top: 8px;}

.table > thead > tr > th.actions { min-width: 75px;}
.table > thead > tr > th.actions-3 { min-width: 105px;}

.navbar-cache{
    font-size: 9px;
    padding-left: 15px;
}

.nav-small-font {
    font-size: 10px;
}

.nav, .pagination, .carousel, .panel-title a {
     cursor: pointer; }

.error{ color:red;}
.important{ color:red;}
.success{ color:green;}

.modal-lg {
  width: 1150px;
}

.modal-sm {
  width: 900px;
}

.modal-xs {
  width: 700px;
}

.sub-dropdown{
    position:relative;
} 
.sub-dropdown > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;    
    border-top-right-radius: 0;
    border-top-left-radius: 0;
} 
.sub-dropdown:hover > .dropdown-menu{
    display:block;
}

.navbar-inverse .navbar-nav > .sub-dropdown.open > a,
.navbar-inverse .navbar-nav > .sub-dropdown.open > a:hover,
.navbar-inverse .navbar-nav > .sub-dropdown.open > a:focus {
  background-color: #646464;
  color: #ffffff;
}

.form-horizontal .control-label.left {
    text-align:left;
}

form.submitted p.ng-invalid input {
  border: 1px solid red;
}

.form-control.disabled
{
    cursor: default;
}

.form-control select[multiple]{
    overflow-y: auto;
}

.container{
	width:850px;
}

.container.small-container{
	width:768px;
}

.container.big-container{
	width:900px;
}

.container.xbig-container{
	width:1000px;
}

.container.sub-container {
  margin-right: 20px;
  margin-left: 0;
  float: left;
}

.content-fixed-250px{
	width: 250px;
}

.container.sub-container {
    width: 31%;
	min-width: 650px;
	max-width: 1000px;
}

h2{
	margin-left:20px;
}

.centered-text{
	text-align: center;
}

img.thumb {
    max-width: 96px;
    max-height: 96px;
}

.inline > .radio { display: inline-block; margin-right: 10px;}

.form-horizontal.submitted select.ng-invalid, .form-horizontal.submitted input.ng-invalid, .form-horizontal.submitted textarea.ng-invalid
{
    border: 1px solid red;
}

.btn-primary-orange {
  background-image: -webkit-linear-gradient(#f88848, #f66e21 60%, #f5610d);
  background-image: -o-linear-gradient(#f88848, #f66e21 60%, #f5610d);
  background-image: linear-gradient(#f88848, #f66e21 60%, #f5610d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff88848', endColorstr='#fff5610d', GradientType=0);
  filter: none;
  border-bottom: 1px solid #db5509;
  color: #ffffff;
  background-color: #db5509;
  border-color: #d15108;
}

.btn-primary-orange:hover,
.btn-primary-orange:focus,
.btn-primary-orange.focus,
.btn-primary-orange:active,
.btn-primary-orange.active,
.open > .dropdown-toggle.btn-primary-orange {
  color: #ffffff;
  background-color: #db5509;
  border-color: #d15108;
}

.btn-line { height: 38px;} 

.btn-small-font { font-size: 10px;}

.angular-ui-tree-placeholder {
    border: 2px dashed @brand-info;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 0px;
  margin-left: 40px;
}

.angular-ui-tree-handle {
    cursor: pointer;
}

.angular-ui-tree-handle:hover{
	background-color: @hover-light-gray;
}

.angular-ui-tree-handle.selected{
	background-color: @selected-light-blue;
}

.angular-ui-tree-handle .ya-treview-buttons{
	display: none;
	float: right;
	margin-left:20px;
	margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.angular-ui-tree-handle:hover .ya-treview-buttons,
.angular-ui-tree-handle:active .ya-treview-buttons{
	display: block;
}

.angular-ui-tree-handle .ya-treview-buttons a{
	margin-top: 9px;
	margin-bottom: 9px;
}

.ya-treeview-content .checkbox{
	float: left;
	min-width: 400px;
    word-break: break-all;
}

.inline-block {display: inline-block;}

.text-break-message{ word-break: break-all; }

.ya-treeview {
	padding-left:10px;
}

.ya-treeview .angular-ui-tree-empty {
	border: none;
    background: none;
}

.ya-treeview a.btn-link{
	padding-top: 9px;
	padding-left: 0px;
	margin: 0;
	font-size: inherit;
	outline: 0;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	padding-right: 0;
	margin-left: -10px;
}

.ya-treeview-content{
	padding-left: 2px;
	margin-left: 12px;
    position: relative;
}

.ya-treeview-content .line{
    float: left;
    min-width: 400px;
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 11px;
    padding-right: 120px;
}

.ya-treeview-content .line label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    word-break: break-all;
}

.ya-treeview-content .line .category-status{    
    display: inline-block;
    vertical-align: top;
    padding-top: .3em;
    padding-bottom: .3em;
}

.categories.full-lines .ya-treeview-content .line{
    width: 100%;
    min-width: initial;
}

.categories.full-lines .ya-treeview-content .fixed-right
{
    float:right;
}

.categories.full-lines .ya-treeview-content .flex-left
{
    width: 100%;

}

.label-wholesale {
  background-color: @purple-color;
}

.label-retail {
  background-color: @grey-color;
}

.label-draft {
  background-color: @grey-color;
}

.label-future {
  background-color: @purple-color;
}

.btn-purple, .btn-purple:hover, .btn-purple:focus {
  color: #ffffff;
  border-color: @purple-color;
  background-color: @purple-color;
}

.legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @line-height-computed;
  font-size: (@font-size-base * 1.5);
  line-height: inherit;
  color: @legend-color;
  border: 0;
  border-bottom: 1px solid @legend-border-color;
}

.input-label {padding-top: 9px; }

.input-label > *:focus {
  outline: none;
}

.stars img { margin-left:2px;margin-right:2px; }

hr { border-top: 1px solid #e5e5e5;}

.category-status{
	font-size: inherit;
	margin-left: 15px;
}

.nav > li.dropdown:hover{
	cursor:pointer;
}

.nav-tabs > li:not(.active):hover a{
	background-color: #eeeeee;
}

.nav-tabs > li:not(.active) a{
	background-color: #F2F2F2;
	border-bottom: 1px solid #dddddd;
}

.table .btn:hover{
	color:#ffffff;
}

.btn-right{
	float:right;
}

.left-pane{
	position:absolute;
	width:280px;
}

.right-pane{
	margin: 0 0 0 280px;
	padding: 0 0px 0 10px;
}

.left-pane-controls{
	position:absolute;
	width:200px;
}

.right-pane-main{
	margin: 0 0 0 200px;
	padding: 0 0px 0 30px;
}

.logo{
	max-height:60px;
}

.margin-zero{
	margin:0 !important;
}

.margin-left-zero{
	margin-left:0 !important;
}

.padding-left-zero{
	padding-left:0 !important;
}

.padding-left-30px{
	padding-left:30px !important;
}

.padding-right-zero{
	padding-right:0 !important;
}

.checkbox-inline + .checkbox-inline.margin-left-zero{
    margin-left:0;
}

.width-70px{
	width:70px;
}

.width-80px{
	width:80px !important; 
}

.width-140px{
	width:140px;
}

.width-160px{
	width:160px;
}

.width-200px{
	width:200px;
}

.tab-content{
	padding-top:30px;
}

.container.container-left{
	margin-left:0;
}

.margin-top-10px{
	margin-top:10px;
}

.margin-top-15px{
	margin-top:15px;
}

.margin-top-30px{
	margin-top:30px;
}

.margin-top-0px{
	margin-top:0px;
}

.margin-bottom-30px{
	margin-bottom:30px;
}

.margin-bottom-15px{
	margin-bottom:15px;
}

.margin-bottom-5px{
	margin-bottom:5px;
}

.margin-bottom-0px{
	margin-bottom:0px;
}

.margin-bottom-10px{
	margin-bottom:10px;
}

.margin-top-20px{
	margin-top:20px;
}

.margin-top-10px{
	margin-top:10px;
}

.margin-30px{
	margin:30px;
}

.margin-right-15px{
	margin-right:15px;
}

.margin-right-25px{
	margin-right:25px;
}

.margin-right-8px{
	margin-right:8px;
}

.margin-left-15px{
	margin-left:15px;
}

.margin-left-25px{
	margin-left:25px;
}

.margin-left-8px{
	margin-left:8px;
}

.padding-0px {
    padding: 0;
}

.padding-l-0px {
    padding-left: 0;
}

.padding-lr-0px {
    padding-left: 0;
    padding-right: 0;
}

.custom-navbar-bottom{
	border-radius: 0px 0px 3px  3px;
}

.tab-pane h3{
	margin-top:0;
	margin-left: 19px;
}

.centered-element{
	float:none;
	margin: 0 auto;
}

button.main-button{
	width:145px;
}

.form-list-wrapper { margin-top: 9px;}

.custom-navbar-top{
	border-radius: 3px  3px 0px 0px;
	background:@navbar-top-color;
}

  .sidebar .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .sidebar .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .sidebar .navbar-collapse.in {
    overflow-x: visible;
  }

.sidebar.navbar
{
	max-width:250px;
	min-width: 250px;
	margin-right: 0;
	margin-left: 0;
}	

.sidebar .navbar-nav,
.sidebar .navbar-nav > li,
.sidebar .navbar-left,
.sidebar navbar-right,
.sidebar .navbar-header
{float:none !important;}

.sidebar .navbar-right .dropdown-menu {left:0;right:auto;}
.sidebar .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.sortable-accordion .panel-title{
	font-size:14px;
	line-height:20px;
}

.sortable-accordion .panel-heading{
	background-color: #EDEDED;
}

.fixed-accordion-row{
	margin-left: 10px;
	margin-right:10px;
	float: left;
}

.fixed-accordion-row.extra-spacing{
	margin-right:20px;
}

.fixed-accordion-row.pull-right{
	margin-right:0px;
}

.fixed-accordion-row > *{
	float: left;
	width: auto;
}

.fixed-accordion-row > .col-md-1{
	padding-left: 0;
	padding-right: 0;
}

.fixed-accordion-row.one-line 
{
    margin-bottom: 15px;
}

.fixed-accordion-row.one-line > .col-md-1 {
    width: 450px;
}

.fixed-accordion-row.one-line > label {
    width: 120px;
}

.fixed-accordion-row.one-line > .col-md-1 .input-group {
    width: 100%;
}

.fixed-accordion-row.one-line > .col-md-1 input[type=text] 
{
    width: 100%;
    cursor: pointer;
}

.fixed-accordion-row.one-line > .edit-link{
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
}

.sortable-accordion  h4 .fixed-accordion-row small
{
    font-size: 85%;
}

.fixed-accordion-row .col-md-1 > .input-group{
	width: 133px;
}

.fixed-accordion-row .col-md-1 > p.input-group{
	width: 150px;
}

.fixed-accordion-row > .control-label {
	margin-right: 10px;
}

.fixed-accordion-row input[type=text],
.fixed-accordion-row input.number{
	width: 100px;
}

.fixed-accordion-row input[type=text].half-size-input,
.fixed-accordion-row input.number.half-size-input{
	width: 50px;
}

.fixed-accordion-row input[type=number].third-size-input,
.fixed-accordion-row input.number.third-size-input{
	width: 30px;
}

.accordion-toggle .legend{ margin-bottom: 0; border-bottom: none;}

.font-default{
	font-size: inherit;
}

.font-big{
	font-size: 18px;
}

.checkbox-in-group + .checkbox-in-group{
	display:block;
	margin-left:0px;
}

.ace_editor { 
	height: 800px;
}

form.submitted select.ng-invalid,
form.submitted input.ng-invalid,
form.submitted textarea.ng-invalid{
	border: 1px solid red;
}

form .error-container {
  color: red;
  margin: 5px 0 0 5px;
}

form .error-container small{
	display: block;
}

form .error-container.small-block{
	width: 130px;
}

form .error-container.x-small-block{
	width: 100px;
}

.toogle-editor{
	text-align: right;
	margin-bottom: 10px;
}

.inline-form-group > * { width: auto; display: inline-block;margin-right: 10px;}

form .form-group p {
    margin: 0;
}

.form-horizontal .form-group .input-group.autocomplete .dropdown-menu {
    padding: 0;
    width: 100%;
}
.form-horizontal .form-group .input-group.autocomplete .dropdown-menu > li > a {
    padding: 3px 10px;
}

.form-horizontal .form-group .input-group.autocomplete .input-group-addon
{
    min-width: 39px;
}

.input-group {
    margin-bottom: 0px;
}

/* Absolute Center CSS Spinner */
.loading {
  position: absolute;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.overlay {
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.relative{
	position:relative;
}

.ball-loader:not(:required) {
	z-index: 1000;
	position: fixed;
	background: @brand-primary;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.ball-loader:not(:required).ng-hide{
	/*-moz-animation: ball 0ms none linear;
  -webkit-animation: ball 0s none linear;
  animation: ball 0ms none linear;*/
}

.ball-loader:not(:required)::after{
	background: @brand-info;
}

.fade.ng-hide {
	opacity:0;
}

.fade {
	transition:1s linear all;
	opacity:1;
}

ul.navbar-custom-header li > a.dropdown-toggle{
	padding-bottom:5px;
}

ul.navbar-custom-header li > a.dropdown-toggle,
ul.navbar-custom-header li > a.dropdown-toggle:hover{
    background:none;
}

ul.navbar-custom-header li .dropdown-menu{
    border-top-width: 0px;
}

.file-manager .work-area {
	position:relative;
}

.file-manager .work-area .left-pane{
	position:absolute;
	width:300px;
}

.file-manager .work-area .left-pane .wrapper {
    overflow: auto;
    height: 463px;
}

.file-manager .work-area .center-pane{
	margin: 0 18% 0 300px;
	padding: 0 20px 0 15px;
}

.file-manager .work-area .center-pane .table {
    height: 347px;
    position: relative;
}

.file-manager .work-area .center-pane .table thead {
    height: 30px;
}

.file-manager .work-area .center-pane .table tbody {
  overflow-y: scroll;
  height: 330px;
  width: 100%;
  position: absolute;
  top:30px;
}

.file-manager .work-area .center-pane .table tbody > tr {
  width: 100%;
  display: inline-table;
  cursor: pointer;
  word-break: break-all;
}

.file-manager .work-area .center-pane .table tbody > tr .btn-danger {
    margin-left: 4px;
}

.file-manager .work-area .center-pane .pagination
{
    margin: 0px;
}

.file-manager .work-area .right-pane{
	position:absolute;
    top: 0;
    right: 15px;
	width:18%;
    margin: 0;
    padding: 0;
}

.file-manager .work-area .right-pane .wrapper {
    height: 463px;
}

.file-manager .work-area .right-pane .wrapper .image-box 
{
    height: 100%;
}

.file-manager .work-area .right-pane .wrapper .image-box img
{
    max-height: 90%;
}

.file-manager .top-area .status-pane {
	margin: 0 0 0 300px;
	padding: 0 0 0 15px;
}

.file-manager .top-area .status-pane .wrapper {
    overflow: auto;
    height: 120px;
}

.file-manager .top-area .status-pane .row {
    margin-right: 0px;
}

.file-manager .top-area .status-pane .row .progress {
    margin-bottom: 5px;
}

.file-manager .ya-treeview
{
    float:left;
    min-width: 100%;
}

.file-manager .ya-treeview-content
{   
    white-space: nowrap;
}

.file-manager .ya-treeview-content .line{
    min-width: initial;
    float: none;
    display: inline-block;
    padding-right: 0px;
}


.file-manager .angular-ui-tree-nodes .angular-ui-tree-nodes
{
    margin-left: 20px;
}

.file-manager .angular-ui-tree-handle .wrapper-ya-treview-buttons
{    
    width: 82px;
    display:inline-block;
}

.file-manager .angular-ui-tree-handle .wrapper-ya-treview-buttons .ya-treview-buttons
{    
    float: none;
}

.file-manager .top-area .add-file-pane {
    height: 120px;    
	position:absolute;
	width:300px;
}

.file-manager .top-area .add-file-pane .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 120px;
    text-align: center;
    padding-top: 40px;
    display:inline-block;
}

.file-manager .top-area .add-file-pane .drop-box-disabled {
    display:inline-block;
}

.file-manager .top-area .add-file-pane .dragover {
    border: 5px dashed blue;
}

.file-manager .top-area .add-file-pane .form-group {
    margin-bottom:0;
}

.file-manager .center-pane .table tbody > tr:hover
{
    background-color: @hover-light-gray;
}

.file-manager .center-pane .table > tbody > tr.selected{
	background-color: @selected-light-blue;
}

.image-box 
{
    border-radius: 4px;
    text-align: center;
}

.image-box img {
    display: inline;
    max-height: 100%;
    max-width: 100%;
}

.color-red{
    color:red;
}

.file-preview .image-box
{
    height: 500px;
}

.custom-preview-image{
    max-height:100px;
}

.custom-preview{
    /*vertical-align:bottom;*/
    max-height:500px;
    overflow-y:auto;
    overflow-x:auto;
}

.navbar-custom-header.navbar-nav > li > a {
  text-shadow: none;
}

th.sortable-column {
  cursor: pointer;
}

.categories {position: relative;}
.categories .expand-button { position: absolute; right: 0; z-index:1;}

.discount-edit .tiers .form-group { margin-bottom: 0px;} 

.active-product-reviews .legend
{
    margin-bottom: 30px;
}

.product-edit .skus .form-control.sku { width: 130px;}
.product-edit .skus .form-control.qty { width: 70px;}
.product-edit .fixed-accordion-row input.sales-text { width: 250px; }
.product-edit .skus .panel-group {margin-bottom: 0px;}

.order-edit .gcs .code {margin-bottom: 5px;}
.order-edit .gcs a.btn { margin-top: 8px; margin-left: 5px;}
.order-edit .options-row { margin-bottom: 15px; float: right;}
.order-edit .options-row .auto-ship-frequency{ position: absolute; width: 150px; z-index:1;}
.order-edit .options-row .checkbox-inline{ margin-right: 20px;}
.order-edit .options-row .checkbox-inline .fa{ margin-left: 7px;}
.order-edit .options-row .checkbox-inline.guest{padding-left: 0px; color: #CCC; margin-left: 0px; cursor: default;}
.order-edit .products-buttons { margin-bottom: 15px;}
.order-edit .products-buttons .btn-primary { margin-right: 10px;}
.order-edit .products table td.sku { width: 130px; }
.order-edit .products table td.type { width: 35px; }
.order-edit .products table td.qty { width: 75px;}
.order-edit .products table td.product-name .input-group { width: 100%;}
.order-edit .products table td.price { width: 130px;}
.order-edit .products table td.amount { width: 80px;}
.order-edit .products table td.del { width: 40px;}
.order-edit .products table td.enabled { width: 40px;}
.order-edit .products table td.enabled > input { margin-top: 14px; margin-left: 5px;} 
.order-edit .products table .type .perishable{color: #063; margin-top: 8px; display: block;}
.order-edit .products table .type .not-perishable{ color:#CCC; margin-top: 8px; display: block;}
.order-edit .products table a.btn { margin-top: 8px;}
.order-edit .products table .amount { margin-top: 8px;}
.order-edit .products table label.perishable-threshold-message { font-weight: normal;}
.order-edit .products table { border:1px solid #dddddd;}
.order-edit .products table .message { margin-right: 10px;}
.order-edit .products table > thead > tr > th, .order-edit .products table > tbody > tr > td {border-right:1px solid #dddddd;}
.order-edit .legend .item { margin-right: 10px;}
.order-edit .left-section .legend { margin-bottom: 10px; margin-top: 30px;}
.order-edit .total-section{ background: white; border-radius: 15px; margin-left: 80px;}
.order-edit .legend.top strong { color: #f5610d;}

.order-edit.order-refund-edit .products td.activate-all label { margin-bottom: 0px;}
.order-edit.order-refund-edit .products td.activate label { margin-bottom: 0px; margin-top: 8px;}
.order-edit.order-refund-edit .products table td.redeem { width: 120px; }
.order-edit.order-refund-edit .products table td.activate { width: 30px; }
.order-edit.order-refund-edit .products table td.sku { width: 100px; }
.order-edit.order-refund-edit .products table td.percent { width: 90px; }
.order-edit.order-refund-edit .products table td .text { margin-top: 8px; }
.order-edit.order-refund-edit .total-section{ margin-left: 60px;}
.order-edit.order-refund-edit .refund-ids-section { width:220px; display: inline-block;}

.orders .table > tbody > tr.order-notes > td{
	background-color: @table-attention;
}

.table.order-statuses > tbody > tr > td > i { margin-right: 5px;}
.table.order-statuses > tbody > tr .ban { background: @red-color;}
.table.order-statuses > tbody > tr .exclamation-triangle { background: @orange-color;}
.table.order-statuses > tbody > tr .truck { background: @green-color;}
.table.order-statuses > tbody > tr .minus-circle{ background:@red-color;}
.table.order-statuses > tbody > tr .check-circle{ background:@green-color;}
.table.order-statuses > tbody > tr .calendar{ background:@blue-color;}
.table.order-statuses > tbody > tr .pause{ background:@blue-color;}

.orders .table > thead > tr > th.status { min-width: 135px;}
.orders .table > thead > tr > th.actions { min-width: 105px;}

.orders .table > tbody > tr > td.order-source { }
.orders .table > tbody > tr > td.payment-methods { }

.help-tickets .table > tbody > tr.success > td{ background-color: @table-success; }
.help-tickets .table > tbody > tr.warning > td{ background-color: @table-attention; }

.promotion-edit .products table th.sku { width: 130px; }
.promotion-edit .products table th.percent { width: 151px; }
.promotion-edit .products table th.qty { width: 151px;}
.promotion-edit .products table th.actions { width: 65px;}
.promotion-edit .products table td div.as-label { margin-top: 8px;}
.promotion-edit select.buy-types { width: 80px; display: inline-block; margin-left: 10px; margin-right: 10px; }

.inventory-assign-popup .parts table th.qty { width: 151px;}
.inventory-assign-popup .parts table td div.as-label { margin-top: 8px;}

.partial-sku-list table th.sku { width: 130px; }
.partial-sku-list table th.actions { width: 40px; }

.bug-tickets .table > tbody > tr.success > td{ background-color: @table-success; }
.bug-tickets .table > tbody > tr.warning > td{ background-color: @table-attention; }
.bug-ticket .progress {margin-bottom: 0px;}

.product-out-os-stock-requests table > thead > tr > th.in-stock { width: 80px; }
.product-out-os-stock-requests table > thead > tr > th.selected { width: 50px; }
.product-out-os-stock-requests table > tbody > tr.container-row { cursor:pointer;}
.product-out-os-stock-requests table > tbody > tr.request-row { background:white;}

.vital-green-report table > tbody > tr.container-row { cursor:pointer;}
.vital-green-report table > tbody > tr.request-row { background:white;}
.vital-green-report table > thead > tr > th.completions { width: 50px; }

.inventory-usage-report table > tbody > tr.sub-item-row {  background:white;}
.inventory-usage-report .filtered-item {display: inline-block; margin-right: 15px;}

.inventory-usage-summary-report table td div.description { max-width: 250px; }

.object-history { padding: 19px 0 0;}
.object-history .header { margin-left: 19px; margin-right: 19px; text-align: center;}
.object-history .header .lenged { margin-bottom: 10px;}
.object-history .table { font-size: 12px; position: relative; height: 532px; margin-bottom: 5px;}
.object-history .table>thead>tr>th {border-bottom: 0;}
.object-history .table>tbody>tr>td, .object-history .table>tbody>tr>th,.object-history .table>tfoot>tr>td,.object-history .table>tfoot>tr>th,.object-history .table>thead>tr>td,.object-history .table>thead>tr>th {
    padding-left: 4px;
    padding-right: 4px;    
}
.object-history .table>tbody { overflow-y: scroll; height: 500px; width: 100%;position: absolute; top: 30px;}
.object-history .table>tbody .btn-xs { font-size: 10px;}
.object-history .table>tbody .actions {width: 35px;}
.object-history .table>tbody .date {width: 60px;}
.object-history .table>tbody .status {width: 86px;}

.object-history-report-header h3 {display: inline-block;}
.object-history-report-header h3 button {margin-left:10px;margin-right:10px;}
.object-history-report .wrapper{ margin-bottom: 0px;}
.object-history-report .left-area { padding-left: 0px;}
.object-history-report .right-area { padding-right: 0px;}

.product-list .sku {color: green;}
.product-list .sku.not-in-stock {color: red;}

.affiliates-summary .table .name {width: 150px; }
.affiliates-summary .table .month {width: 120px; }
.affiliates-summary .summary .info-label { width: 180px; display: inline-block; margin-right: 10px;}

.healthwise-customers table > tbody > tr.customer-row { cursor:pointer;}
.healthwise-customers table > tbody > tr.period-row { background: white;}
.healthwise-customers table > tbody > tr.period-row.allow-paid { background: @table-attention;}
.healthwise-customers table > tbody > tr.period-row.paid { background: @table-success;}

.product-categories-statistic .categories.full-lines .ya-treeview-content .flex-left { padding-right: 210px;}
.product-categories-statistic .categories.full-lines .ya-treeview-content .fixed-right .amount
{
    width: 100px;
    text-align: right;
    display:inline-block;
}
.product-categories-statistic .categories.full-lines .ya-treeview-content .fixed-right .percent
{
    width: 100px;
    text-align: right;
    display:inline-block;
}

.jsondiffpatch-delta pre{
    white-space: normal;
}

.json-formatter-row .string{    
    white-space: normal;
}

.service-codes-report .table tr th{ width: 14%;}
.service-codes-report .table tr th.name{ width: 30%;}

.key-value-line{
	float: left;
    clear: left;
    padding: 3px 0;
    margin-left: 12px;
    min-height: 14px;
}

.key-info-boxed{
	display: inline-block;
    overflow: hidden;
}

.value-info-boxed{
	text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 200px;
}

.buttons-compact-container > *{
	display:block;
	margin-bottom:20px;
}

.order-agents-report .table td{ width: 11%;}
.order-agents-report .table td.agent{ width: 23%;}
.order-agents-report .legend.dates{ 
    background-image: -webkit-linear-gradient(#04519b,#033C73 60%,#02325f);
    background-image: -o-linear-gradient(#04519b,#033C73 60%,#02325f);
/*    background-image: ca;*/
    color: white;
    padding-left: 10px;
}

.ace-errors{
    position:relative;
    margin:0;
    overflow: hidden;
    direction:ltr;
    background-color: azure;
    color: orangered;
}

.ace-error-line
{
    display: block;
    padding: 5px 5px 5px 5px;

    i {
        padding-right: 3px;
    }

    button {
        float:right;
    }
}