<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	@RenderSection("Meta", false)
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="/assets/miscellaneous/apple-touch-icon.png">
	<link rel="icon" type="img/ico" href="/assets/miscellaneous/favicon.ico">
	@await Component.InvokeAsync("Assets", "styles")
	<script src="/assets/scripts/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<div class="separator-top"></div>
<div class="main">
	<header>
		<div class="header-top">
			<div class="header-top-left">
				<img alt="Call Anytime" src="/assets/images/callanytime13.png"/>
			</div>
			<div class="header-top-middle">
				<div class="stars-container">
					<div class="star">
						<img alt="Star" src="/assets/images/sprite_star.png"/>
					</div>
					<div class="star">
						<img alt="Star" src="/assets/images/sprite_star.png"/>
					</div>
					<div class="star">
						<img alt="Star" src="/assets/images/sprite_star.png"/>
					</div>
					<div class="star">
						<img alt="Star" src="/assets/images/sprite_star.png"/>
					</div>
					<div class="star">
						<img alt="Star" src="/assets/images/sprite_star.png"/>
					</div>
				</div>
				<a class="see-reviews-link" href="#">See our reviews</a>
			</div>
			<div class="header-top-right">
				<a href="#">
					<img alt="Live help" src="/assets/images/livehelp.png"/>
				</a>
			</div>
		</div>
		<div class="header-main">
			<div class="logo-holder">
				<a href="#">
					<img alt="Vital Choice" src="/Assets/images/VCwso.png"/>
				</a>
			</div>
			<div class="header-right-sidebar">
				<div class="side-icon-holder">
					<a href="#">
						<img alt="Free Shipping" src="/Assets/images/freeshiptop.png">
					</a>
				</div>
				<div class="header-actions-holder">
					<div class="actions-top-nav">
						<a href="#">Your Account</a>
						<a href="#">Register</a>
						<a href="#">Contact Us</a>
					</div>
					<div class="cart-work-area">
						<a class="view-cart" href="#">
							<div class="cart-icon"></div>
							<div class="item-total">
								<span>0</span>
								<span>Item(s)</span>
							</div>
						</a>
						<a class="checkout-button" href="#">
							<img alt="Checkout" src="/Assets/images/checkout13.png"/>
						</a>
					</div>
				</div>
			</div>
		</div>
		<nav class="top-nav secondary-nav">
			<ul>
				<li>
					<a href="#">New</a>
				</li>
				<li>
					<a href="#">Signature Products</a>
				</li>
				<li>
					<a href="#">Special Offers</a>
				</li>
				<li>
					<a href="#">Recipes</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<ul>
								<li>
									<a href="#">All Recipes</a>
								</li>
								<li>
									<a href="#">Recipe Videos</a>
								</li>
								<li>
									<a href="#">Seafood Cooking Tips</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">Why Vital Choice?</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<ul>
								<li>
									<a href="#">About Us</a>
								</li>
								<li>
									<a href="#">Our Mission</a>
								</li>
								<li>
									<a href="#">Testimonials</a>
								</li>
								<li>
									<a href="#">Giving Back</a>
								</li>
								<li>
									<a href="#">News Room</a>
								</li>
								<li>
									<a href="#">Vital Green™</a>
								</li>
								<li>
									<a href="#">Sustainability</a>
								</li>
								<li>
									<a href="#">Product Purity</a>
								</li>
								<li>
									<a href="#">Randy's Podcasts</a>
								</li>
								<li>
									<a href="#">Customer Rewards</a>
								</li>
								<li>
									<a href="#">Frequent Questions (FAQs)</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">Health & Nutrition</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<ul>
								<li>
									<a href="#">Omega-3 Basics</a>
								</li>
								<li>
									<a href="#">Seafood Benefits</a>
								</li>
								<li>
									<a href="#">Omega-3/6 Balance</a>
								</li>
								<li>
									<a href="#">Healthy Mom & Baby</a>
								</li>
								<li>
									<a href="#">Seafood Purity & Safety</a>
								</li>
								<li>
									<a href="#">Recommended Reading</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">Catalog</a>
				</li>
				<li>
					<a href="#">Newsletter</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<ul>
								<li>
									<a href="#">Sign Up</a>
								</li>
								<li>
									<a href="#">Archives</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</nav>
		<div class="search-area">
			<form>
				<input type="text" placeholder="What can we help you find?" value=""/>
				<input type="image" src="/Assets/images/mag.jpg" />
			</form>
		</div>
		<nav class="top-nav main-nav">
			<ul class="first-level">
				<li>
					<a href="#">
						<span>WILD SALMON</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
						<span class="ddtitle">Wild Salmon</span>
							<ul>
								<li><a href="#">Sockeye Salmon - Wild Alaskan</a></li>

								<li><a href="#">King Salmon - Wild Pacific</a></li>

								<li><a href="#">Silver Salmon - Wild Alaskan</a></li>
								<li><a href="#">Smoked Salmon - Wild Alaskan</a></li>
								<li><a href="#">Wild Salmon Samplers</a></li>
								<li><a href="#">Seared Sockeye (Tataki)</a></li>
								<li><a href="#">Ikura Wild Salmon Caviar</a></li>
								<li><a href="#">Salmon Jerky - Pacific NW</a></li>
							</ul>
							<span class="ddtitle">New, Specials, and Combos</span>
							<ul>
								<li><a href="#">Petite Sockeye Portions 4 oz</a></li>
								<li><a href="#">Sockeye - Skinless 5 lb Pack</a></li>
								<li><a href="#">Sockeye - Skin-On 5 lb Pack</a></li>
								<li><a href="#">King Salmon - Skin-On 5 lb Pack</a></li>
								<li><a href="#">King Salmon - Skinless 5 lb Pack</a></li>
								<li><a href="#">Sockeye &amp; Halibut Combo</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">
						<span>WILD COD, TUNA, HALIBUT, & MORE</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<span class="ddtitle">Wild Cod, Tuna,<br>Halibut &amp; More</span>
							<ul>
								<li><a href="#">Cod - Wild Alaskan</a></li>
								<li><a href="#">Halibut - Wild Alaskan</a></li>
								<li><a href="#">Tuna - Wild Pacific</a></li>
								<li><a href="#">Sablefish - Wild Alaskan</a></li>
								<li><a href="#">Petrale Sole - Wild Pacific NW</a></li>
							</ul>
							<span class="ddtitle">New, Specials, and Combos</span>
							<ul>
								<li><a href="#">Cod &amp; Silver Salmon Combo</a></li>
								<li><a href="#">Cod Pieces - Four 1 lb Bags</a></li>

								<li><a href="#">Halibut Portions - 5 lb Bulk Pack</a></li>
								<li><a href="#">Halibut Pieces - Four 1 lb Bags</a></li>
								<li><a href="#">Sablefish &amp; King Salmon Combo</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">
						<span>WILD SHRIMP & SHELLFISH</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<span class="ddtitle">Wild Shrimp<br>and Shellfish</span>
							<ul>
								<li><a href="#">Sea Scallops - Wild</a></li>
								<li><a href="#">Lobster - Wild Maine</a></li>
								<li><a href="#">Calamari - Wild Pacific</a></li>
								<li><a href="#">Spot Prawns - Wild Pacific</a></li>
								<li><a href="#">Tanner Crab - Wild Alaskan</a></li>
								<li><a href="#">Alaskan King Crab</a></li>
								<li><a href="#">Dungeness Crab - Wild Pacific</a></li>
								<li><a href="#">Cultured Clams- Live &amp; Frozen</a></li>
								<li><a href="#">Cultured Oysters- Live &amp; Frozen</a></li>
								<li><a href="#">Cultured Mussels- Live &amp; Frozen</a></li>
								<li><a href="#">Wild Oregon Pink Shrimp - Cooked</a></li>
							</ul>
							<span class="ddtitle">New, Specials, and Combos</span>
							<ul>
								<li><a href="#">Check back for updates</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">
						<span>CANNED SEAFOOD</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<span class="ddtitle">Canned &amp; Pouched Wild Seafood</span>
							<ul>
								<li><a href="#">Sockeye Salmon</a></li>
								<li><a href="#">Pink Salmon</a></li>
								<li><a href="#">Pink Shrimp</a></li>
								<li><a href="#">Anchovies</a></li>
								<li><a href="#">Sardines</a></li>
								<li><a href="#">Sardine Fillets</a></li>
								<li><a href="#">Albacore Tuna</a></li>
								<li><a href="#">Pouched Tuna &amp; Salmon</a></li>
								<li><a href="#">Smoked Mussels</a></li>
								<li><a href="#">Mackerel</a></li>
								<li><a href="#">Dungeness Crab</a></li>
								<li><a href="#">No Salt Added Options</a></li>
								<li><a href="#">Kosher Certified Options</a></li>
								<li><a href="#">Canned Seafood Samplers</a></li>
							</ul>
							<span class="ddtitle">New, Specials, and Combos</span>
							<ul>
								<li><a href="#">Sampler Packs</a></li>
								<li><a href="#">Salmon Patty Mix</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">
						<span>LOX & SMOKED FISH</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<span class="ddtitle">Lox &amp; Smoked Wild Fish</span>
							<ul>
								<li><a href="#">Sockeye Salmon: Hot-Smoked, Lox &amp; Candy</a></li>
								<li><a href="#">Smoked King Salmon</a></li>
								<li><a href="#">King Salmon Candy</a></li>
								<li><a href="#">Salmon Jerky Strips</a></li>
								<li><a href="#">Smoked Albacore Tuna</a></li>
								<li><a href="#">Sablefish ("black cod")</a></li>
							</ul>
							<span class="ddtitle">New, Specials, and Combos</span>
							<ul>
								<li><a href="#">Hot-Smoked Sockeye Combo</a></li>
								<li><a href="#">Smoked Salmon Sampler</a></li>
								<li><a href="#">Wild Sockeye Lox Trim - 2 lbs</a></li>
								<li><a href="#">Nova Lox Fillets, Sliced - 26 oz</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">
						<span>SALMON BURGERS, BACON, & SAUSAGE</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<span class="ddtitle">Wild Salmon<br>Burgers, Bacon, and Sausage</span>
							<ul>
								<li class="right"><a href="#">Wild Salmon Bacon</a></li>
								<li class="right"><a href="#">Wild Sockeye Salmon Burgers</a></li>
								<li class="right"><a href="#">Wild Sockeye Salmon Sausage: Savory, Chorizo &amp; Italian Style</a></li>
							</ul>
							<span class="ddtitle">New, Specials, and Combos</span>
							<ul>
								<li><a href="#">Salmon Bacon &amp; Sausage Combo</a></li>
								<li><a href="#">Weil for Vital Choice™ Sausage Sampler</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">
						<span>OMEGA-3S & SUPPLEMENTS</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<span class="ddtitle">Omega-3s &amp; Supplements</span>
							<ul>
								<li><a href="#">Omega-3 Krill Oil</a></li>
								<li><a href="#">Omega-3 Salmon Oil</a></li>
								<li><a href="#">High Potency Omega-3 Therapy</a></li>
								<li><a href="#">Daily Packs: Omega-3s + D3</a></li>
								<li><a href="#">Vital Omega-3 &amp; 6 Test™ Kit</a></li>
								<li><a href="#">Rhodiola in Wild Salmon Oil</a></li>
								<li><a href="#">Curcumin in Wild Salmon Oil</a></li>
								<li><a href="#">Vitamin D + Omega-3 Combos</a></li>
								<li><a href="#">Astaxanthin Marine Antioxidant</a></li>
								<li><a href="#">Sport-Certified™ Omega-3s+D3</a></li>
							</ul>
							<span class="ddtitle">New, Specials, and Combos</span>
							<ul>
								<li><a href="#">Check back for updates</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="drop">
						<span>CHICKEN, BEEF, & ORGANIC FOODS</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<span class="ddtitle">Chicken, Beef, &amp; Organic Foods</span>
							<ul>
								<li><a href="#">Heritage Chicken</a></li>
								<li><a href="#">Grass-Fed Beef</a></li>
								<li><a href="#">Meals, Broths &amp; Soups - Organic &amp; Natural</a></li>
								<li><a href="#">Organic Nuts</a></li>
								<li><a href="#">Organic Trail Mix</a></li>
								<li><a href="#">Organic Dried Fruits</a></li>
								<li><a href="#">Organic Dark Chocolate</a></li>
								<li><a href="#">Organic Oils &amp; Vinegars</a></li>
								<li><a href="#">Organic Berries - Frozen</a></li>
								<li><a href="#">Organic Seafood Seasonings</a></li>
								<li><a href="#">Seaweed Salad &amp; Kelp Cubes</a></li>
								<li><a href="#">Cultured Organic Garlic Flower</a></li>
							</ul>
							<span class="ddtitle">New, Specials, and Combos</span>
							<ul>
								<li><a href="#">Cook's Trio</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">
						<span>GIFT, SAMPLERS, & PET TREATS</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<span class="ddtitle">Gifts, Samplers &amp; Pet Treats</span>
							<ul>
								<li><a href="#">All Gifts</a></li>
								<li><a href="#">Gift Packs</a></li>
								<li><a href="#">Gift Certificates</a></li>
								<li><a href="#">E-Gift Certificates</a></li>
								<li><a href="#">Salmon Pet Treats</a></li>
								<li><a href="#">Doctors' Favorites</a></li>
								<li><a href="#">Parties &amp; Entertaining</a></li>
								<li><a href="#">Health Advisors' Packs</a></li>
								<li><a href="#">Frozen Seafood Samplers</a></li>
								<li><a href="#">Red + White Fish Combos</a></li>
								<li><a href="#">Canned Seafood Samplers</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">
						<span>COOK'S TOOLS & BOOKS</span>
					</a>
					<div class="dropdown_1column">
						<div class="col_1">
							<span class="ddtitle">Cook's Tools &amp; Books</span>
							<ul>
								<li><a href="#">Grilling Planks</a></li>
								<li><a href="#">Snap-On Can Lids</a></li>
								<li><a href="#">Vital Choice Aprons</a></li>
								<li><a href="#">Books &amp; Cookbooks</a></li>
								<li><a href="#">Ring Pull Can Opener</a></li>
								<li><a href="#">Stainless Tea Strainer</a></li>
								<li><a href="#">Vital Choice Water Bottles</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</nav>
		<div class="nav-shadow"></div>
	</header>
	<div class="content">
		@RenderBody()
	</div>
	<footer>
		<div class="footer-main">
			<nav class="footer-nav">
				<div class="footer-links-column">
					<span>Need Help?</span>
					<ul>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Request a Catalog</a></li>
						<li><a href="#">Customer Rewards</a></li>
						<li><a href="#">Returns & Exchanges</a></li>
						<li><a href="#">Shipping Information</a></li>
					</ul>
				</div>
				<div class="footer-links-column">
					<span>Our Company</span>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Guarantee</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Purity Standards</a></li>
						<li><a href="#">Sustainability Policy</a></li>
						<li><a href="#">Vital Green™</a></li>
						<li><a href="#">News Room</a></li>
						<li><a href="#">Giving Back</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
				<div class="footer-links-column">
					<span>Programs</span>
					<ul>
						<li><a href="#">Affiliate Accounts</a></li>
						<li><a href="#">Customer Rewards</a></li>
						<li><a href="#">Wholesale Accounts</a></li>
					</ul>
				</div>
				<div class="footer-links-column">
					<span>Learn</span>
					<ul>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Recipes</a></li>
						<li><a href="#">Seafood Cooking Tips</a></li>
						<li><a href="#">Newsletter Archive</a></li>
						<li><a href="#">Healthy Mom & Baby</a></li>
						<li><a href="#">Seafood Health Benefits</a></li>
						<li><a href="#">Omega-3 Facts & Sources</a></li>
					</ul>
				</div>
			</nav>
			<div class="footer-market">
				<div class="market-left">
					<a href="#">
						<img alt="See Our Catalog" src="/Assets/images/seeourcatalog.jpg"/>
					</a>
					<a href="#">
						<img alt="Certified Corporation" src="/Assets/images/BCorplogo.jpg"/>
					</a>
					<a href="#">
						<img alt="Vital Green" src="/Assets/images/vitalgreen.jpg"/>
					</a>
				</div>
				<div class="market-right">
					<a href="#">
						<img alt="Watch Vital Choice Videos" src="/Assets/images/morevideos.jpg"/>
					</a>
					<div class="ssl-area">
						<a target="_blank" class="accredited-businesses" href="http://www.bbb.org/western-washington/business-reviews/fish-and-seafood-retail/vital-choice-seafood-in-bellingham-wa-22009778#bbbseal" title="Vital Choice Seafood, Fish &amp; Seafood  Retail, Bellingham, WA">
							<img src="https://seal-alaskaoregonwesternwashington.bbb.org/logo/ruhzbus/vital-choice-seafood-22009778.png" alt="Vital Choice Seafood, Fish &amp; Seafood  Retail, Bellingham, WA">
						</a>
						<a class="security-logo" href="http://secure.trust-guard.com/certificates/5867" target="_blank" onclick="var nonwin = navigator.appName != 'Microsoft Internet Explorer' ? 'yes' : 'no'; window.open(this.href.replace('http', 'https'), 'welcome', 'location=' + nonwin + ',scrollbars=yes,width=517,height=' + screen.availHeight + ',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;">
							<img alt="Security Seal" src="https://secure.trust-guard.com/seals/5867/scanned/mini/gray">
						</a>
					</div>
					<div id="socialiconshome-102413"><img src="/Assets/images/socialicons5-home.jpg" usemap="#Social">
					</div>
					<map name="Social" id="Social">
						<area shape="rect" coords="209,0,236,25" href="https://www.youtube.com/user/VitalChoiceSeafood" alt="Youtube" target="_blank">
						<area shape="rect" coords="165,0,192,25" href="http://instagram.com/vitalchoice" alt="Instagram" target="_blank">
						<area shape="rect" coords="126,0,153,25" href="http://pinterest.com/vitalchoice/" alt="Pintrest" target="_blank">
						<area shape="rect" coords="83,0,109,25" href="https://plus.google.com/109701577970251794205/posts" alt="Google+" target="_blank">
						<area shape="rect" coords="41,0,67,25" href="https://twitter.com/vitalchoice" alt="Twitter" target="_blank">
						<area shape="rect" coords="0,0,26,25" href="https://www.facebook.com/vitalchoice" alt="Facebook" target="_blank">
					</map>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<span>For orders, questions, or assistance call 800-608-4825 any day or time. © 2015 Vital Choice Wild Seafood & Organics, Inc. All Rights Reserved</span>
		</div>
	</footer>
</div>
@await Component.InvokeAsync("Assets", "scripts")
@RenderSection("PageScripts", false)
</body>
</html>