@using System.Threading.Tasks
@using Microsoft.Extensions.Options
@using VitalChoice.Infrastructure.Domain.Options
@using VitalChoice.Infrastructure.Identity
@using VitalChoice.Interfaces.Services
@using VitalChoice.Infrastructure.Domain.Transfer
@inject IOptions<AppOptions> appOptions;
@inject ReferenceData appInfrastructureService;

<!DOCTYPE html>
<!--[if lt IE 9]>
	<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gte IE 9]>
	<html class="no-js" lang="en">
<![endif]-->
<!--[if !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	@if (IsSectionDefined("Meta"))
	{
		@RenderSection("Meta", false)
	}
	else
	{
		<title>Wild Seafood & Organics - Vital Choice</title>
	}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="/assets/miscellaneous/apple-touch-icon.png">
	<link rel="icon" type="img/ico" href="/assets/miscellaneous/favicon.ico">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Francois One">
	@await Component.InvokeAsync("Assets", new { assetType = "styles" })
	<style>
		@await Component.InvokeAsync("CustomStyles")
		</style>
	<script>
		@{
			var appInfrastructure = appInfrastructureService;
		}

		var appSettings = { DefaultCountryId: @(appInfrastructure.DefaultCountry?.Id) }
	</script>
</head>
<body class="view-cart-layout view-cart-background order-info-section-fonts">
<div class="view-cart-main">
	<header>
		<div class="logo-holder">
			<a href="/">
				<img alt="Vital Choice" src="/Assets/images/VCwso.png"/>
			</a>
		</div>
		@*<div id="lhnContainer">
			<div id="lhnChatButton">
			</div>
		</div>*@
		<div class="advert-top-holder">
			<a href="#">
				<img src="/Assets/images/freeship-13-2.jpg">
			</a>
		</div>
	</header>
	<div class="view-cart-content">
		@RenderBody()
	</div>
	<footer>
		<div class="footer-cart-main">
			<div class="advert-bottom-holder">
				<a href="#">
					<img src="/Assets/images/freeship-13-2.jpg">
				</a>
			</div>
			<div class="footer-cart-middle">
				<a href="#">
					<img src="/Assets/images/guarantee-13.png">
				</a>
			</div>
			<div class="footer-cart-right">
				<a name="trustlink" href="http://secure.trust-guard.com/certificates/5867" target="_blank"
				   onclick="var nonwin = navigator.appName != 'Microsoft Internet Explorer' ? 'yes' : 'no'; window.open(this.href.replace('http', 'https'), 'welcome', 'location=' + nonwin + ',scrollbars=yes,width=517,height=' + screen.availHeight + ',menubar=no,toolbar=no'); return false;"
				   oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;">
					<img name="trustseal" alt="Security Seal" style="border: 0;" src="https://secure.trust-guard.com/seals/5867/scanned/mini/gray"/>
				</a>
			</div>
		</div>
		<nav class="footer-cart-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Site Map</a></li>
				<li><a href="#">Shipping</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Request Catalog</a></li>
				<li><a href="#">Affiliate Program</a></li>
				<li class="last-child"><a href="#">Privacy & Security</a></li>
			</ul>
		</nav>
	</footer>
</div>
@*<script src="https://www.google.com/jsapi" type="text/javascript"></script>*@
@await Component.InvokeAsync("Assets", new { assetType = "scripts" })
@RenderSection("PageScripts", false)
</body>
</html>