<div class="working-area-holder form-regular">
	<span class="form-control-important-info margin-top-small">
		Your cart is empty. <a href="/" class="button yellow">Continue Shopping</a>
	</span>
</div>