/*f66e21*/
/*717171*/
body {
  min-width: 1100px;
}
.table {
  max-width: 2500px;
}
.container {
  width: 850px;
}
.container.small-container {
  width: 768px;
}
.container.big-container {
  width: 900px;
}
.container.sub-container {
  margin-right: 20px;
  margin-left: 0;
  float: left;
}
.content-fixed-250px {
  width: 250px;
}
.container.sub-container {
  width: 31%;
  min-width: 650px;
  max-width: 1000px;
}
h2 {
  margin-left: 20px;
}
.centered-text {
  text-align: center;
}
.angular-ui-tree-placeholder {
  border: 2px dashed #717171;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 40px;
}
.angular-ui-tree-handle:hover {
  background-color: #EDEDED;
}
.angular-ui-tree-handle .ya-treview-buttons {
  display: none;
  float: right;
  margin-left: 20px;
  margin-right: 10px;
}
.angular-ui-tree-handle:hover .ya-treview-buttons,
.angular-ui-tree-handle:active .ya-treview-buttons {
  display: block;
}
.angular-ui-tree-handle .ya-treview-buttons a {
  margin-top: 9px;
  margin-bottom: 9px;
}
.ya-treeview-content .checkbox {
  float: left;
  min-width: 400px;
}
.ya-treeview {
  padding-left: 10px;
}
.ya-treeview a.btn-link {
  padding-top: 9px;
  padding-left: 0px;
  margin: 0;
  font-size: inherit;
  outline: 0;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  padding-right: 0;
  margin-left: -10px;
}
.ya-treeview-content {
  padding-left: 2px;
  margin-left: 12px;
}
.ya-treeview-content .line {
  float: left;
  min-width: 400px;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ya-treeview-content .line label {
  min-height: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #555555;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
hr {
  border-top: 1px solid #e5e5e5;
}
.category-status {
  font-size: inherit;
  margin-left: 15px;
}
.nav > li.dropdown:hover {
  cursor: pointer;
}
.nav-tabs > li:not(.active):hover a {
  background-color: #eeeeee;
}
.nav-tabs > li:not(.active) a {
  background-color: #F2F2F2;
  border-bottom: 1px solid #dddddd;
}
.table .btn:hover {
  color: #ffffff;
}
.btn-right {
  float: right;
}
.left-pane {
  position: absolute;
  width: 250px;
}
.right-pane {
  margin: 0 0 0 250px;
  padding: 0 0px 0 30px;
}
.left-pane-controls {
  position: absolute;
  width: 200px;
}
.right-pane-main {
  margin: 0 0 0 200px;
  padding: 0 0px 0 30px;
}
.logo {
  max-height: 60px;
}
.margin-zero {
  margin: 0;
}
.width-80px {
  width: 80px;
}
.width-160px {
  width: 160px;
}
.width-200px {
  width: 200px;
}
.tab-content {
  padding-top: 30px;
}
.container.container-left {
  margin-left: 0;
}
.margin-top-15px {
  margin-top: 15px;
}
.margin-top-30px {
  margin-top: 30px;
}
.margin-bottom-30px {
  margin-bottom: 30px;
}
.margin-bottom-15px {
  margin-bottom: 15px;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-top-10px {
  margin-top: 10px;
}
.margin-30px {
  margin: 30px;
}
.margin-right-15px {
  margin-right: 15px;
}
.margin-right-8px {
  margin-right: 8px;
}
.custom-navbar-bottom {
  border-radius: 0px 0px 3px  3px;
}
.tab-pane h3 {
  margin-top: 0;
  margin-left: 19px;
}
.centered-element {
  float: none;
  margin: 0 auto;
}
button.main-button {
  width: 145px;
}
.custom-navbar-top {
  border-radius: 3px  3px 0px 0px;
  background: #ffffff;
}
.sidebar .navbar-collapse {
  height: auto;
  border-top: 0;
  box-shadow: none;
  max-height: none;
  padding-left: 0;
  padding-right: 0;
}
.sidebar .navbar-collapse.collapse {
  display: block !important;
  width: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.sidebar .navbar-collapse.in {
  overflow-x: visible;
}
.sidebar.navbar {
  max-width: 250px;
  min-width: 250px;
  margin-right: 0;
  margin-left: 0;
}
.sidebar .navbar-nav,
.sidebar .navbar-nav > li,
.sidebar .navbar-left,
.sidebar navbar-right,
.sidebar .navbar-header {
  float: none !important;
}
.sidebar .navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}
.sidebar .navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
.sortable-accordion .panel-title {
  font-size: 14px;
  line-height: 20px;
}
.sortable-accordion .panel-heading {
  background-color: #EDEDED;
}
.fixed-accordion-row {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
.fixed-accordion-row.extra-spacing {
  margin-right: 20px;
}
.fixed-accordion-row.pull-right {
  margin-right: 0px;
}
.fixed-accordion-row > * {
  float: left;
  width: auto;
}
.fixed-accordion-row > .input-group {
  width: 133px;
}
.fixed-accordion-row > .control-label {
  margin-right: 10px;
}
.fixed-accordion-row input[type=text],
.fixed-accordion-row input[type=number] {
  width: 100px;
}
.fixed-accordion-row input[type=text].half-size-input,
.fixed-accordion-row input[type=number].half-size-input {
  width: 50px;
}
.fixed-accordion-row input[type=number].third-size-input,
.fixed-accordion-row input[type=text].third-size-input {
  width: 30px;
}
.fixed-accordion-row button {
  margin-left: 15px;
}
.font-default {
  font-size: inherit;
}
.font-big {
  font-size: 18px;
}
.checkbox-in-group + .checkbox-in-group {
  display: block;
  margin-left: 0px;
}
.ace_editor {
  height: 800px;
}
form.submitted select.ng-invalid,
form.submitted input.ng-invalid,
form.submitted textarea.ng-invalid {
  border: 1px solid red;
}
form .error-container {
  color: red;
  margin: 5px 0 0 5px;
}
form .error-container small {
  display: block;
}
.toogle-editor {
  text-align: right;
  margin-bottom: 10px;
}
/* Absolute Center CSS Spinner */
.loading {
  position: absolute;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.overlay {
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.relative {
  position: relative;
}
