<!DOCTYPE html>
<html data-ng-app="mainApp" data-ng-strict-di>
<head>
	<title>VitalChoice Admin panel</title>
	@await Component.InvokeAsync("Assets", "styles")
</head>
<body>
	<div data-ng-include="app/shared/area/partials/area.html"></div>
	@await Component.InvokeAsync("Assets", "scripts")
</body>
</html>