<!DOCTYPE html>
<html>
<head>
	<title>Hello World...</title>
	@await Component.InvokeAsync("Assets", "styles")
</head>
<body>
	<div class="col-md-8"> <!--ng-app="mainApp"-->

	</div>
	@await Component.InvokeAsync("Assets", "scripts")
</body>
</html>