<div class="form-group">
	<label for="{{::model.formName}}_model_company" class="col-md-3 control-label">Company</label>
	<div class="col-md-9">
	    <input type="text" name="Company" class="form-control" id="{{::model.formName}}_model_company" data-ng-model="model.Address.Company" placeholder="Company" data-ng-maxlength="100" autocomplete="off" />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].Company.$invalid">
            <small class="error" ng-show="forms[model.formName].Company.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Company", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].Company.$error.server">{{serverMessages.GetMessage('Company', undefined, indefined, model.formName)}}</small>
        </div>
	</div>
</div>
<div class="form-group">
	<label for="{{::model.formName}}_model_firstname" class="col-md-3 control-label">First Name</label>
	<div class="col-md-9">
	    <input type="text" name="FirstName" class="form-control" data-ng-model="model.Address.FirstName" id="{{::model.formName}}_model_firstname" placeholder="First Name" required data-ng-maxlength="100" autocomplete="off" />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].FirstName.$invalid">
            <small class="error" ng-show="forms[model.formName].FirstName.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.FirstName")}}</small>
            <small class="error" ng-show="forms[model.formName].FirstName.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.FirstName", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].FirstName.$error.server">{{serverMessages.GetMessage('FirstName', undefined, indefined, model.formName)}}</small>
        </div>
	</div>
</div>
<div class="form-group">
	<label for="{{::model.formName}}_model_lastname" class="col-md-3 control-label">Last Name</label>
	<div class="col-md-9">
	    <input type="text" name="LastName" class="form-control" id="{{::model.formName}}_model_lastname" data-ng-model="model.Address.LastName" placeholder="Last Name" required data-ng-maxlength="100" autocomplete="off" />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].LastName.$invalid">
            <small class="error" ng-show="forms[model.formName].LastName.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.LastName")}}</small>
            <small class="error" ng-show="forms[model.formName].LastName.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.LastName", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].LastName.$error.server">{{serverMessages.GetMessage('LastName', undefined, indefined, model.formName)}}</small>
        </div>
	</div>
</div>
<div class="form-group">
	<label for="{{::model.formName}}_model_address1" class="col-md-3 control-label">Address 1</label>
	<div class="col-md-9">
	    <input type="text" name="Address1" class="form-control" data-ng-model="model.Address.Address1" id="{{::model.formName}}_model_address1" placeholder="Address 1" required data-ng-maxlength="100" autocomplete="off" />
	    <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].Address1.$invalid">
            <small class="error" ng-show="forms[model.formName].Address1.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Address1")}}</small>
	        <small class="error" ng-show="forms[model.formName].Address1.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Address1", "100"])}}</small>
	        <small class="error" ng-show="forms[model.formName].Address1.$error.server">{{serverMessages.GetMessage('Address1', undefined, indefined, model.formName)}}</small>
	    </div>
	</div>
</div>
<div class="form-group">
	<label for="{{::model.formName}}_model_address2" class="col-md-3 control-label">Address 2</label>
	<div class="col-md-9">
	    <input type="text" name="Address2" class="form-control" data-ng-model="model.Address.Address2" id="{{::model.formName}}_model_address2" placeholder="Address 2" data-ng-maxlength="100" autocomplete="off" />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].Address2.$invalid">
            <small class="error" ng-show="forms[model.formName].Address2.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Address2", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].Address2.$error.server">{{serverMessages.GetMessage('Address2', undefined, indefined, model.formName)}}</small>
        </div>
	</div>
</div>
<div class="form-group">
	<label for="{{::model.formName}}_model_city" class="col-md-3 control-label">City</label>
	<div class="col-md-9">
	    <input type="text" name="City" class="form-control" data-ng-model="model.Address.City" id="{{::model.formName}}_model_city" placeholder="City" required data-ng-maxlength="100" autocomplete="off" />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].City.$invalid">
            <small class="error" ng-show="forms[model.formName].City.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","City")}}</small>
            <small class="error" ng-show="forms[model.formName].City.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["City", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].City.$error.server">{{serverMessages.GetMessage('City', undefined, indefined, model.formName)}}</small>
        </div>
	</div>
</div>
<div class="form-group">
	<label for="{{::model.formName}}_model_country" class="col-md-3 control-label">Country</label>
	<div class="col-md-9">
	    <select id="{{::model.formName}}_model_country" name="Country" class="form-control" data-ng-model="model.Address.Country" data-ng-options="country as country.CountryName for country in countries track by country.Id" required>
            <option value="">Select Country</option>
        </select>
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].Country.$invalid">
            <small class="error" ng-show="forms[model.formName].Country.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Country")}}</small>
            <small class="error" ng-show="forms[model.formName].Country.$error.server">{{serverMessages.GetMessage('Country', undefined, indefined, model.formName)}}</small>
        </div>
	</div>
</div>
<div class="form-group" data-ng-if="model.Address.Country.CountryCode">
	<label class="col-md-3 control-label">State/Province</label>
    <div class="col-md-9" data-ng-if="model.Address.Country.States && model.Address.Country.States.length > 0">
        <select name="State" class="form-control" id="{{::model.formName}}_model_state" data-ng-model="model.Address.State" data-ng-options="state.Id as state.StateName for state in model.Address.Country.States" required>
            <option value="">Select State</option>
        </select>
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].State.$invalid">
            <small class="error" ng-show="forms[model.formName].State.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","State")}}</small>
            <small class="error" ng-show="forms[model.formName].State.$error.server">{{serverMessages.GetMessage('State', undefined, indefined, model.formName)}}</small>
        </div>
    </div>
    <div class="col-md-9" data-ng-if="!(model.Address.Country.States && model.Address.Country.States.length > 0)">
        <input type="text" name="County" id="{{::model.formName}}_model_county" class="form-control" data-ng-model="model.Address.County" placeholder="State" data-ng-maxlength="100" autocomplete="off" />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].County.$invalid">
            <small class="error" ng-show="forms[model.formName].County.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["State", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].County.$error.server">{{serverMessages.GetMessage('State', undefined, indefined, model.formName)}}</small>
        </div>
    </div>
</div>
<div class="form-group">
	<label for="{{::model.formName}}_model_zip" class="col-md-3 control-label">Zip</label>
    <div class="col-md-9">
        <input type="text" name="Zip" class="form-control" data-ng-model="model.Address.Zip" id="{{::model.formName}}_model_zip" placeholder="Zip" required data-ng-maxlength="100" autocomplete="off" />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].Zip.$invalid">
            <small class="error" ng-show="forms[model.formName].Zip.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Zip")}}</small>
            <small class="error" ng-show="forms[model.formName].Zip.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Zip", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].Zip.$error.server">{{serverMessages.GetMessage('Zip', undefined, indefined, model.formName)}}</small>
        </div>
    </div>
</div>
<div class="form-group">
	<label for="{{::model.formName}}_model_phone" class="col-md-3 control-label">Phone</label>
    <div class="col-md-9">
        <input type="text" name="Phone" class="form-control" data-ng-model="model.Address.Phone" id="{{::model.formName}}_model_phone" placeholder="Phone" data-mask="(999) 999-9999? x99999" data-clean="true"  data-ng-maxlength="100" autocomplete="off" required />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].Phone.$invalid">
            <small class="error" ng-show="forms[model.formName].Phone.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Phone")}}</small>
            <small class="error" ng-show="forms[model.formName].Phone.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Phone", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].Phone.$error.server">{{serverMessages.GetMessage('Phone', undefined, indefined, model.formName)}}</small>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="{{::model.formName}}_model_fax" class="col-md-3 control-label">Fax</label>
    <div class="col-md-9">
        <input type="text" name="Fax" class="form-control" data-ng-model="model.Address.Fax" id="{{::model.formName}}_model_fax" placeholder="Fax" data-mask="(999) 999-9999? x99999" data-clean="true" data-ng-maxlength="100" autocomplete="off" />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].Fax.$invalid">
            <small class="error" ng-show="forms[model.formName].Fax.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Fax", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].Fax.$error.server">{{serverMessages.GetMessage('Fax', undefined, indefined, model.formName)}}</small>
        </div>
    </div>
</div>
<div class="form-group" data-ng-if="model.Address.AddressType == 2 || model.Address.AddressType == 3">
    <label for="{{::model.formName}}_model_email" class="col-md-3 control-label">Email</label>
    <div class="col-md-9">
        <input type="email" name="Email" class="form-control" id="{{::model.formName}}_model_email" placeholder="Email" data-ng-model="model.Address.Email" data-ng-maxlength="100" autocomplete="off" />
        <div class="error-container" ng-show="forms.submitted[model.formName] && forms[model.formName].Email.$invalid">
            <small class="error" ng-show="forms[model.formName].Email.$error.email">{{getValidationMessage("ValidationMessages.EmailFormat","GeneralFieldNames.Email")}}</small>
            <small class="error" ng-show="forms[model.formName].Email.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.Email", "100"])}}</small>
            <small class="error" ng-show="forms[model.formName].Email.$error.server">{{serverMessages.GetMessage('Email', undefined, indefined, model.formName)}}</small>
        </div>
    </div>
</div>