<form class="form-horizontal" name="forms.shipping" data-ng-class="{submitted: forms.submitted['shipping']}" novalidate unsaved-warning-form>
    <fieldset>
        <span class="legend">Shipping Address</span>
        <div class="form-group">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <button class="btn btn-info" id="sameAsProfile" data-ng-click="makeAsProfileAddress();">Copy Profile</button>
            </div>
        </div>
        <div data-ng-include="'app/modules/customer/partials/address.html'" data-ng-repeat="model in [buildShippingAddressForPartial(currentCustomer.Shipping, 0)]"></div>
    </fieldset>
</form>