<div class="container-fluid">
    <div class="well">
        <span class="legend">Manage Customers</span>
        <div class="row form-group">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Email" data-ng-model="filter.Email">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Last Name" data-ng-model="filter.LastName">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="First Name" data-ng-model="filter.FirstName">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Customer #" data-ng-model="filter.SearchText">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Phone" data-ng-model="filter.Phone">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Address 1" data-ng-model="filter.Address1">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="City" data-ng-model="filter.City">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Zip" data-ng-model="filter.Zip">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <button class="btn btn-info" data-ng-click="filterCustomers();" type="button">Filter</button>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <button ui-sref="index.oneCol.addCustomer" class="btn btn-primary">Add New Customer</button>
        </div>
        <spinner-overlay data-loading="refreshTracker.active()">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Id')">
                        <span>Customer #</span>
                        <span data-ng-if="filter.Sorting.Path == 'Id'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Name')">
                        <span>Name</span>
                        <span data-ng-if="filter.Sorting.Path == 'Name'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Country')">
                        <span>Country</span>
                        <span data-ng-if="filter.Sorting.Path == 'Country'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('State')">
                        <span>State/Province</span>
                        <span data-ng-if="filter.Sorting.Path == 'State'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('City')">
                        <span>City</span>
                        <span data-ng-if="filter.Sorting.Path == 'City'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th>Last Order Placed</th>
                    <th>Total Orders</th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Status')">
                        <span>Status</span>
                        <span data-ng-if="filter.Sorting.Path == 'Status'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Updated')">
                        <span>Updated</span>
                        <span data-ng-if="filter.Sorting.Path == 'Updated'">
                            <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                            <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                        </span>
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="customer in customers">
                    <td>{{::customer.Id}}</td>
                    <td>{{::customer.Name}}</td>
                    <td>{{::customer.Country}}</td>
                    <td>{{::customer.State}}</td>
                    <td>{{::customer.City}}</td>
                    <td>{{::customer.LastOrderPlaced | date:"MM/dd/yy"}}<br />{{::customer.LastOrderPlaced | date:"h:mm a"}}</td>
                    <td>{{::customer.TotalOrders}}</td>
                    <td>
                        <span data-ng-if="customer.StatusCode == 1" class="label label-warning font-default">{{getReferenceItem(ReferenceData.RecordStatuses, customer.StatusCode).Text}}</span>
                        <span data-ng-if="customer.StatusCode == 2" class="label label-info font-default">{{getReferenceItem(ReferenceData.RecordStatuses, customer.StatusCode).Text}}</span>
                    </td>
                    <td>{{::customer.DateEdited | date:"MM/dd/yy"}}<br />{{::customer.DateEdited | date:"h:mm a"}}<br />{{::customer.EditedBy}}</td>
                    <td>
                        <button title="Edit" ui-sref="index.oneCol.customerDetail({id:customer.Id})" ladda="editTracker.active()" class="btn btn-default btn-success btn-xs">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button title="Place Order" class="btn btn-default btn-primary btn-xs" ui-sref="index.oneCol.orderAdd({idcustomer:customer.Id})">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </spinner-overlay>
        <pagination boundary-links="true"
                    total-items="totalItems"
                    items-per-page="filter.Paging.PageItemCount"
                    data-ng-model="filter.Paging.PageIndex"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    data-ng-change="pageChanged()">
        </pagination>
    </div>
</div>