<div class="container-fluid">
	<div class="left-pane-controls">
		<div class="well container-fluid">
			<div>
				<button data-ng-click="save()" class="btn btn-success width-160px">Save</button>
			</div>
			<div class="margin-top-10px">
				<button ui-sref="index.oneCol.manageCustomers" class="btn btn-default width-160px">Cancel</button>
			</div>
		</div>
	</div>
	<div class="right-pane-main">
		<div class="container-fluid">
			<div class="row">
				<tabset>
					<tab heading="Account Profile" active="accountProfileTab.active">
						<div class="container container-left">
						<div class="well row">
                            <spinner-overlay data-loading="addEditTracker.active()">
                                <form class="form-horizontal" name="forms.profile" data-ng-submit="save()" data-ng-class="{submitted: forms.submitted['profile']}" novalidate>
                                    <fieldset>
                                        <span class="legend">Customer Type</span>
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <select class="form-control" id="customerType" data-ng-model="currentCustomer.CustomerType" data-ng-options="customerType.Key as customerType.Text for customerType in ReferenceData.CustomerTypes">
                                                </select>
                                            </div>
                                        </div>
                                        <div data-ng-if="currentCustomer.CustomerType == 2">
                                            <div class="form-group">
                                                <label for="taxExempt" class="col-md-3 control-label">Tax Exempt</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name="TaxExempt" id="taxExempt" data-ng-model="currentCustomer.TaxExempt" data-ng-options="taxExempt.Key as taxExempt.Text for taxExempt in ReferenceData.TaxExempts" required>
                                                    </select>
                                                    <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.TaxExempt.$invalid">
                                                        <small class="error" ng-show="forms.profile.TaxExempt.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Tax Exempt")}}</small>
                                                        <small class="error" ng-show="forms.profile.TaxExempt.$error.server">{{serverMessages.GetMessage('TaxExempt')}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="website" class="col-md-3 control-label">Website</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="Website" class="form-control" id="website" data-ng-model="currentCustomer.Website" placeholder="Website" required data-ng-maxlength="100" autocomplete="off">
                                                    <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.Website.$invalid">
                                                        <small class="error" ng-show="forms.profile.Website.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Website")}}</small>
                                                        <small class="error" ng-show="forms.profile.Website.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Website", "100"])}}</small>
                                                        <small class="error" ng-show="forms.profile.Website.$error.server">{{serverMessages.GetMessage('Website')}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="promoting" class="col-md-3 control-label">Promoting Websites</label>
                                                <div class="col-md-9">
                                                    <textarea type="text" name="PromotingWebsites" class="form-control" data-ng-model="currentCustomer.PromotingWebsites" id="promoting" placeholder="Promoting Websites" rows="10" required data-ng-maxlength="1000"></textarea>
                                                    <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.PromotingWebsites.$invalid">
                                                        <small class="error" ng-show="forms.profile.PromotingWebsites.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Promoting Websites")}}</small>
                                                        <small class="error" ng-show="forms.profile.PromotingWebsites.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Promoting Websites", "1000"])}}</small>
                                                        <small class="error" ng-show="forms.profile.PromotingWebsites.$error.server">{{serverMessages.GetMessage('Promoting Websites')}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tier" class="col-md-3 control-label">Tier</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" id="tier" name="Tier" data-ng-model="currentCustomer.Tier" data-ng-options="tier.Key as tier.Text for tier in ReferenceData.Tiers" required>
                                                    </select>
                                                    <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.Tier.$invalid">
                                                        <small class="error" ng-show="forms.profile.Tier.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Tier")}}</small>
                                                        <small class="error" ng-show="forms.profile.Tier.$error.server">{{serverMessages.GetMessage('Tier')}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tradeClass" class="col-md-3 control-label">Trade Class</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name="TradeClass" id="tradeClass" data-ng-model="currentCustomer.TradeClass" data-ng-options="tradeClass.Key as tradeClass.Text for tradeClass in ReferenceData.TradeClasses" required>
                                                    </select>
                                                    <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.TradeClass.$invalid">
                                                        <small class="error" ng-show="forms.profile.TradeClass.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Trade Class")}}</small>
                                                        <small class="error" ng-show="forms.profile.TradeClass.$error.server">{{serverMessages.GetMessage('TradeClass')}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Inception Date</label>
                                                <div class="col-md-9">
                                                    <p class="input-group">
                                                        <input type="text" name="InceptionDate" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="currentCustomer.InceptionDate" is-open="inceptionDateOpened" required autocomplete="off" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-disabled="false" ng-click="stopPropagation($event); inceptionDateOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </p>
                                                    <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.InceptionDate.$invalid">
                                                        <small class="error" ng-show="forms.profile.InceptionDate.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Inception Date")}}</small>
                                                        <small class="error" ng-show="forms.profile.InceptionDate.$error.server">{{serverMessages.GetMessage('InceptionDate')}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="legend">Profile Details</span>
                                        <div class="form-group">
                                            <label for="linked" class="col-md-3 control-label">Linked to Affiliate</label>
                                            <div class="col-md-9">
                                                <input type="text" name="LinkedToAffiliate" class="form-control" id="linked" data-ng-model="currentCustomer.LinkedToAffiliate" placeholder="Linked to Affiliate" data-ng-maxlength="100" autocomplete="off">
                                                <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.LinkedToAffiliate.$invalid">
                                                    <small class="error" ng-show="forms.profile.LinkedToAffiliate.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Linked to Affiliate", "100"])}}</small>
                                                    <small class="error" ng-show="forms.profile.LinkedToAffiliate.$error.server">{{serverMessages.GetMessage('LinkedToAffiliate')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-ng-include="'app/modules/customer/partials/address.html'" data-ng-repeat="model in [accountProfileTab]"></div>
                                        <div class="form-group" data-ng-if="editMode">
                                            <label for="currentEmail" class="col-md-3 control-label">Current Email</label>
                                            <div class="col-md-9 form-control-static">
                                                <span data-ng-bind="currentCustomer.Email"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="enterEmail" class="col-md-3 control-label">Enter Email</label>
                                            <div class="col-md-9">
                                                <input type="email" name="Email" class="form-control" id="enterEmail" data-ng-model="currentCustomer.newEmail" placeholder="Enter Email" data-ng-required="!editMode" data-ng-maxlength="100" autocomplete="off">
                                                <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.Email.$invalid">
                                                    <small class="error" ng-show="forms.profile.Email.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Email")}}</small>
                                                    <small class="error" ng-show="forms.profile.Email.$error.email">{{getValidationMessage("ValidationMessages.EmailFormat","GeneralFieldNames.Email")}}</small>
                                                    <small class="error" ng-show="forms.profile.Email.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.Email", "100"])}}</small>
                                                    <small class="error" ng-show="forms.profile.Email.$error.server">{{serverMessages.GetMessage('Email')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="reEnterEmail" class="col-md-3 control-label">Re-enter Email</label>
                                            <div class="col-md-9">
                                                <input type="email" name="EmailConfirm" class="form-control" id="reEnterEmail" data-ng-model="currentCustomer.emailConfirm" placeholder="Re-enter Email" data-ng-required="!editMode" data-ng-maxlength="100" autocomplete="off">
                                                <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.EmailConfirm.$invalid">
                                                    <small class="error" ng-show="forms.profile.EmailConfirm.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Email Confirmation")}}</small>
                                                    <small class="error" ng-show="forms.profile.EmailConfirm.$error.email">{{getValidationMessage("ValidationMessages.EmailFormat","Email Confirmation")}}</small>
                                                    <small class="error" ng-show="forms.profile.EmailConfirm.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Email Confirmation", "100"])}}</small>
                                                    <small class="error" ng-show="forms.profile.EmailConfirm.$error.server">{{serverMessages.GetMessage('EmailConfirm')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<span class="legend">Customer Files</span>
                                        <div class="form-group">
                                            <div class="container-fluid">
                                                <div class="">
                                                    <table class="table table-striped table-hover ">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Upload Date</th>
                                                                <th>Description</th>
                                                                <th>File Name</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr data-ng-repeat="file in currentCustomer.Files" data-ng-class="{success: order.RowStatus == 1, info: order.RowStatus == 2, warning: order.RowStatus == 3}">
                                                                <td><input type="checkbox"></td>
                                                                <td>{{file.UploadDate}}</td>
                                                                <td>{{file.Description}}</td>
                                                                <td>{{file.FileName}}</td>
                                                                <td>
                                                                    <button ui-sref="index.col.dashboard" class="btn btn-default btn-primary">View</button>
                                                                    <button ui-sref="index.col.dashboard" class="btn btn-default btn-info">Download</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <button ui-sref="index.col.dashboard" class="btn btn-danger">Delete</button>
                                            </div>
                                        </div>
                                        <span class="legend">Upload New File</span>
                                        <div class="form-group">
                                            <label for="fileDescription" class="col-md-3 control-label">Description</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="fileDescription" placeholder="Description">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <input type="file" class="" id="" placeholder="Choose File">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <button class="btn btn-primary">Upload</button>
                                            </div>
                                        </div>
                                        <span class="legend">Update Password</span>
                                        <div class="form-group">
                                            <label for="enterPassword" class="col-md-3 control-label">Enter New Password</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="enterPassword" placeholder="Enter New Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="reEnterPassword" class="col-md-3 control-label">Re-enter New Password</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="reEnterPassword" placeholder="Re-enter New Password">
                                            </div>
                                        </div>-->
                                        <span class="legend">Approved Payment Methods</span>
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <label class="checkbox-inline margin-left-zero margin-right-25px" data-ng-repeat="paymentMethod in paymentMethods">
                                                    <input type="checkbox" data-ng-click="togglePaymentMethodSelection(paymentMethod)" data-ng-checked="currentCustomer.ApprovedPaymentMethods.indexOf(paymentMethod.Id) > -1" autocomplete="off">
                                                    {{paymentMethod.Name}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="state" class="col-md-3 control-label">Default Payment Method</label>
                                            <div class="col-md-9">
                                                <select class="form-control" name="DefaultPaymentMethod" data-ng-model="currentCustomer.DefaultPaymentMethod" data-ng-options="paymentMethod.Id as paymentMethod.Name for paymentMethod in selectedPaymentMethods" required>
                                                    <option value="">Select Default Payment Method</option>
                                                </select>
                                                <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.DefaultPaymentMethod.$invalid">
                                                    <small class="error" ng-show="forms.profile.DefaultPaymentMethod.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Default Payment Method")}}</small>
                                                    <small class="error" ng-show="forms.profile.DefaultPaymentMethod.$error.server">{{serverMessages.GetMessage('DefaultPaymentMethod')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="legend">Automatic Order Specific Notes</span>
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <label class="checkbox-inline margin-left-zero margin-right-25px" data-ng-repeat="orderNote in orderNotes">
                                                    <input type="checkbox" data-ng-click="toggleOrderNoteSelection(orderNote.Id)" data-ng-checked="currentCustomer.OrderNotes.indexOf(orderNote.Id) > -1" autocomplete="off">
                                                    {{orderNote.Name}}
                                                </label>
                                            </div>
                                        </div>
                                        <span class="legend">DNM / DNR</span>
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <label class="checkbox-inline col-md-3">
                                                    <input type="checkbox" id="doNotMail" data-ng-model="currentCustomer.DoNotMail" autocomplete="off">
                                                    Do Not Mail
                                                </label>
                                                <label class="checkbox-inline col-md-3">
                                                    <input type="checkbox" id="doNotRent" data-ng-model="currentCustomer.DoNotRent" autocomplete="off">
                                                    Do Not Rent
                                                </label>
                                            </div>
                                        </div>
                                        <span class="legend">Suspend User Account</span>
                                        <div class="form-group">
                                            <label for="suspendUserAccount" class="col-md-3 control-label">Suspend User Account</label>
                                            <div class="col-md-9">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="suspendUserAccount" data-ng-model="currentCustomer.SuspendUserAccount">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" data-ng-if="currentCustomer.SuspendUserAccount">
                                            <label for="reason" class="col-md-3 control-label">Reason</label>
                                            <div class="col-md-9">
                                                <textarea type="text" name="Reason" class="form-control" id="reason" placeholder="Reason" rows="10" data-ng-model="currentCustomer.Reason" required data-ng-maxlength="1000"></textarea>
                                                <div class="error-container" ng-show="forms.submitted['profile'] && forms.profile.Reason.$invalid">
                                                    <small class="error" ng-show="forms.profile.Reason.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Reason")}}</small>
                                                    <small class="error" ng-show="forms.profile.Reason.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Reason", "1000"])}}</small>
                                                    <small class="error" ng-show="forms.profile.Reason.$error.server">{{serverMessages.GetMessage('Reason')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </spinner-overlay>
						  </div>
						</div>
					</tab>
				    <tab heading="Shipping Address" active="shippingAddressTab.active">
				        <div class="container container-left">
				            <div class="well row">
				                <spinner-overlay data-loading="addEditTracker.active()">
				                    <div data-ng-if="!editMode" data-ng-include="'app/modules/customer/partials/addShippingSection.html'"></div>
				                    <div data-ng-if="editMode" data-ng-include="'app/modules/customer/partials/updateShippingSection.html'"></div>
				                </spinner-overlay>
				            </div>
				        </div>
				    </tab>
                    <tab heading="Payment Information" active="paymentInfoTab.active">
                        <div class="container container-left">
                            <div class="well row">
                                <spinner-overlay data-loading="addEditTracker.active()">
                                    <form class="form-horizontal" name="forms.billing" data-ng-class="{submitted: forms.submitted['billing']}" novalidate>
                                        <fieldset>
                                            <span class="legend">Select Payment Method</span>
                                            <div class="form-group" data-ng-if="currentCustomer.ApprovedPaymentMethods.indexOf(1) >= 0">
                                                <div class="radio col-md-3">
                                                    <label>
                                                        <input type="radio" class="" data-ng-model="paymentInfoTab.PaymentMethodType" data-ng-click="switchPaymentMethodType();" value="1" id="creditCard">
                                                        Credit Card
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="form-control" id="selectPaymentMethod" data-ng-disabled="paymentInfoTab.PaymentMethodType != 1" data-ng-model="paymentInfoTab.CreditCard" 
                                                            data-ng-options="creditCard as (getCreditCardTypeName(creditCard.CardType) + ', ending in ' + getLast4(creditCard.CardNumber)) for creditCard in currentCustomer.CreditCards track by creditCard.Id">
                                                    </select>
                                                </div>
                                                <div class="col-md-3" style="padding-top:9px;">
                                                    <button class="btn btn-danger pull-right" data-ng-click="deleteSelectedCreditCard(paymentInfoTab.SelectedCreditCard);">Delete</button>
                                                </div>
                                            </div>
                                            <div class="form-group" data-ng-if="currentCustomer.ApprovedPaymentMethods.indexOf(2) >= 0">
                                                <div class="col-md-9">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" class="" data-ng-model="paymentInfoTab.PaymentMethodType" data-ng-click="switchPaymentMethodType();" value="2" id="oac">
                                                            On Approved Credit
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-ng-if="currentCustomer.ApprovedPaymentMethods.indexOf(3) >= 0">
                                                <div class="col-md-9">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" class="" data-ng-model="paymentInfoTab.PaymentMethodType" data-ng-click="switchPaymentMethodType();" value="3" id="check">
                                                            Check
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div data-ng-if="paymentInfoTab.PaymentMethodType == 1 && currentCustomer.ApprovedPaymentMethods.length > 0">
                                                <div class="form-group">
                                                    <label for="NameOnCard" class="col-md-3 control-label">Name on Card</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="NameOnCard" id="NameOnCard" data-ng-model="paymentInfoTab.CreditCard.NameOnCard" placeholder="Name on Card" required autocomplete="off">
                                                        <div class="error-container" ng-show="forms.submitted['billing'] && forms.billing.NameOnCard.$invalid">
                                                            <small class="error" ng-show="forms.billing.NameOnCard.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.NameOnCard")}}</small>
                                                            <small class="error" ng-show="forms.billing.NameOnCard.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.NameOnCard", "100"])}}</small>
                                                            <small class="error" ng-show="forms.billing.NameOnCard.$error.server">{{serverMessages.GetMessage('NameOnCard')}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="CardType" class="col-md-3 control-label">Card Type</label>
                                                    <div class="col-md-9">
                                                        <select class="form-control" id="CardType" name="CardType" data-ng-model="paymentInfoTab.CreditCard.CardType" ng-options="creditCardType.Key as creditCardType.Text for creditCardType in creditCardTypes" required autocomplete="off">
                                                        </select>
                                                        <div class="error-container" ng-show="forms.submitted['billing'] && forms.billing.CardType.$invalid">
                                                            <small class="error" ng-show="forms.billing.CardType.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.CardType")}}</small>
                                                            <small class="error" ng-show="forms.billing.CardType.$error.server">{{serverMessages.GetMessage('CardType')}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="CardNumber" class="col-md-3 control-label">Card Number</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="CardNumber" name="CardNumber" data-ng-model="paymentInfoTab.CreditCard.CardNumber" placeholder="Card Number" data-ng-maxlength="{{paymentInfoTab.CreditCard.CardType == 3 ? '15' : '16'}}" required autocomplete="off">
                                                        <div class="error-container" ng-show="forms.submitted['billing'] && forms.billing.CardNumber.$invalid">
                                                            <small class="error" ng-show="forms.billing.CardNumber.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.CardNumber")}}</small>
                                                            <small class="error" ng-show="forms.billing.CardNumber.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.CardNumber", paymentInfoTab.CreditCard.CardType == 3 ? '15' : '16'])}}</small>
                                                            <small class="error" ng-show="forms.billing.CardNumber.$error.server">{{serverMessages.GetMessage('CardNumber')}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ExpirationDateMonth" class="col-md-3 control-label">Expiration Date</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="ExpirationDateMonth" name="ExpirationDateMonth" data-ng-model="paymentInfoTab.CreditCard.ExpirationDateMonth" placeholder="Month" data-ng-maxlength="2" required autocomplete="off">
                                                        <div class="error-container" ng-show="forms.submitted['billing'] && forms.billing.ExpirationDateMonth.$invalid">
                                                            <small class="error" ng-show="forms.billing.ExpirationDateMonth.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.ExpirationDateMonth")}}</small>
                                                            <small class="error" ng-show="forms.billing.ExpirationDateMonth.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.ExpirationDateMonth", "100"])}}</small>
                                                            <small class="error" ng-show="forms.billing.ExpirationDateMonth.$error.server">{{serverMessages.GetMessage('ExpirationDateMonth')}}</small>
                                                        </div>
                                                    </div>
                                                    <label class="col-md-1">
                                                    </label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="ExpirationDateYear" name="ExpirationDateYear" data-ng-model="paymentInfoTab.CreditCard.ExpirationDateYear" placeholder="Year" data-ng-maxlength="4" required autocomplete="off">
                                                        <div class="error-container" ng-show="forms.submitted['billing'] && forms.billing.ExpirationDateYear.$invalid">
                                                            <small class="error" ng-show="forms.billing.ExpirationDateYear.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.ExpirationDateYear")}}</small>
                                                            <small class="error" ng-show="forms.billing.ExpirationDateYear.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.ExpirationDateYear", "100"])}}</small>
                                                            <small class="error" ng-show="forms.billing.ExpirationDateYear.$error.server">{{serverMessages.GetMessage('ExpirationDateYear')}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-ng-if="paymentInfoTab.PaymentMethodType == 2 && currentCustomer.ApprovedPaymentMethods.length > 0">
                                                <div class="form-group">
                                                    <label for="terms" class="col-md-3 control-label">Terms:</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="terms" data-ng-model="currentCustomer.Oac.Terms">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Paid In Full - Taxes Included</label>
                                                    <div class="col-md-9">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-ng-if="paymentInfoTab.PaymentMethodType == 3 && currentCustomer.ApprovedPaymentMethods.length > 0">
                                                <div class="form-group">
                                                    <label for="checkNumber" class="col-md-3 control-label">Check #</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="checkNumber" data-ng-model="currentCustomer.Check.CheckNumber" placeholder="Check #">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Paid In Full - Taxes Included</label>
                                                    <div class="col-md-9">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-ng-if="paymentInfoTab.PaymentMethodType == 1 && currentCustomer.ApprovedPaymentMethods.length > 0">
                                                <span class="legend">Billing Address</span>
                                                <div class="form-group">
                                                    <label for="sameBillingAsProfile" class="col-md-3 control-label">Same as Profile Address</label>
                                                    <div class="col-md-9">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="sameBillingAsProfile" data-ng-model="paymentInfoTab.sameBilling" data-ng-change="makeBillingAsProfileAddress();" class="ng-pristine ng-valid ng-touched">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-ng-include="'app/modules/customer/partials/address.html'" data-ng-repeat="model in [paymentInfoTab.CreditCard]"></div>
                                            </div>
                                            <div data-ng-if="paymentInfoTab.PaymentMethodType == 2 && currentCustomer.ApprovedPaymentMethods.length > 0">
                                                <span class="legend">Billing Address</span>
                                                <div class="form-group">
                                                    <label for="sameBillingAsProfile" class="col-md-3 control-label">Same as Profile Address</label>
                                                    <div class="col-md-9">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="sameBillingAsProfile" data-ng-model="paymentInfoTab.sameBilling" data-ng-change="makeBillingAsProfileAddress();" class="ng-pristine ng-valid ng-touched">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-ng-include="'app/modules/customer/partials/address.html'" data-ng-repeat="model in [paymentInfoTab.Oac]"></div>
                                            </div>
                                            <div data-ng-if="paymentInfoTab.PaymentMethodType == 3 && currentCustomer.ApprovedPaymentMethods.length > 0">
                                                <span class="legend">Billing Address</span>
                                                <div class="form-group">
                                                    <label for="sameBillingAsProfile" class="col-md-3 control-label">Same as Profile Address</label>
                                                    <div class="col-md-9">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="sameBillingAsProfile" data-ng-model="paymentInfoTab.sameBilling" data-ng-change="makeBillingAsProfileAddress();" class="ng-pristine ng-valid ng-touched">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-ng-include="'app/modules/customer/partials/address.html'" data-ng-repeat="model in [paymentInfoTab.Check]"></div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </spinner-overlay>
                            </div>
                        </div>
                    </tab>
					<tab heading="Customer Notes" active="customerNotesTab.active">
						<div class="container-fluid">
						    <div class="well row">
						        <div class="col-md-6">
						            <spinner-overlay data-loading="addEditTracker.active()">
						                <form class="form-horizontal" name="forms.customerNote" data-ng-class="{submitted: forms.submitted['customerNote']}" novalidate>
						                    <fieldset>
						                        <span class="legend">Customer Notes</span>
						                        <div class="form-group">
						                            <label for="priority" class="col-md-3 control-label">Priority</label>
						                            <div class="col-md-9">
						                                <select class="form-control" name="Priority" id="priority" data-ng-model="customerNotesTab.CustomerNote.Priority" data-ng-options="priority.Key as priority.Text for priority in ReferenceData.CustomerNotePriorities" required></select>
						                                <div class="error-container" ng-show="forms.submitted['customerNote'] && forms.customerNote.Priority.$invalid">
						                                    <small class="error" ng-show="forms.customerNote.Priority.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Priority")}}</small>
						                                    <small class="error" ng-show="forms.customerNote.Priority.$error.server">{{serverMessages.GetMessage('Priority')}}</small>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-group">
						                            <label for="note" class="col-md-3 control-label">Note</label>
						                            <div class="col-md-9">
						                                <textarea type="text" name="Text" class="form-control" data-ng-model="customerNotesTab.CustomerNote.Text" id="note" placeholder="Note" rows="10"  data-ng-maxlength="1000"></textarea> <!--data-ng-required="editMode"-->
						                                <div class="error-container" ng-show="forms.submitted['customerNote'] && forms.customerNote.Text.$invalid">
						                                    <small class="error" ng-show="forms.customerNote.Text.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Note", "1000"])}}</small>
						                                    <small class="error" ng-show="forms.customerNote.Text.$error.server">{{serverMessages.GetMessage('Text')}}</small>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-group" data-ng-if="editMode">
						                            <div class="col-md-3">
						                                <button class="btn btn-info" data-ng-click="addNewCustomerNote();">Add Customer Note</button>
						                            </div>
						                        </div>
						                    </fieldset>
						                </form>
						            </spinner-overlay>
						        </div>
						        <div class="col-md-12" data-ng-if="editMode">
						            <table class="table table-striped table-hover ">
						                <thead>
						                <tr>
						                    <th>Priority</th>
						                    <th>Notes</th>
						                    <th>Added</th>
						                    <th>Actions</th>
						                </tr>
						                </thead>
						                <tbody>
						                <tr data-ng-repeat="note in currentCustomer.CustomerNotes track by note.Id | orderBy:DateEdited:reverse">
						                    <td>{{getReferenceItem(ReferenceData.CustomerNotePriorities, note.Priority).Text}}</td>
						                    <td>{{note.Text}}</td>
						                    <td>{{note.DateEdited | date:"MM/dd/yy"}}<br/>{{note.DateEdited | date:"h:mm a"}}<br/>{{note.EditedBy}}</td>
						                    <td>
						                        <button class="btn btn-default btn-danger" data-ng-click="deleteCustomerNote(note.Id);">Delete</button>
						                    </td>
						                </tr>
						                </tbody>
						            </table>
						        </div>
                                </div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>