<spinner-overlay data-loading="addEditTracker.active()">
    <div class="well row customer-files">
        <div class="col-md-9">
            <form class="form-horizontal" name="fileForms.file" novalidate unsaved-warning-form>
                <fieldset>
                    <span class="legend">Upload New File</span>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Description</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" maxlength="500" placeholder="Description" data-ng-model="options.currentFileDescription">
                        </div>
                    </div>
                    <div data-ng-if="uploadFile" class="form-group">
                        <label class="col-md-2 control-label">File Name</label>
                        <div class="col-md-9 form-control-static">
                            <span>{{uploadFile.name}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-9">
                            <div class="col-md-5 padding-0px">
                                <button class="btn btn-primary margin-right-8px" ngf-select ngf-change="setFile($files)">Locate file</button>
                                <button data-ng-if="uploadFile" class="btn btn-success" data-ng-click="upload()" ladda="uploading">Upload</button>
                            </div>
                            <div class="col-md-7 form-control-static">
                                <div ng-if="logFileRequest.state=='progress'">
                                    <uib-progressbar animate="true" value="logFileRequest.progress" type="success"><b>{{logFileRequest.progress}}%</b></uib-progressbar>
                                </div>
                                <div ng-if="logFileRequest.state=='done'">
                                    <uib-progressbar animate="true" value="100" type="success"><b>Done</b></uib-progressbar>
                                </div>
                                <div ng-if="logFileRequest.state=='error'">
                                    <uib-progressbar animate="true" value="100" type="danger"><b>Error</b></uib-progressbar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Upload Date</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="(fileIndex, file) in files | orderBy:'FileName'">
                        <td><a target="_blank" data-ng-href="/api/Customer/GetFile?fileName={{file.FileName}}&publicId={{publicId}}&viewMode=true&buildNumber={{buildNumber}}">{{file.FileName}}</a></td>
                        <td>{{file.UploadDate | date:"MM/dd/yy"}}</td>
                        <td>{{file.Description}}</td>
                        <td>
                            <a title="Download" class="btn btn-xs btn-success" target="_self" data-ng-href="/api/Customer/GetFile?fileName={{file.FileName}}&publicId={{publicId}}&viewMode=false&buildNumber={{buildNumber}}">
                                <i class="glyphicon glyphicon-download"></i>
                            </a>
                            <button title="Delete" class="btn btn-xs btn-danger" data-ng-click="deleteFile(file)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</spinner-overlay>