<spinner-overlay data-loading="addEditTracker.active()">
    <div class="well row">
        <div class="col-md-6">
            <form class="form-horizontal" name="childForms.customerNote" data-ng-class="{submitted: childForms.submitted['customerNote']}" novalidate unsaved-warning-form>
                <fieldset>
                    <span class="legend">Notes</span>
                    <div class="form-group">
                        <label for="priority" class="col-md-3 control-label">Priority</label>
                        <div class="col-md-9">
                            <select class="form-control" name="Priority" id="priority" data-ng-model="customerNote.Priority" data-ng-options="priority.Key as priority.Text for priority in ReferenceData.CustomerNotePriorities" required></select>
                            <div class="error-container" ng-show="childForms.submitted['customerNote'] && childForms.customerNote.Priority.$invalid">
                                <small class="error" ng-show="childForms.customerNote.Priority.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Priority")}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="note" class="col-md-3 control-label">Note</label>
                        <div class="col-md-9">
                            <textarea type="text" name="Text" class="form-control" data-ng-model="customerNote.Text" id="note" placeholder="Note" rows="10" data-ng-maxlength="1000" required></textarea>
                            <div class="error-container" ng-show="childForms.submitted['customerNote'] && childForms.customerNote.Text.$invalid">
                                <small class="error" ng-show="childForms.customerNote.Text.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Text")}}</small>
                                <small class="error" ng-show="childForms.customerNote.Text.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["Text", "1000"])}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div data-ng-if="!selectedCustomerNote" class="col-md-3">
                            <button class="btn btn-info" data-ng-click="addNewCustomerNote();">Add Customer Note</button>
                        </div>
                        <div data-ng-if="selectedCustomerNote" class="col-md-6">
                            <button class="btn btn-info margin-right-8px" data-ng-click="saveEdit();">Update</button>
                            <button class="btn btn-danger" data-ng-click="cancelEdit();">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Priority</th>
                        <th>Notes</th>
                        <th>Added</th>
                        <th>Edited</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="note in customerNotes | orderBy:DateEdited:reverse">
                        <td>{{getReferenceItem(ReferenceData.CustomerNotePriorities, note.Priority).Text}}</td>
                        <td>{{note.Text}}</td>
                        <td>{{note.DateCreated | date:"MM/dd/yy"}}<br />{{note.DateCreated | date:"h:mm a"}}<br />{{note.AddedBy}}</td>
                        <td>{{note.DateEdited | date:"MM/dd/yy"}}<br />{{note.DateEdited | date:"h:mm a"}}<br />{{note.EditedBy}}</td>
                        <td>
                            <button data-ng-if="!note.Editing" title="Edit" class="btn btn-default btn-success btn-xs" data-ng-click="initEdit(note);">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button data-ng-if="!note.Editing" title="Delete" class="btn btn-default btn-danger btn-xs" data-ng-click="deleteCustomerNote($index);">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</spinner-overlay>