<form class="form-horizontal" name="forms.shipping" data-ng-class="{submitted: forms.submitted['shipping']}" novalidate unsaved-warning-form>
    <fieldset>
        <span class="legend">Shipping Address</span>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button class="btn btn-info" data-ng-click="setNewAddress();">Add New Address</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <button class="btn btn-success pull-right" data-ng-show="!shippingAddressTab.Address.Default" data-ng-click="setDefaultAddress();">Set as Default</button>
            </div>
            <div class="col-md-7">
                <select class="form-control" id="shippingAddresses" data-ng-model="shippingAddressTab.Address" data-ng-options="shippingAddress as (shippingAddress.FirstName && shippingAddress.LastName && shippingAddress.Address1 ? (shippingAddress.FirstName + ' ' + shippingAddress.LastName + ' - ' + shippingAddress.Address1 + (shippingAddress.Default ? ' (Default)' : '')) : '') for shippingAddress in currentCustomer.Shipping"></select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger pull-right" data-ng-show="!shippingAddressTab.Address.Default" data-ng-click="deleteShippingAddress();">Delete</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <button class="btn btn-info" id="sameAsProfile" data-ng-click="makeAsProfileAddress();">Copy Profile</button>
            </div>
        </div>
        <div data-ng-include="'app/modules/customer/partials/address.html'" data-ng-repeat="model in [shippingAddressTab]"></div>
    </fieldset>
</form>