<form class="form-horizontal" name="forms.shipping" data-ng-class="{submitted: forms.shippingSubmitted}" novalidate>
    <fieldset>
        <span class="legend">Shipping Address</span>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <label class="checkbox-inline col-md-12">
                    <input type="checkbox" id="setDefault" data-ng-model="shippingAddressTab.NewAddress" data-ng-change="setNewAddress();">
                    New Address
                </label>
            </div>
        </div>
        <div class="form-group" data-ng-show="!shippingAddressTab.NewAddress">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <select class="form-control" id="shippingAddresses" data-ng-model="shippingAddressTab.Address" data-ng-options="shippingAddress as (shippingAddress.FirstName && shippingAddress.LastName && shippingAddress.Address1 ? (shippingAddress.FirstName + ' ' + shippingAddress.LastName + ' - ' + shippingAddress.Address1 + (shippingAddress.Default ? ' (Default)' : '')) : '') for shippingAddress in currentCustomer.Shipping"></select>
            </div>
            <div class="col-md-3">
                <label class="checkbox-inline col-md-12" data-ng-show="!shippingAddressTab.Address.Default">
                    <input type="checkbox" id="setDefault" data-ng-model="shippingAddressTab.Address.Default" data-ng-change="setDefaultAddress();">
                    Set as Default
                </label>
            </div>
            <div class="col-md-3">
                <button class="btn btn-danger pull-right" data-ng-show="!shippingAddressTab.Address.Default" data-ng-click="deleteSelectedShipping(shippingAddressTab.Address.Id);">Delete</button>
            </div>
        </div>
        <div class="form-group">
            <label for="sameAsProfile" class="col-md-3 control-label">Same as Profile Address</label>
            <div class="col-md-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="sameAsProfile" data-ng-model="currentCustomer.sameShipping" data-ng-change="makeAsProfileAddress();">
                    </label>
                </div>
            </div>
        </div>
        <div data-ng-include="'app/modules/customer/partials/address.html'" data-ng-repeat="model in [shippingAddressTab]"></div>
        <div class="form-group" data-ng-show="shippingAddressTab.NewAddress">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button class="btn btn-info" data-ng-click="addNewShipping();">Add New Address</button>
            </div>
        </div>
    </fieldset>
</form>