<form class="form-horizontal" name="forms.shipping" data-ng-class="{submitted: forms.submitted['shipping']}" novalidate unsaved-warning-form>
    <fieldset>
        <span class="legend">Shipping Address</span>
        <div class="form-group">
            <label for="shippingCustomerSaved" class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="shippingCustomerSaved" data-ng-model="shippingCustomerSaved">
                        <strong>Customer Saved Address</strong>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
             </div>
            <div class="col-md-7">
                <select class="form-control" id="shippingAddresses" data-ng-disabled="!shippingCustomerSaved" data-ng-model="shippingAddressTab.AddressIndex" data-ng-options="idx as (shippingAddress.FirstName && shippingAddress.LastName && shippingAddress.Address1 ? (shippingAddress.FirstName + ' ' + shippingAddress.LastName + ' - ' + shippingAddress.Address1 + (shippingAddress.Default ? ' (Default)' : '')) : '') for (idx, shippingAddress) in currentCustomer.Shipping"></select>
            </div>
        </div>
        <div data-ng-include="'app/modules/customer/partials/address.html'" data-ng-repeat="model in [buildOrderShippingAddressForPartial(order.OnHold && !order.UpdateShippingAddressForCustomer)]"></div>
    </fieldset>
</form>