<div class="container-fluid wholesales-summary">
    <div class="well">
        <span class="legend">Wholesale Customer Summary Information</span>
        <spinner-overlay data-loading="refreshTracker.active()">
            <div class="summary">
                <div class="form-group">
                    <div class="info-label text-right"><a ui-sref="index.oneCol.wholesalesListReport()">Accounts</a></div>
                    <strong class="ng-binding">{{summary.AllAccounts}}</strong>
                </div>
                <div class="form-group">
                    <div class="info-label text-right">Active Accounts</div>
                    <strong class="ng-binding">{{summary.ActiveAccounts}}</strong>
                </div>
                <div class="form-group">
                    <div class="info-label text-right">New Accounts</div>
                    <strong class="ng-binding">{{summary.NewActiveAccounts}}</strong>
                </div>
                <hr />
                <span class="legend">Trade Classes</span>
                <div class="form-group" data-ng-repeat="item in summary.TradeClasses">
                    <div class="info-label trade-class text-right">{{item.Name}}</div>
                    <strong class="ng-binding">{{item.Count}}</strong>
                </div>
            </div>
        </spinner-overlay>
        <hr />
        <div class="form-group inline-form-group">
            <label for="" class="control-label">Monthly Wholesale Sales Last</label>
            <select class="form-control" data-ng-model="options.count" data-ng-options="item as item for item in months"></select>
            <label for="" class="control-label">Months.</label>
            <label for="include" class="control-label">Include current</label>
            <label class="checkbox-inline">
                <input type="checkbox" id="include" data-ng-model="options.include">&nbsp;
            </label>
            <button class="btn btn-info" data-ng-click="refresh();" type="button">Refresh</button>
        </div>
        <hr />
        <spinner-overlay data-loading="refreshItemsTracker.active()">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="name"></th>
                        <th class="month text-center" data-ng-repeat="item in items | orderBy:'$index':true">{{item.Month}}</th>
                        <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-right">New Account Sales</td>
                        <td class="text-right" data-ng-repeat="item in items | orderBy:'$index':true">{{item.NewSales | currency}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-right">Established Account Sales</td>
                        <td class="text-right" data-ng-repeat="item in items | orderBy:'$index':true">{{item.EstablishedSales | currency}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-right">Total Sales</td>
                        <td class="text-right" data-ng-repeat="item in items | orderBy:'$index':true">{{item.Total | currency}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </spinner-overlay>
    </div>
</div>