/****** Object:  Database [VitalChoice.Infrastructure]    Script Date: 6/25/2016 3:39:10 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'VitalChoice.Infrastructure')
BEGIN
CREATE DATABASE [VitalChoice.Infrastructure]
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VitalChoice.Infrastructure].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VitalChoice.Infrastructure]
GO
