<div style="max-width: 2000px;">
	<div style="padding: 10px; float: left; margin-left: 10px;" class="well">
		<div class="">
			<button style="width: 145px;" ui-sref="index.oneCol.customersList" class="btn btn-success">Save</button>
		</div>
		<div class="btn-group" style="margin-top: 10px;">
			<button ui-sref="index.oneCol.customersList" class="btn btn-info">Preview</button>
			<button ui-sref="index.oneCol.customersList" class="btn btn-default">Cancel</button>
		</div>
	</div>
	<div class="col-lg-10">
		<tabset>
			<tab heading="Awaiting for info...">
			</tab>
		</tabset>
	</div>
</div>
