<h2 style="margin-left: 30px">Locate Products</h2>

<div class="col-lg-4" style="margin: 30px; max-width:2000px;">

	<div class="well">
		<form class="form-horizontal">
			<fieldset>
				<legend>Find Products</legend>
				<div class="form-group">
					<label for="selectCat" class="col-lg-3 control-label">Category</label>
					<div class="col-lg-9">
						<select class="form-control" id="selectCat">
							<option value="0">All</option>

							<option value="593">Albacore Tuna - Canned&nbsp;[Recipes/Canned Wild Seafood]</option>

							<option value="752">Astaxanthin&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="226">Canned Fish Accessories&nbsp;[Cookbooks &amp; Cooking Accessories]</option>

							<option value="216">Canned Hot-Smoked Sockeye&nbsp;[Smoked Fish &amp; Lox]</option>

							<option value="764">Canned Smoked Oysters&nbsp;[Smoked Fish &amp; Lox]</option>

							<option value="224">Canned Wild Albacore Tuna (Troll-Caught)&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="228">Canned Wild Fish - Kosher &nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="227">Canned Wild Fish - No Salt Added &nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="769">Canned Wild Pacific Dungeness Crab&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="229">Canned Wild Portuguese Mackerel&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="804">Canned Wild Portuguese Sardine Fillets&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="223">Canned Wild Portuguese Sardines&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="770">Canned Wild Salmon Meal Kit&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="827">Canned Wild Seafood&nbsp;[Wholesale]</option>

							<option value="225">Canned Wild Seafood Samplers&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="768">Copper River King Salmon (Limited Availability)&nbsp;[Wild Salmon]</option>

							<option value="307">Cultured Clams - Live &amp; Frozen&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="306">Cultured Mussels - Live &amp; Frozen&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="781">Cultured Oysters - Live &amp; Frozen&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="242">Daily Dose Packs&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="847">Daily Immune Support - Omega-3s + Vitamin D3 + Curcumin&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="828">Dietary Supplements&nbsp;[Wholesale]</option>

							<option value="294">Dr Crinnion's "Clean, Green &amp; Lean" Packs&nbsp;[Doctors' Favorites]</option>

							<option value="785">Dr. Amen Healthy Brain Packs&nbsp;[Doctors' Favorites]</option>

							<option value="786">Dr. Gottfried Hormone Cure Pack&nbsp;[Doctors' Favorites]</option>

							<option value="293">Dr. Jonny Bowden's Top Choices&nbsp;[Doctors' Favorites]</option>

							<option value="754">Dr. Lipman's BE WELL Packs&nbsp;[Doctors' Favorites]</option>

							<option value="292">Dr. Northrup's Mom/Baby &amp; Student Packs&nbsp;[Doctors' Favorites]</option>

							<option value="291">Dr. Perricone's Anti-Aging Packs&nbsp;[Doctors' Favorites]</option>

							<option value="640">E-Gift Certificates&nbsp;[Gift Packs &amp; Certificates]</option>

							<option value="840">Farmhouse Culture Kraut &amp; Kimchi&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="261">Favorite Books &amp; Cookbooks&nbsp;[Cookbooks &amp; Cooking Accessories]</option>

							<option value="801">Frozen Seafood Samplers&nbsp;</option>

							<option value="639">Gift Certificates&nbsp;[Gift Packs &amp; Certificates]</option>

							<option value="703">Gift Packs&nbsp;[Gift Packs &amp; Certificates]</option>

							<option value="278">Gift Packs &amp; Certificates&nbsp;</option>

							<option value="262">Grilling Planks&nbsp;[Cookbooks &amp; Cooking Accessories]</option>

							<option value="802">Health Advisors' Packs&nbsp;</option>

							<option value="778">Herbs in Salmon Oil - Curcumin &amp; Rhodiola&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="784">High Potency Omega-3 Therapy Fish Oils&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="283">Ikura Wild Salmon Caviar&nbsp;[Wild Salmon]</option>

							<option value="220">King Salmon Candy&nbsp;[Smoked Fish &amp; Lox]</option>

							<option value="748">Liquid Sockeye Salmon Oil&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="807">Live Cultured Shellfish - Mussels, Clams, Oysters&nbsp;[Specials &amp; Top Sellers/New at Vital Choice]</option>

							<option value="642">Omega-3 Krill Oil&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="239">Omega-3 Wild Salmon Oil Supplements&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="259">Organic Balsamic Vinegar&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Oils &amp; Vinegar]</option>

							<option value="796">Organic Beef &amp; Wild Seafood Combos&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="234">Organic Berries - Frozen&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="258">Organic Cooking Oils&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Oils &amp; Vinegar]</option>

							<option value="275">Organic Dried Fruits &nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="264">Organic Extra Dark Chocolate&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="829">Organic Foods&nbsp;[Wholesale]</option>

							<option value="803">Organic Grass-Fed Wagyu Beef - Ground&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="793">Organic Grass-Fed Wagyu Beef Burger Patties - 5.3 oz&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="813">Organic Grass-Fed Wagyu Beef Chuck Roast&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="794">Organic Grass-Fed Wagyu Beef New York Steaks&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="797">Organic Grass-Fed Wagyu Beef Ribeye Steaks&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="795">Organic Grass-Fed Wagyu Beef Sampler&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="815">Organic Grass-Fed Wagyu Beef Stew Meat&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="814">Organic Grass-Fed Wagyu Beef Stir-Fry Strips&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="792">Organic Grass-Fed Wagyu Beef Tenderloin Fillets&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="812">Organic Grass-Fed Wagyu Beef Top Sirloin Steaks&nbsp;[Organic Foods &amp; Grass-Fed Beef/Organic Grass-Fed Beef by Skagit River Ranch]</option>

							<option value="254">Organic Marinade/Rub Mixes &amp; Seasonings&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="274">Organic Nuts - Raw and Roasted&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="643">Organic Raw Cultured Vegetables - Frozen&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="266">Organic Teas&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="276">Organic Trail Mix&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="831">Oysters-Cultered WA State a&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="842">Paleo Choices&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="811">Parties &amp; Entertaining&nbsp;[Gift Packs &amp; Certificates]</option>

							<option value="753">Pet Products&nbsp;</option>

							<option value="846">Petite Red &amp; White 4 oz portions&nbsp;[Specials &amp; Top Sellers]</option>

							<option value="777">Pouched Wild Albacore Tuna (Troll-Caught)&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="799">Pouched Wild Tuna &amp; Salmon&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="268">Product Sampler Packs&nbsp;</option>

							<option value="789">Red + White Fish Combo Packs&nbsp;</option>

							<option value="284">Reefnet Pink Salmon&nbsp;[Wild Salmon]</option>

							<option value="805">Salmon Bacon &amp; Sausage Combo&nbsp;[Wild Salmon Sausage, Bacon, &amp; Burgers]</option>

							<option value="746">Salmon Meal Kits&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="285">Seared Sockeye Salmon (Tataki)&nbsp;[Wild Salmon]</option>

							<option value="841">Seaweed Salad&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="630">Signature Water Bottle&nbsp;[Cookbooks &amp; Cooking Accessories]</option>

							<option value="217">Smoked Alaskan Salmon Sampler&nbsp;[Smoked Fish &amp; Lox]</option>

							<option value="839">Smoked King Salmon&nbsp;[Smoked Fish &amp; Lox]</option>

							<option value="843">Smoked Mussels (Cultured)&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="783">Smoked Pouched Albacore Tuna&nbsp;[Smoked Fish &amp; Lox]</option>

							<option value="218">Smoked Sablefish (Lox &amp; Lightly Hot-Smoked)&nbsp;[Smoked Fish &amp; Lox]</option>

							<option value="634">Smoked Sockeye (Hot-Smoked, Nova Lox, Candy)&nbsp;[Smoked Fish &amp; Lox]</option>

							<option value="295">Soups &amp; Cioppino&nbsp;[Organic Foods &amp; Grass-Fed Beef]</option>

							<option value="232">Special Offers&nbsp;[Specials &amp; Top Sellers]</option>

							<option value="751">Specialty Vegetables&nbsp;[Organic Berries &amp; Vegetables]</option>

							<option value="244">System Items&nbsp;</option>

							<option value="759">Tea Accessories&nbsp;[Cookbooks &amp; Cooking Accessories]</option>

							<option value="816">Test Kit Twin-Packs for 100 Days to Heart Health&nbsp;</option>

							<option value="743">Top Sellers&nbsp;[Specials &amp; Top Sellers]</option>

							<option value="641">VC Missing Import Items&nbsp;</option>

							<option value="719">Vital Choice Apron &nbsp;[Cookbooks &amp; Cooking Accessories]</option>

							<option value="756">Vital Omega-3 and 6 HUFA Test™&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="240">Vitamin D3 + Omega-3 Combos&nbsp;[Omega-3s, Herbs, Tests, Vitamin D, and Astaxanthin]</option>

							<option value="272">Weil™ for Vital Choice Sockeye Salmon Sausage&nbsp;[Wild Salmon Sausage, Bacon, &amp; Burgers]</option>

							<option value="755">Weil™ for Vital Choice Sockeye Salmon Sausage&nbsp;[Doctors' Favorites]</option>

							<option value="711">White Anchovies&nbsp;[Wild Pacific White Fish]</option>

							<option value="300">Wild &amp; Eco-Grown Shellfish&nbsp;</option>

							<option value="312">Wild Alaskan Cod&nbsp;[Wild Pacific White Fish]</option>

							<option value="309">Wild Alaskan Halibut&nbsp;[Wild Pacific White Fish]</option>

							<option value="806">Wild Alaskan Halibut &amp; Cod Combo&nbsp;[Wild Pacific White Fish]</option>

							<option value="848">Wild Alaskan King Crab - Whole&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="302">Wild Alaskan King Crab Claws (Pre-Scored)&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="311">Wild Alaskan Sablefish (AKA Black Cod / Butterfish)&nbsp;[Wild Pacific White Fish]</option>

							<option value="779">Wild Alaskan Salmon Bacon&nbsp;[Wild Salmon Sausage, Bacon, &amp; Burgers]</option>

							<option value="281">Wild Alaskan Silver Salmon&nbsp;[Wild Salmon]</option>

							<option value="280">Wild Alaskan Sockeye Salmon&nbsp;[Wild Salmon]</option>

							<option value="787">Wild Alaskan Tanner Crab Meat&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="222">Wild Canned Sockeye Salmon&nbsp;[Canned &amp; Pouched Wild Seafood]</option>

							<option value="749">Wild Dungeness Crab Legs (Pre-Scored)&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="809">Wild Maine Lobster&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="304">Wild Oregon Pink Shrimp - Cooked&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="310">Wild Pacific Albacore Tuna (Small, Troll-Caught)&nbsp;[Wild Pacific White Fish]</option>

							<option value="757">Wild Pacific Calamari&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="282">Wild Pacific King Salmon&nbsp;[Wild Salmon]</option>

							<option value="303">Wild Pacific Spot Prawns&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="279">Wild Salmon&nbsp;</option>

							<option value="720">Wild Salmon Jerky Strips&nbsp;[Smoked Fish &amp; Lox]</option>

							<option value="715">Wild Salmon Jerky Strips&nbsp;[Wild Salmon]</option>

							<option value="330">Wild Salmon Samplers&nbsp;[Wild Salmon]</option>

							<option value="301">Wild Sea Scallops&nbsp;[Wild &amp; Eco-Grown Shellfish]</option>

							<option value="631">Wild Sockeye Salmon Burgers&nbsp;[Wild Salmon Sausage, Bacon, &amp; Burgers]</option>

							<option value="215">Yukon King Salmon Candy&nbsp;[Smoked Fish &amp; Lox]</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Price</label>
					<label for="inputEmail" class="col-lg-1 control-label">From</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="inputEmail" placeholder="From">
					</div>
					<label for="inputEmai2l" class="col-lg-1 control-label">To</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="inputEmail2" placeholder="To">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-lg-3 control-label">In Stock</label>
					<div class="col-lg-9">
						<div class="checkbox">
							<label>
								<input type="checkbox">
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="sku" class="col-lg-3 control-label">SKU</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" id="sku" placeholder="SKU">
					</div>
				</div>
				<div class="form-group">
					<label for="key" class="col-lg-3 control-label">Keyword(s)</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" id="key" placeholder="Keyword(s)">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Search on exact phrase
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inactiveProducts" class="col-lg-3 control-label">Include Inactive Products</label>
					<div class="col-lg-9">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="checked">
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="select2123" class="col-lg-3 control-label">Results Per Page</label>
					<div class="col-lg-9">
						<select class="form-control" id="select2123">
							<option>15</option>
							<option>20</option>
							<option>30</option>
							<option>40</option>
							<option>50</option>
							<option>50</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="select1" class="col-lg-3 control-label">Sort By</label>
					<div class="col-lg-9">
						<select class="form-control" id="select1">
							<option value="2">SKU ascending</option>
							<option value="3">SKU descending</option>
							<option value="4" selected="">Description ascending</option>
							<option value="5">Description descending</option>
						</select>
					</div>
				</div>
			</fieldset>
			<a style="margin-top:20px;" ui-sref="index.oneCol.productsList" class="btn btn-primary btn-lg">Search</a>
		</form>
	  </div>
	</div>

