<div class="container-fluid">
	<div class="left-pane-controls">
		<div class="well container-fluid">
			<div>
					<button ui-sref="index.oneCol.dashboard" class="btn btn-success width-160px">Save</button>
			</div>
			<div class="margin-top-10px">
					<button ui-sref="index.oneCol.dashboard" class="btn btn-default width-160px">Cancel</button>
			</div>
		</div>
	</div>
	<div class="right-pane-main">
		<div class="container-fluid">
			<div class="row">
				<tabset>
					<tab heading="Profile">
						<div class="container container-left">
							<div class="well row">
								<form class="form-horizontal">
									<fieldset>
										<span class="legend">Manage Profile</span>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">First Name</label>
                                            <div class="col-md-9">
                                                <input type="text" name="firstName" class="form-control" placeholder="First Name" data-ng-model="user.FirstName" required data-ng-maxlength="100">
                                                <div class="error-container" ng-show="userForm.submitted && userForm.firstName.$invalid">
                                                    <small class="error" ng-show="userForm.firstName.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.FirstName")}}</small>
                                                    <small class="error" ng-show="userForm.firstName.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.FirstName", "100"])}}</small>
                                                    <small class="error" ng-show="userForm.firstName.$error.server">{{serverMessages.GetMessage('FirstName')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Last Name</label>
                                            <div class="col-md-9">
                                                <input type="text" name="lastName" class="form-control" placeholder="Last Name" data-ng-model="user.LastName" required data-ng-maxlength="100">
                                                <div class="error-container" ng-show="userForm.submitted && userForm.lastName.$invalid">
                                                    <small class="error" ng-show="userForm.lastName.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.LastName")}}</small>
                                                    <small class="error" ng-show="userForm.lastName.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.LastName", "100"])}}</small>
                                                    <small class="error" ng-show="userForm.lastName.$error.server">{{serverMessages.GetMessage('LastName')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Email</label>
                                            <div class="col-md-9">
                                                <input type="email" name="email" class="form-control" placeholder="Email" data-ng-model="user.Email" required data-ng-maxlength="100">
                                                <div class="error-container" ng-show="userForm.submitted && userForm.email.$invalid">
                                                    <small class="error" ng-show="userForm.email.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Email")}}</small>
                                                    <small class="error" ng-show="userForm.email.$error.email">{{getValidationMessage("ValidationMessages.EmailFormat","GeneralFieldNames.Email")}}</small>
                                                    <small class="error" ng-show="userForm.email.$error.maxlength">{{getValidationMessage("ValidationMessages.FieldLength", ["GeneralFieldNames.Email", "100"])}}</small>
                                                    <small class="error" ng-show="userForm.email.$error.server">{{serverMessages.GetMessage('Email')}}</small>
                                                </div>
                                            </div>
                                        </div>
									</fieldset>
								</form>
							</div>
						</div>
					</tab>
					<tab heading="Password">
						<div class="container container-left big-container">
							<div class="well row">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <span class="legend">Change Password</span>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Old Password</label>
                                            <div class="col-md-9">
                                                <input type="password" name="password" class="form-control" data-ng-model="user.Password" placeholder="Password" required>
                                                <div class="error-container" ng-show="userForm.submitted && userForm.password.$invalid">
                                                    <small class="error" ng-show="userForm.password.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Password")}}</small>
                                                    <small class="error" ng-show="userForm.password.$error.server">{{serverMessages.GetMessage('Password')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">New Password</label>
                                            <div class="col-md-9">
                                                <input type="password" name="confirmPassword" class="form-control" data-ng-model="user.ConfirmPassword" placeholder="New Password" required>
                                                <div class="error-container" ng-show="userForm.submitted && userForm.confirmPassword.$invalid">
                                                    <small class="error" ng-show="userForm.confirmPassword.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.ConfirmPassword")}}</small>
                                                    <small class="error" ng-show="userForm.confirmPassword.$error.server">{{serverMessages.GetMessage('ConfirmPassword')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Confirm New Password</label>
                                            <div class="col-md-9">
                                                <input type="password" name="confirmPassword" class="form-control" data-ng-model="user.ConfirmPassword" placeholder="Confirm New Password" required>
                                                <div class="error-container" ng-show="userForm.submitted && userForm.confirmPassword.$invalid">
                                                    <small class="error" ng-show="userForm.confirmPassword.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.ConfirmPassword")}}</small>
                                                    <small class="error" ng-show="userForm.confirmPassword.$error.server">{{serverMessages.GetMessage('ConfirmPassword')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                             </div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>