@section Meta {
	<title>Wild Salmon | Omega-3 | Wild Seafood | Organic Foods | Vital Choice</title>
	@*<meta name="keywords" content="@Html.Raw(Model.MetaKeywords)">
	<meta name="description" content="@Html.Raw(Model.MetaDescription)">*@
}

<aside id="menuSidebar" class="category-aside">
	<ul class="category-sidebar">
		<li>
			<a href="#">
				Wild Salmon
			</a>
			<ul>
				<li><a href="#">Sockeye Salmon - Wild Alaskan</a></li>

				<li><a href="#">King Salmon - Wild Pacific</a></li>
				<li><a href="#">Reefnet Pink Salmon</a></li>

				<li><a href="#">Silver Salmon - Wild Alaskan</a></li>
				<li><a href="#">Smoked Salmon - Wild Alaskan</a></li>
				<li><a href="#">Wild Salmon Samplers</a></li>
				<li><a href="#">Seared Sockeye (Tataki)</a></li>
				<li><a href="#">Ikura Wild Salmon Caviar</a></li>
				<li><a href="#">Salmon Jerky - Pacific NW</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Wild Cod, Halibut &amp; More</a>
			<ul>
				<li><a href="#">Cod - Wild Alaskan</a></li>
				<li><a href="#">Halibut - Wild Alaskan</a></li>
				<li><a href="#">Tuna - Wild NW Pacific</a></li>
				<li><a href="#">Sablefish - Wild Alaskan</a></li>
				<li><a href="#">Petrale Sole - Wild Pacific NW</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Wild Shrimp and Shellfish</a>
			<ul>
				<li><a href="#">Sea Scallops - Wild</a></li>
				<li><a href="#">Lobster - Wild Maine</a></li>
				<li><a href="#">Calamari - Wild Pacific</a></li>
				<li><a href="#">Spot Prawns - Wild Pacific</a></li>
				<li><a href="#">Tanner Crab - Wild Alaskan</a></li>
				<li><a href="#">Alaskan King Crab</a></li>
				<li><a href="#">Dungeness Crab - Wild Pacific</a></li>
				<li><a href="#">Cultured Clams- Live &amp; Frozen</a></li>
				<li><a href="#">Cultured Oysters- Live &amp; Frozen</a></li>
				<li><a href="#">Cultured Mussels- Live &amp; Frozen</a></li>
				<li><a href="#">Wild Oregon Pink Shrimp - Cooked</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Canned Wild Seafood</a>
			<ul>
				<li><a href="#">Sockeye Salmon</a></li>
				<li><a href="#">Pink Salmon</a></li>
				<li><a href="#">Pink Shrimp</a></li>
				<li><a href="#">Anchovies</a></li>
				<li><a href="#">Sardines</a></li>
				<li><a href="#">Sardine Fillets</a></li>
				<li><a href="#">Albacore Tuna</a></li>
				<li><a href="#">Pouched Tuna &amp; Salmon</a></li>
				<li><a href="#">Smoked Mussels</a></li>
				<li><a href="#">Mackerel</a></li>
				<li><a href="#">Dungeness Crab</a></li>
				<li><a href="#">No Salt Added Options</a></li>
				<li><a href="#">Kosher Certified Options</a></li>
				<li><a href="#">Salmon Meal Kits</a></li>
				<li><a href="#">Canned Seafood Samplers</a></li>
			</ul>
		</li>
		<li>
			<a href="#">
				Lox &amp; Smoked Fish
			</a>
			<ul>
				<li><a href="#">Sockeye Salmon:<br>Lox, Hot-Smoked, Candy, More</a></li>
				<li><a href="#">Smoked King Salmon</a></li>
				<li><a href="#">King Salmon Candy</a></li>
				<li><a href="#">Salmon Jerky Strips</a></li>
				<li><a href="#">Smoked Albacore Tuna</a></li>
				<li><a href="#">Sablefish ("black cod")</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Wild Salmon<br>Burgers, Bacon, and Sausage</a>
			<ul>
				<li><a href="#">Wild Salmon Bacon</a></li>
				<li><a href="#">Wild Sockeye Salmon Burgers</a></li>
				<li><a href="#">Wild Sockeye Salmon Sausage</a></li>
				<li><a href="#">Salmon Bacon &amp; Sausage Combo</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Omega-3s &amp; Supplements</a>
			<ul>
				<li><a href="#">Omega-3 Krill Oil</a></li>
				<li><a href="#">Omega-3 Salmon Oil</a></li>
				<li><a href="#">High Potency Omega-3 Therapy</a></li>
				<li><a href="#">Daily Packs: Omega-3s + D3</a></li>
				<li><a href="#">Vital Omega-3 &amp; 6 Test™ Kit</a></li>
				<li><a href="#">Rhodiola in Wild Salmon Oil</a></li>
				<li><a href="#">Curcumin in Wild Salmon Oil</a></li>
				<li><a href="#">Vitamin D + Omega-3 Combos</a></li>
				<li><a href="#">Astaxanthin Marine Antioxidant</a></li>
				<li><a href="#">Sport-Certified™ Omega-3s+D3</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Soups, Cioppino &amp; Meal Kits</a>
			<ul>
				<li><a href="#">Thai Coconut Soup</a></li>
				<li><a href="#">Cioppino Soup/Stew</a></li>
				<li><a href="#">Moroccan Chickpea Soup</a></li>
				<li><a href="#">Soups + Cioppino Sampler</a></li>

				<li><a href="#">Salmon Patty Mix</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Chicken, Beef, &amp; Organic Foods</a>
			<ul>
				<li><a href="#">Heritage Chicken</a></li>
				<li><a href="#">Grass-Fed Beef</a></li>
				<li><a href="#">Meals, Broths &amp; Soups - Organic &amp; Natural</a></li>

				<li><a href="#">Organic Nuts</a></li>

				<li><a href="#">Organic Trail Mix</a></li>
				<li><a href="#">Organic Dried Fruits</a></li>
				<li><a href="#">Organic Dark Chocolate</a></li>
				<li><a href="#">Organic Oils &amp; Vinegars</a></li>

				<li><a href="#">Organic Berries - Frozen</a></li>



				<li><a href="#">Organic Seafood Seasonings</a></li>
				<li><a href="#">Seaweed Salad &amp; Kelp Cubes</a></li>
				<li><a href="#">Cultured Organic Garlic Flower</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Gifts, Samplers &amp; Pet Treats</a>
			<ul>
				<li><a href="#">All Gifts</a></li>
				<li><a href="#">Gift Packs</a></li>
				<li><a href="#">Gift Certificates</a></li>
				<li><a href="#">E-Gift Certificates</a></li>
				<li><a href="#">Salmon Pet Treats</a></li>
				<li><a href="#">Doctors' Favorites</a></li>
				<li><a href="#">Parties &amp; Entertaining</a></li>
				<li><a href="#">Health Advisors' Packs</a></li>
				<li><a href="#">Frozen Seafood Samplers</a></li>
				<li><a href="#">Red + White Fish Combos</a></li>
				<li><a href="#">Canned Seafood Samplers</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Cook's Tools &amp; Books</a>
			<ul>
				<li><a href="#">Grilling Planks</a></li>
				<li><a href="#">Snap-On Can Lids</a></li>
				<li><a href="#">Vital Choice Aprons</a></li>
				<li><a href="#">Books &amp; Cookbooks</a></li>
				<li><a href="#">Ring Pull Can Opener</a></li>
				<li><a href="#">Stainless Tea Strainer</a></li>
				<li><a href="#">Vital Choice Water Bottles</a></li>
			</ul>
		</li>
		<li><a href="#">Top Sellers</a></li>
		<li><a href="#">Special Offers</a></li>
		<li><a href="#">New Products</a></li>
	</ul>
</aside>
<section class="category-main">
	<div class="category-breadcrumb">
		<a href="#">Wild Salmon</a>
	</div>
	<div class="category-top">
		<object type="application/x-shockwave-flash"
		        data="https://secure.brightcove.com/services/viewer/federated_f9?&amp;width=784&amp;height=275&amp;flashID=myExperience3374270828001&amp;bgcolor=%23FFFFFF&amp;playerID=3384164151001&amp;playerKey=AQ~~%2CAAAA5zSl7hk~%2C9kve01rB786kTPtnAcS3URwsckYW3tQ8&amp;isVid=true&amp;isUI=true&amp;dynamicStreaming=true&amp;wmode=transparent&amp;secureConnections=true&amp;secureHTMLConnections=true&amp;%40videoPlayer=3374270828001&amp;autoStart=&amp;debuggerID=&amp;startTime=1442620526406"
		        id="myExperience3374270828001" width="784" height="275" class="BrightcoveExperience" seamlesstabbing="undefined" title="Adobe Flash Player">
			<param name="allowScriptAccess" value="always">
			<param name="allowFullScreen" value="true">
			<param name="seamlessTabbing" value="false">
			<param name="swliveconnect" value="true">
			<param name="wmode" value="transparent">
			<param name="quality" value="high">
			<param name="bgcolor" value="#FFFFFF">
		</object>
	</div>
	<div class="categories-selection-container">
		<div class="categories-selection-row">
			<a href="#" title="Wild Alaskan Sockeye Salmon">
				<img src="/assets/images/categories/Sockeye6oz_218.jpg" alt="Wild Alaskan Sockeye Salmon">Wild Alaskan Sockeye Salmon
			</a>
			<a href="#" title="Wild Pacific King Salmon">
				<img src="/assets/images/categories/King Salmon_Skin-on portions.jpg" alt="Wild Pacific King Salmon">Wild Pacific King Salmon
			</a>
			<a href="#" title="Wild Alaskan Silver Salmon">
				<img src="/assets/images/categories/FSC6_Silver_Skin-on_218x218.jpg" alt="Wild Alaskan Silver Salmon">Wild Alaskan Silver Salmon
			</a>
		</div>
		<div class="categories-selection-row">
			<a href="#" title="Reefnet Pink Salmon">
				<img src="/assets/images/categories/FPS606_reefnetsalmon_218.jpg" alt="Reefnet Pink Salmon">Reefnet Pink Salmon
			</a>
			<a href="#" title="Wild Salmon Samplers">
				<img src="/assets/images/categories/FSA001_salmonsampler_218.jpg" alt="Wild Salmon Samplers">Wild Salmon Samplers
			</a>
			<a href="#" title="Seared Sockeye Salmon (Tataki)">
				<img src="/assets/images/categories/tataki_218.jpg" alt="Seared Sockeye Salmon (Tataki)">Seared Sockeye Salmon (Tataki)
			</a>
		</div>
		<div class="categories-selection-row">
			<a href="#" title="Ikura Wild Salmon Caviar">
				<img src="/assets/images/categories/FSE601_ikura_218.jpg" alt="Ikura Wild Salmon Caviar">Ikura Wild Salmon Caviar
			</a>
			<a href="#" title="Wild Salmon Jerky Strips">
				<img src="/assets/images/categories/NJS212_jerky_218.jpg" alt="Wild Salmon Jerky Strips">Wild Salmon Jerky Strips
			</a>
		</div>
	</div>
	<article class="category-article">
		<div class="article-left">
			<h3>About Wild Salmon</h3>
			<p>For thousands of years, salmon have defined the culture and livelihoods of the Pacific Northwest's native peoples.&nbsp;</p>
			<p>Wild Pacific salmon are very high in omega-3 fatty acids and vitamin D and low in omega-6 and saturated fats, which makes them extraordinarily healthful, sustainably produced&nbsp;sources of protein. </p>
			<p>Salmon is the name applied to several species of Pacific Ocean fish in the genus <i>Oncorhynchus</i>, and to Atlantic salmon, which belong to the genus <i>Salmo</i>. Both salmon genera belong to the family <i>Salmonidae</i>, which includes trout.
			</p>
			<p>Unlike most trout species, salmon and other "anadromous" fish (e.g., shad and steelhead trout) are born in rivers, migrate to the ocean, and then return to their birth rivers to reproduce or "spawn". </p>
			<p>The North Pacific Ocean is home to six salmon species, each of which has more than one common name: King/Chinook (<i>O. tshawytscha</i>) • Silver/Coho (<i>O. kisutch</i>) • Sockeye/Red (<i>O. nerka</i>), Chum/Dog/Keta (<i>O. keta</i>) • Pink/Humpback (<i>O. gorbuscha</i>) • Cherry/Seema (<i>O. masou</i>).
			</p>
			<p>Sockeye, Pink, and Chum salmon are found on both sides of the Pacific, while King and Silver salmon occur only in British Columbia (Canada), Alaska, and the northwest U.S. coast. Cherry salmon occur only in Japan, Korea and eastern Russia. </p>
			<p><b>Salmon in the wild ... and in industrial fish farms</b><br>After hatching in small streams, salmon migrate to the sea to mature, living there for one to six years before they return to spawn in the same streams where they were hatched. Salmon return to the exact spot where they were born and this homing behavior depends on olfactory (smells) memory. </p>
			<p>Even small changes in the mineral, silt, or metal content of streams can keep salmon from finding their way home to spawn. Mining and logging operations that alter the content and "smell" of salmon rivers even slightly has destroyed their salmon populations. </p>
			<p>This is why – in addition to banning salmon farms – Alaska's state constitution prohibits contamination of salmon rivers. </p>
			<p>The fat content of salmon is linked to the length of their migration upstream, because salmon generally do not eat after they start upstream. Some – such as Yukon River king salmon – must swim hundreds of miles upriver to spawn where they hatched. </p>
			<p>Atlantic salmon are industrially farm-raised in many parts of the world, and farm-raising of king and coho salmon in New Zealand and British Columbia is on the rise … though on a much small scale, so far. </p>
			<p>A considerable body of research shows that salmon farms can harm wild salmon by acting as concentrated sources of disease and sea lice that spread to wild salmon migrating past the aquaculture pens. </p>
			<p>Atlantic salmon were brought to the edge of extinction by contamination from salmon farms in Norway, Ireland, and Scotland, and remain scarce in the wild. Chilean salmon farms have been plagued by ongoing problems with disease. </p>
			<p>Marine scientists and wild salmon advocates in British Columbia have been fighting to force large salmon farming corporations to remove their pens from the province's salmon migration routes. </p>
		</div>
		<div class="article-right">
			<img src="/assets/images/categories/samplefishcategory.jpg">
			<p><b>Culinary and nutritional<br>distinctions among wild Pacific salmon species:<br></b></p>
			<p>Our daily selection includes&nbsp;the three most popular species: <a href="#">sockeye</a>, <a href="#">king</a>, and <a href="#">silver</a> ...&nbsp;and we offer rare <a href="#">reefnet-harvest pink salmon</a> when available (every other year; 2011, 2013, etc.).</p>
			<p>King salmon is the fattiest species, followed by sockeye and silver. Sockeye has the firmest texture and strongest salmon flavor, and is preferred by many Alaskans. </p>
			<p>Salmon is very rich in omega-3 fatty acids, with the content rising along with its total fat content. (Though it is a bit leaner than sockeye, silver salmon has slightly more omega-3 fat.)</p>
			<p>Wild Pacific salmon offers unrivaled levels of vitamin D and astaxanthin (as-tuh-<i>zan</i>-thin) … a carotene-class red-orange pigment that exerts strong antioxidant and anti-inflammatory effects in lab studies. </p>
			<p>Sockeye&nbsp;has more vitamin D than other salmon, and much more than&nbsp;any other food. </p>
			<p>Sockeye salmon's unmatched astaxanthin content explains the species' deep red-orange color and its other common name: "red" salmon. </p>
		</div>
	</article>
</section>
