@section Meta {
	<title>Wild Salmon | Omega-3 | Wild Seafood | Organic Foods | Vital Choice</title>
	@*<meta name="keywords" content="@Html.Raw(Model.MetaKeywords)">
	<meta name="description" content="@Html.Raw(Model.MetaDescription)">*@
}

<div class="slider-wrapper theme-default">
	<div id="slider" class="nivoSlider">
		@await Component.InvokeAsync("Area", "Home Banner Carousel")
	</div>
	<div class="home-content">
		@await Component.InvokeAsync("Area", "Home Bottom Banners")
	</div>
</div>