<div class="product-main">
	<div class="category-breadcrumb">
		<a href="#" title="Wild Salmon">Wild Salmon</a>
		<img src="/assets/images/breadarrow2.jpg">
		<a href="#" title="Wild Alaskan Sockeye Salmon">Wild Alaskan Sockeye Salmon</a>
		<img src="/assets/images/breadarrow2.jpg">
		Wild Alaskan Sockeye Salmon - Skinless/Boneless 6 oz Portions
		<div></div>
	</div>
	<section class="product-intro-container">
		<img class="product-intro-image" alt="Product Name" src="/assets/images/products/FRP006_6ozPortion_380.jpg"/>
		<div class="product-intro-info">
			<div class="product-intro-main">
				<div class="product-intro-headers">
					<h1>Wild Alaskan Sockeye Salmon</h1>
					<h2>Skinless/Boneless 6-oz. Portions</h2>
					<h3>Product #FRP024</h3>
				</div>
				<img title="Alaska Seafood" src="/assets/images/products/ASMI-W.jpg"/>
			</div>
			<div class="product-intro-sub">
				<div class="product-stars-container">
					<img src="/assets/images/products/fullstar.gif">
					<img src="/assets/images/products/fullstar.gif">
					<img src="/assets/images/products/fullstar.gif">
					<img src="/assets/images/products/fullstar.gif">
					<img src="/assets/images/products/fullstar.gif">
				</div>
				<span class="product-reviews-count">[185]</span>
				<a href="#">
					Read <strong>185</strong> reviews
				</a>
				<a href="#">
					Write a Review
				</a>
			</div>
			<div class="product-intro-description">
				Rich in flavor, omega-3s, and vitamin D, our most popular salmon is abundant with the antioxidant astaxanthin, the source of its vibrant red hue. Its pure, fresh flavor is what some call the truest salmon taste.
			</div>
			<a class="product-intro-more" href="#tabs-details">Read more ></a>
			<div class="product-action-bar">
				<div class="product-action-left">
					<span class="action-left-header">Number of Portions:</span>
					<label class="product-portion-line">
						<input type="radio"/>
						6 - $79.00
					</label>
					<label class="product-portion-line">
						<input type="radio"/>
						12 - $138.00
					</label>
					<label class="product-portion-line">
						<input type="radio"/>
						24 - $239.00 <span class="product-best-value">Best Value!</span>
					</label>
				</div>
				<div class="product-action-right">
					<span class="product-selected-price">Selected Price $79.00</span>
					<a href="#">
						<img src="/assets/images/addtocartorange-2015.jpg"/>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="product-detais">
		<div class="tabs-control">
			<ul>
				<li><a href="#tabs-details">Details</a></li>
				<li><a href="#tabs-reviews">Reviews</a></li>
				<li><a href="#tabs-nutrition">Nutrition & Ingredients</a></li>
				<li><a href="#tabs-recipes">Recipes</a></li>
				<li><a href="#tabs-serving">Serving/Care</a></li>
				<li><a href="#tabs-shipping">Shipping</a></li>
			</ul>
			<div id="tabs-details">
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicul	a tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
			</div>
			<div id="tabs-reviews">
				<p class="product-reviews-overall">Average Ratings:<img src="/assets/images/fullstar.gif"/><img src="/assets/images/fullstar.gif"/><img src="/assets/images/fullstar.gif"/><img src="/assets/images/emptystar.gif" /><img class="rating-last-child" src="/assets/images/emptystar.gif" />5</p>
				<a class="write-review-link" href="#">
					Write a Review
				</a>
				<hr/>
				<div class="product-reviews-item">
					<div class="reviews-item-rating">
						<img src="/assets/images/fullstar.gif"/><img src="/assets/images/fullstar.gif"/><img src="/assets/images/fullstar.gif"/><img src="/assets/images/emptystar.gif"/><img class="rating-last-child" src="/assets/images/emptystar.gif"/>
					</div>
					<div class="reviews-item-info">
						<span class="reviews-item-title">"Wild Alaskan Sockeye Salmon"</span>
						<span class="reviews-item-author">Marilyn Rainville on 11/20/2015 9:06:58 AM</span>
						<span class="reviews-item-text"><b>Review:</b> Excellent</span>
					</div>
				</div>
				<hr />
				<div class="product-reviews-item">
					<div class="reviews-item-rating">
						<img src="/assets/images/fullstar.gif"/><img src="/assets/images/fullstar.gif"/><img src="/assets/images/fullstar.gif"/><img src="/assets/images/emptystar.gif"/><img class="rating-last-child" src="/assets/images/emptystar.gif"/>
					</div>
					<div class="reviews-item-info">
						<span class="reviews-item-title">"Wild Alaskan Sockeye Salmon"</span>
						<span class="reviews-item-author">Marilyn Rainville on 11/20/2015 9:06:58 AM</span>
						<span class="reviews-item-text"><b>Review:</b> Excellent</span>
					</div>
				</div>
				<hr />
				<div class="product-reviews-item">
					<div class="reviews-item-rating">
						<img src="/assets/images/fullstar.gif"/><img src="/assets/images/fullstar.gif"/><img src="/assets/images/fullstar.gif"/><img src="/assets/images/emptystar.gif"/><img class="rating-last-child" src="/assets/images/emptystar.gif"/>
					</div>
					<div class="reviews-item-info">
						<span class="reviews-item-title">"Wild Alaskan Sockeye Salmon"</span>
						<span class="reviews-item-author">Marilyn Rainville on 11/20/2015 9:06:58 AM</span>
						<span class="reviews-item-text"><b>Review:</b> Excellent</span>
					</div>
				</div>
				<hr />
				<a class="read-more-reviews" href="#">
					Read more reviews >
				</a>
			</div>
			<div id="tabs-nutrition">
				<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
				<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>

				<span class="ingredients-section-begin">Ingredients:</span>
				<span class="ingredients-product-title">Wild Alaskan Sockeye (Red) Salmon</span>
				<hr/>
				<div class="ingredients-nutrition-facts">
					<div class="nutrition-facts-line">
						<span class="facts-static-title">Nutrition Facts</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-nutrition-title">Alaskan Sockeye Salmon</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-nutrition-line">Serving Size 6 oz. (170g)</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-nutrition-line">Number of servings: 1</span>
					</div>
					<hr/>
					<div class="nutrition-facts-line">
						<span class="facts-hint-line">Amount Per Serving</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-subtitle">Calories</span>
						<span class="facts-info-line">230</span>
						<span class="facts-info-value">Calories from Fat 86</span>
					</div>
					<hr/>
					<div class="nutrition-facts-line">
						<span class="facts-hint-value">% Daily Value*</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-subtitle">Total Fat</span>
						<span class="facts-info-line">10g</span>
						<span class="facts-info-value">15%</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-indent facts-info-line">Saturated Fat 2g</span>
						<span class="facts-info-value">10%</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-indent facts-info-line">Trans Fat 0g</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-subtitle">Cholesterol</span>
						<span class="facts-info-line">90mg</span>
						<span class="facts-info-value">30%</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-subtitle">Sodium</span>
						<span class="facts-info-line">190mg</span>
						<span class="facts-info-value">8%</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-subtitle">Total Carbohydrate</span>
						<span class="facts-info-line">0g</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-indent facts-info-line">Dietary Fiber 0g</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-indent facts-info-line">Sugars 0g</span>
					</div>
					<div class="nutrition-facts-line">
						<span class="facts-info-subtitle">Protein</span>
						<span class="facts-info-line">36g</span>
					</div>
					<hr/>
					<div class="nutrition-facts-line">
						<span class="facts-info-line">Vitamin A 6% • Vitamin C 0%
						Calcium 2% • Iron 4%
						Omega-3s 1994mg 
						EPA 592mg 
						DHA 1158mg
						</span>
					</div>
				</div>
			</div>
			<div id="tabs-recipes">
				<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
				<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
			</div>
			<div id="tabs-serving">
				<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
				<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
			</div>
			<div id="tabs-shipping">
				<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
				<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
			</div>
		</div>
	</section>
	<section class="product-accessories">
		<div class="product-related-accessories">
			<span class="product-accessories-title">Try one of these delicious recipes</span>
			<div class="accessories-container">
				<a class="product-related-link" href="#">
					<img src="/assets/images/products/video-thumb-wild-salmon.jpg">
					Vital Choice Wild Salmon
				</a>
				<a class="product-related-link" href="#">
					<img src="/assets/images/products/video-thumb-salmon-sauteed.jpg">
					Sauteing Sockeye Salmon
				</a>
				<a class="product-related-link" href="#">
					<img src="/assets/images/products/video-thumb-becky.jpg">
					Chef Becky Selengut
				</a>
				<a class="product-related-link" href="#">
					<img src="/assets/images/products/video-thumb-salmon-broiled.jpg">
					How to Broil Salmon
				</a>
			</div>
		</div>
		<div class="product-related-accessories accessories-top-margin">
			<span class="product-accessories-title">Discover these customer favorites ... satisfaction 100% Guaranteed!</span>
			<div class="accessories-container">
				<a class="product-related-link" href="#">
					<img src="/assets/images/products/Sockeye6oz_218.jpg">
				</a>
				<a class="product-related-link" href="#">
					<img src="/assets/images/products/FTM606_tuna_med_218.jpg">
				</a>
				<a class="product-related-link" href="#">
					<img src="/assets/images/products/cwrp_casn_salmon_218.jpg">
				</a>
				<a class="product-related-link" href="#">
					<img src="/assets/images/products/NCB106_goodfishbook_218.jpg">
				</a>
			</div>
		</div>
	</section>
</div>