<div class="product-main">
	<div class="category-breadcrumb">
		<a href="#" title="Wild Salmon">Wild Salmon</a>
		<img src="/assets/images/breadarrow2.jpg">
		<a href="#" title="Wild Alaskan Sockeye Salmon">Wild Alaskan Sockeye Salmon</a>
		<img src="/assets/images/breadarrow2.jpg">
		Wild Alaskan Sockeye Salmon - Skinless/Boneless 6 oz Portions
		<div></div>
	</div>
	<div class="product-intro-container">
		<img class="product-intro-image" alt="Product Name" src="/assets/images/products/FRP006_6ozPortion_380.jpg"/>
		<div class="product-intro-info">
			<div class="product-intro-main">
				<div class="product-intro-headers">
					<h1>Wild Alaskan Sockeye Salmon</h1>
					<h2>Skinless/Boneless 6-oz. Portions</h2>
					<h3>Product #FRP024</h3>
				</div>
				<img title="Alaska Seafood" src="/assets/images/products/ASMI-W.jpg"/>
			</div>
			<div class="product-intro-sub">
				<div class="product-stars-container">
					<img src="/assets/images/products/fullstar.gif">
					<img src="/assets/images/products/fullstar.gif">
					<img src="/assets/images/products/fullstar.gif">
					<img src="/assets/images/products/fullstar.gif">
					<img src="/assets/images/products/fullstar.gif">
				</div>
				<span class="product-reviews-count">[185]</span>
				<a href="#">
					Read <strong>185</strong> reviews
				</a>
				<a href="#">
					Write a Review
				</a>
			</div>
			<p class="product-intro-description">
				Rich in flavor, omega-3s, and vitamin D, our most popular salmon is abundant with the antioxidant astaxanthin, the source of its vibrant red hue. Its pure, fresh flavor is what some call the truest salmon taste.
			</p>
			<a class="product-intro-more" href="#">Read more ></a>
			<div class="product-action-bar">
				<div class="product-action-left">
					<span class="action-left-header">Number of Portions:</span>
					<label class="product-portion-line">
						<input type="radio"/>
						6 - $79.00
					</label>
					<label class="product-portion-line">
						<input type="radio"/>
						12 - $138.00
					</label>
					<label class="product-portion-line">
						<input type="radio"/>
						24 - $239.00
					</label>
				</div>
				<div class="product-action-right">

				</div>
			</div>
		</div>
	</div>
</div>