<div class="container-fluid healthwise-customers">
    <div class="well">
        <span class="legend">HealthWise Report</span>
        <div class="row form-group">
            <div class="col-md-2">
                <p class="input-group">
                    <input type="text" name="From" class="form-control" placeholder="From" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="filter.From" is-open="fromOpened" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="stopPropagation($event); fromOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-2">
                <p class="input-group">
                    <input type="text" name="To" class="form-control" placeholder="To" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="filter.To" is-open="toOpened" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="stopPropagation($event); toOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="NotBilledOnly" data-ng-model="filter.NotBilledOnly" />
                        Show Only All Qualified HealthWise Customers
                    </label>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                <input type="text" name="IdCustomer" class="form-control"  numbers-only placeholder="Customer #" data-ng-model="filter.IdCustomer">
            </div>
            <div class="col-md-2">
                <input type="text" name="CustomerFirstName" class="form-control" placeholder="Customer First Name" data-ng-model="filter.CustomerFirstName">
            </div>
            <div class="col-md-2">
                <input type="text" name="CustomerLastName" class="form-control" placeholder="Customer Last Name" data-ng-model="filter.CustomerLastName">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <button class="btn btn-info" data-ng-click="filterItems();" type="button">Filter</button>
                <button data-ng-click="flagCustomer();" class="btn btn-primary pull-right">Flag Customer</button>
                <button data-ng-click="flagOrder();" class="btn btn-primary pull-right margin-right-15px">Flag Individual Order</button>
            </div>
        </div>
        <spinner-overlay data-loading="refreshTracker.active()">
            <table id="data-grid" class="table table-striped">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Orders This HW Year</th>
                        <th>Discounted Subtotal</th>
                        <th>Discounted Subtotal Average</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="customer-row" data-ng-repeat-start="item in items">
                        <td>
                            <a ui-sref="index.oneCol.customerDetail({id:item.Id})">{{::item.FirstName}} {{::item.LastName}} ({{::item.Id}})</a>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr data-ng-class="{'paid': period.PaidDate, 'allow-paid': period.AllowPayment}" class="period-row" data-ng-repeat="period in item.Periods">
                        <td>
                            > {{::period.StartDate | date:"MM/dd/yy"}} - {{::period.EndDate | date:"MM/dd/yy"}}
                        </td>
                        <td>
                            {{::period.OrdersCount}}
                        </td>
                        <td>{{::period.DiscountedSubtotal | currency}}</td>
                        <td data-ng-if="period.OrdersCount!=0">{{::period.AverageDiscountedSubtotal | currency}}</td>
                        <td data-ng-if="period.OrdersCount==0">{{::0 | currency}}</td>
                        <td>
                            <a class="btn btn-default btn-success btn-xs" target="_blank" ui-sref="index.oneCol.healthwiseDetail({id:period.Id})">
                                <i class="fa fa-search"></i>
                            </a>
                            <button data-ng-if="period.OrdersCount==0" title="Delete" class="btn btn-default btn-danger btn-xs" data-ng-click="deletePeriod(period.Id);">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <a data-ng-if="period.AllowPayment" class="btn btn-default btn-primary btn-xs ma" target="_blank" ui-sref="index.oneCol.healthwiseDetail({id:period.Id})">
                                Bill
                            </a>
                            <span data-ng-if="period.AllowPayment && period.OrdersCount!=0" class="important">
                                {{::period.AverageDiscountedSubtotal | currency}} <span data-ng-if="period.LastOrderDate">{{::period.LastOrderDate | date:"MM/dd/yy"}}</span>
                            </span>
                            <span data-ng-if="period.PaidDate" class="important">
                                Paid: {{::period.PaidAmount | currency}} {{::period.PaidDate | date:"MM/dd/yy"}}
                            </span>
                        </td>
                    </tr>
                    <tr class="hidden" data-ng-repeat-end></tr>
                </tbody>
            </table>
        </spinner-overlay>
        <uib-pagination boundary-links="true"
                        total-items="totalItems"
                        items-per-page="filter.Paging.PageItemCount"
                        data-ng-model="filter.Paging.PageIndex"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        data-ng-change="pageChanged();scrollTo('data-grid');">
        </uib-pagination>
    </div>
</div>