<div class="modal-header">
    <h3 class="modal-title">Flag Order</h3>
</div>
<div class="modal-body">
    <spinner-overlay data-loading="refreshTracker.active()">
        <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.form.submitted}" novalidate>
            <fieldset>
                <div class="form-group">
                    <label for="id" class="col-md-3 control-label">Order #</label>
                    <div class="col-md-9">
                        <div class="input-group autocomplete">
                            <input type="text" name="IdOrder" class="form-control" placeholder="Order #" data-ng-model="options.IdOrder" required numbers-only
                                   typeahead-min-length="3" typeahead-wait-ms="200" uib-typeahead="item.Id as item.Id for item in getOrders($viewValue)" typeahead-loading="loadingOrders">
                            <span class="input-group-addon">
                                <i ng-show="loadingOrders" class="glyphicon glyphicon-refresh"></i>
                            </span>
                        </div>
                        <div class="error-container" ng-show="forms.form.submitted && forms.form.IdOrder.$invalid">
                            <small class="error" ng-show="forms.form.IdOrder.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Order #")}}</small>
                            <small class="error" ng-show="forms.form.IdOrder.$error.server">{{serverMessages.GetMessage('IdOrder')}}</small>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </spinner-overlay>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ladda="refreshTracker.active()" data-ng-click="flag()">Flag</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
