<div class="modal-header">
    <h3 class="modal-title">Flag Customer Orders</h3>
</div>
<div class="modal-body">
    <spinner-overlay data-loading="refreshTracker.active()">
        <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.form.submitted}" novalidate>
            <fieldset>
                <div class="form-group">
                    <label for="id" class="col-md-3 control-label">Customer #:</label>
                    <div class="col-md-9">
                        <div class="input-group autocomplete">
                            <input type="text" name="IdCustomer" class="form-control" placeholder="New Customer #" data-ng-model="options.IdCustomer" required numbers-only
                                   typeahead-min-length="3" typeahead="item.Id as item.Id+' - '+item.Name for item in getCustomers($viewValue)">
                            <span class="input-group-addon">
                                <i ng-show="loadingCustomers" class="glyphicon glyphicon-refresh"></i>
                            </span>
                        </div>
                        <div class="error-container" ng-show="forms.form.submitted && forms.form.IdCustomer.$invalid">
                            <small class="error" ng-show="forms.form.IdCustomer.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Customer #")}}</small>
                            <small class="error" ng-show="forms.form.IdCustomer.$error.server">{{serverMessages.GetMessage('IdCustomer')}}</small>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </spinner-overlay>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ladda="refreshTracker.active()" data-ng-click="flag()">Flag</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
