@using System.Threading.Tasks
@using VitalChoice.Infrastructure.Domain.Options
@using Microsoft.Extensions.Options
@inject IOptions<AppOptions> appOptions;
<!DOCTYPE html>
<html data-ng-app="mainApp" data-ng-strict-di data-ng-init="buildNumber='@appOptions.Value.Versioning.BuildNumber'">
<head>
    <base href="/">
    <title>Vital Choice Admin</title>
    <link rel="icon" type="img/ico" href="/assets/miscellaneous/favicon.ico">
    @await Component.InvokeAsync("Assets", new { assetType = "styles" })
    <script src="/app/app.ie.js"></script>
</head>
<body>
    @RenderBody()
    @await Component.InvokeAsync("Assets", new { assetType = "scripts" })
</body>
</html>