<div class="modal-header">
    <h3 class="modal-title">Assign Parts</h3>
</div>
<div class="modal-body">
    <span class="legend">Assigned Parts</span>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="sku">Code</th>
                <th>Description</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in assignedItems">
                <td>{{item.Code}}</td>
                <td>{{item.Description}}</td>
                <td>
                    <button class="btn btn-xs btn-default btn-danger" data-ng-click="delete($index);">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="legend">Search Parts</span>
    <form class="form-horizontal" name="forms.form" data-ng-class="{submitted: forms.submitted}" novalidate>
        <div class="row form-group">
            <div class="col-md-4">
                <input type="text" class="form-control direct-validation" name="Code" placeholder="Code" data-ng-model="filter.Code" ng-minlength="3" required>
                <div class="error-container" ng-show="forms.submitted && forms.form.Code.$invalid">
                    <small class="error" ng-show="forms.form.Code.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Code")}}</small>
                    <small class="error" ng-show="forms.form.Code.$error.minlength">{{getValidationMessage("{0} should have at least 3 symbols","Code")}}</small>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-info" data-ng-click="filterItems();" type="button">Filter</button>
            </div>
        </div>
    </form>
    <spinner-overlay data-loading="refreshTracker.active()">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="sku">Code</th>
                    <th>Description</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in items">
                    <td>{{item.Code}}</td>
                    <td>{{item.Description}}</td>
                    <td>
                        <button class="btn btn-xs btn-default btn-success" data-ng-click="add(item);">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </spinner-overlay>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ladda="refreshTracker.active()" data-ng-click="save()">Assign</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
