<div class="container-fluid inventory-usage-report">
    <div class="well">
        <span class="legend">Shipped Inventory Usage Report</span>
        <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.form.submitted}" novalidate>
            <fieldset>
                <div class="row form-group">
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" name="From" data-ng-change="filterChanged();" class="form-control" placeholder="From" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="filter.From" is-open="fromOpened" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="false" ng-click="stopPropagation($event); fromOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <div class="error-container" ng-show="forms.form.submitted && forms.form.From.$invalid">
                            <small class="error" ng-show="forms.form.From.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","From")}}</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" name="To" data-ng-change="filterChanged();" class="form-control" placeholder="To" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="filter.To" is-open="toOpened" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="false" ng-click="stopPropagation($event); toOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <div class="error-container" ng-show="forms.form.submitted && forms.form.To.$invalid">
                            <small class="error" ng-show="forms.form.To.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","To")}}</small>
                        </div>
                    </div>
                </div>
                <span class="legend">Selected Product SKUs</span>
                <div class="row form-group">
                    <div class="col-md-3">
                        <div class="input-group autocomplete col-md-12">
                            <input type="text" name="ProductSKU" class="form-control" placeholder="Product SKU" data-ng-model="options.SkuCode" autocomplete="off"
                                   typeahead-min-length="1" typeahead-wait-ms="200"
                                   uib-typeahead="sku.Code as sku.Code for sku in getSKUsBySKU($viewValue)" typeahead-loading="loadingSKUsBySKU"
                                   typeahead-on-select="skuChanged($index)" data-ng-blur="skuChanged($index)">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-info" data-ng-click="addSku();" type="button" data-ng-disabled="options.SkuAddDisabled">Add to Filter</button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="filtered-item" data-ng-repeat="item in filter.Skus">
                            {{item.Code}}
                            <button title="Remove" class="btn btn-default btn-danger btn-xs" data-ng-click="removeSku($index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <span class="legend">Selected Part SKUs</span>
                <div class="row form-group">
                    <div class="col-md-3">
                        <div class="input-group autocomplete col-md-12">
                            <input type="text" name="PartSKU" class="form-control" placeholder="Part SKU" data-ng-model="options.InvSkuCode" autocomplete="off"
                                   typeahead-min-length="1" typeahead-wait-ms="200"
                                   uib-typeahead="sku.Code as sku.Code for sku in getInvSKUsBySKU($viewValue)" typeahead-loading="loadingInvSKUsBySKU"
                                   typeahead-on-select="invSkuChanged($index)" data-ng-blur="invSkuChanged($index)">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-info" data-ng-click="addInvSku();" type="button" data-ng-disabled="options.InvSkuAddDisabled">Add to Filter</button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="filtered-item" data-ng-repeat="item in filter.InvSkus">
                            {{item.Code}}
                            <button title="Remove" class="btn btn-default btn-danger btn-xs" data-ng-click="removeInvSku($index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <button class="btn btn-info" data-ng-click="filterItems();" type="button">Filter</button>
                    </div>
                    <div class="col-md-8">
                        <a target="_self" class="btn btn-primary pull-right" data-ng-href={{options.ExportUrl}}>Export</a>
                    </div>
                </div>
            </fieldset>
        </form>
        <hr />
        <spinner-overlay data-loading="refreshTracker.active()">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Product SKU</th>
                        <th>SKUs Shipped</th>
                        <th>Assemble</th>
                        <th>Channel</th>
                        <th>Born Date</th>
                        <th>Inventory Part</th>
                        <th>Inventory Parts Shipped</th>
                        <th>Inventory Description</th>
                        <th>Inventory Unit of Measure</th>
                        <th>Purchasing Units Shipped</th>
                        <th>Purchase Unit of Measure</th>
                        <th>Product Source</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat-start="item in items">
                        <td>{{item.SkuCode}}</td>
                        <td>{{item.TotalSkuQuantity}}</td>
                        <td>
                            <span data-ng-if="item.Assemble == true" class="label label-draft font-default">Yes</span>
                            <span data-ng-if="item.Assemble == false" class="label label-draft font-default">No</span>
                        </td>
                        <td>{{getReferenceItem(lookups.inventorySkuChannels, item.InventorySkuChannel).Text}}</td>
                        <td>{{item.BornDate | date:"MM/dd/yy"}}</td>
                        <td colspan="8"></td>
                    </tr>
                    <tr class="sub-item-row" data-ng-repeat="inventorySku in item.InventorySkus">
                        <td colspan="5"></td>
                        <td>{{inventorySku.InvSkuCode}}</td>
                        <td>{{inventorySku.TotalInvQuantityWithInvCorrection}}</td>
                        <td>{{inventorySku.InvDescription}}</td>
                        <td>{{getReferenceItem(lookups.inventorySkuUnitOfMeasures, inventorySku.UnitOfMeasure).Text}}</td>
                        <td>{{inventorySku.PurchasingUnits}}</td>
                        <td>{{getReferenceItem(lookups.inventorySkuPurchaseUnitOfMeasures, inventorySku.PurchaseUnitOfMeasure).Text}}</td>
                        <td>{{getReferenceItem(lookups.inventorySkuProductSources, inventorySku.ProductSource).Text}}</td>
                        <td>{{inventorySku.InventorySkuCategory}}</td>
                    </tr>
                    <tr class="hidden" data-ng-repeat-end></tr>
                </tbody>
            </table>
        </spinner-overlay>
    </div>
</div>