<div class="container-fluid">
    <div class="left-pane-controls">
        <div class="well container-fluid">
            <div>
                <button class="btn btn-success width-160px" ladda="editTracker.active()" data-ng-click="save()">Save</button>
            </div>
            <div class="btn-group margin-top-10px">
                <a target="_blank" href="{{previewUrl}}" data-ng-if="previewUrl" class="btn btn-info width-80px">Preview</a>
                <a data-ng-if="!previewUrl" class="btn btn-info width-80px">Preview</a>
                <button cancel-button-default-state="index.oneCol.manageArticles" cancel-button class="btn btn-default width-80px">Cancel</button>
            </div>
            <div class="margin-top-10px">
                <button class="btn btn-primary width-160px" ui-sref="index.oneCol.manageArticles">Manage All</button>
            </div>
        </div>
        <div ng-controller="objectHistorySectionController" onload="name = 'History'" data-ng-include="'app/modules/setting/partials/objectHistorySection.html'"></div>
    </div>
    <div class="right-pane-main">
        <div class="container-fluid">
            <div class="row">
                <uib-tabset>
                    <uib-tab heading="Details" active="detailsTab.active">
                        <div class="container container-left">
                            <div class="well row">
                                <spinner-overlay data-loading="refreshTracker.active()">
                                    <form class="form-horizontal" name="forms.articleForm" data-ng-submit="save()" data-ng-class="{submitted: forms.articleForm.submitted}" novalidate>
                                        <fieldset>
                                            <div class="form-group">
                                                <label for="type" class="col-md-3 control-label">Status</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name="StatusCode" data-ng-model="article.StatusCode" ng-options="status.Key as status.Text for status in statuses"></select>
                                                </div>
                                            </div>
                                            <span class="legend">Article Details</span>
                                            <div class="form-group">
                                                <label for="date" class="col-md-3 control-label">Date</label>
                                                <div class="col-md-9">
                                                    <p class="input-group">
                                                        <input type="text" name="Date" class="form-control" uib-datepicker-popup="{{UIOptions.DatepickerFormat}}" ng-model="article.PublishedDate" is-open="publishedDateOpened" required/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-disabled="false" ng-click="stopPropagation($event); publishedDateOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </p>
                                                    <div class="error-container" ng-show="forms.articleForm.submitted && forms.articleForm.Date.$invalid">
                                                        <small class="error" ng-show="forms.articleForm.Date.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Date")}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="title" class="col-md-3 control-label">Title</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="Name" class="form-control" placeholder="Title" data-ng-model="article.Name" required>
                                                    <div class="error-container" ng-show="forms.articleForm.submitted && forms.articleForm.Name.$invalid">
                                                        <small class="error" ng-show="forms.articleForm.Name.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Title")}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="subTitle" class="col-md-3 control-label">Sub Title</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="SubTitle" class="form-control" placeholder="Sub Title" data-ng-model="article.SubTitle">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="author" class="col-md-3 control-label">Author</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="Author" class="form-control" placeholder="Author" data-ng-model="article.Author">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="url" class="col-md-3 control-label">URL</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="Url" class="form-control" placeholder="URL" data-ng-model="article.Url" ng-pattern='/^[A-Za-z0-9]{1}[A-Za-z0-9-_]{3}[A-Za-z0-9-_]*$/' required>
                                                    <div class="error-container" ng-show="forms.articleForm.submitted && forms.articleForm.Url.$invalid">
                                                        <small class="error" ng-show="forms.articleForm.Url.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Url")}}</small>
                                                        <small class="error" ng-show="forms.articleForm.Url.$error.pattern">{{getValidationMessage("ValidationMessages.FieldContentUrlInvalidFormat","GeneralFieldNames.Url")}}</small>
                                                        <small class="error" ng-show="forms.articleForm.Url.$error.server">{{serverMessages.GetMessage('Url')}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="description" class="col-md-3 control-label">Description</label>
                                                <div class="col-md-9">
                                                    <div class="input-group" data-ng-show="!descriptionExpanded">
                                                        <input type="text" name="Description" class="form-control" id="short" placeholder="Description" disabled data-ng-model="article.Description" required>
                                                        <span class="input-group-btn">
                                                            <a data-ng-click="toogleEditorState('descriptionExpanded')" class="btn btn-default">Expand</a>
                                                        </span>
                                                    </div>
                                                    <div class="toogle-editor" data-ng-show="descriptionExpanded">
                                                        <a data-ng-click="toogleEditorState('descriptionExpanded')" class="btn btn-default">Hide</a>
                                                    </div>
                                                    <div data-ng-show="descriptionExpanded">
                                                        <textarea ui-tinymce="getTinymceOptions()" ng-model="article.Description"></textarea>
                                                    </div>
                                                    <div class="error-container" ng-show="forms.articleForm.submitted && forms.articleForm.Description.$invalid">
                                                        <small class="error" ng-show="forms.articleForm.Description.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Description")}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Image" class="col-md-3 control-label">Image</label>
                                                <div class="col-md-9">
                                                    <filefield Name="Image" placeholder="Image" ng-model="article.FileUrl"></filefield>
                                                </div>
                                            </div>

                                            <span class="legend">SEO</span>
                                            <div class="form-group">
                                                <label for="meta_title" class="col-md-3 control-label">Meta Title</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Meta Title" data-ng-model="article.Title">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="meta_description" class="col-md-3 control-label">Meta Description</label>
                                                <div class="col-md-9">
                                                    <textarea type="text" class="form-control" placeholder="Meta Description" rows="10" data-ng-model="article.MetaDescription"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </spinner-overlay>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Categories">
                        <div class="container container-left">
                            <div class="well row categories">
                                <spinner-overlay data-loading="refreshTracker.active()">
                                    <span class="legend">Categories</span>
                                    <button class="btn btn-info width-160px margin-bottom-10px" ui-sref="index.oneCol.manageArticleCategories({mode:'edit', id: id})">Manage Categories</button>
                                    <button data-ng-if="!categoriesExpanded" data-ng-click="updateCategoriesCollapsed(true);" class="btn btn-primary btn-xs expand-button">Expand All</button>
                                    <button data-ng-if="categoriesExpanded" data-ng-click="updateCategoriesCollapsed(false);" class="btn btn-primary btn-xs expand-button">Collapse All</button>
                                    <div ui-tree data-drag-enabled="false" class="ya-treeview">
                                        <ol ui-tree-nodes="" data-ng-model="rootCategory.SubItems">
                                            <li ng-repeat="item in rootCategory.SubItems" ui-tree-node collapsed="true" data-ng-include="'app/modules/content/partials/contentCategories.html'">
                                            </li>
                                        </ol>
                                    </div>
                                </spinner-overlay>
                            </div>
                        </div>
                    </uib-tab>
                    <!--<uib-tab heading="Products">
                        <div class="container container-left big-container">
                            <div class="well row">
                                <spinner-overlay data-loading="refreshTracker.active()">
                                    <span class="legend">Assigned Products</span>

                                    <table class="table table-striped table-hover ">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="item in article.ArticlesToProducts">
                                                <td>{{item.ShortProductInfo.ProductName}}</td>
                                                <td>
                                                    <button class="btn btn-xs btn-default btn-danger" data-ng-click="deleteArticlesToProducts($index);">Delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-controller="productsSearchController" onload="name = 'ArticlesToProducts'" data-ng-include="'app/modules/product/partials/productsSearchList.html'"></div>
                                </spinner-overlay>
                            </div>
                        </div>
                    </uib-tab>-->
                    <uib-tab heading="Template">
                        <div class="container container-left">
                            <div class="well row">
                                <spinner-overlay data-loading="refreshTracker.active()">
                                    <div data-ng-if="validatePermission([6,7])" class="form-group">
                                        <label for="masterTemplate" class="col-md-3 control-label">Master Template</label>
                                        <div class="col-md-9">
                                            <select class="form-control" name="MasterTemplate" data-ng-model="article.MasterContentItemId" ng-options="master.Id as master.Name for master in masters"></select>
                                        </div>
                                    </div>
                                    <button class="btn btn-info width-200px margin-bottom-10px" data-ng-if="validatePermission(7) && article.MasterContentItemId!=0" data-ng-click="goToMaster(article.MasterContentItemId);">Manage Master Template</button>
                                    <span class="legend">Manage Template</span>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div data-ng-model="article.Template" ui-ace-ttl master-id="article.MasterContentItemId">
                                            </div>
                                        </div>
                                    </div>
                                </spinner-overlay>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>