<div class="container-fluid">
	<div class="left-pane-controls">
		<div class="well container-fluid">
			<div>
				<button data-ng-click="save()" class="btn btn-success width-160px" unsaved-warning-clear>Save</button>
			</div>
			<div class="margin-top-10px">
				<button cancel-button class="btn btn-default width-160px" unsaved-warning-clear>Cancel</button>
			</div>
		</div>
	</div>
	<div class="right-pane-main">
		<div class="container-fluid">
			<div class="row">
				<div class="container container-left">
					<div class="well row">
						<spinner-overlay data-loading="refreshTracker.active()">
							<span class="legend">{{title}}</span>
							<form data-ng-submit="save()" name="forms.Items" data-ng-class="{submitted: forms.submitted}" novalidate unsaved-warning-form>
								<div class="panel-group sortable-accordion">
									<div ui-sortable="sortableOptions" data-ng-model="model.Items">
										<div data-ng-repeat="crossSellProduct in model.Items" class="panel panel-default">
											<div class="form-horizontal" ng-form="i{{$index}}">
												<fieldset>
													<div class="panel-heading">
														<h4 class="panel-title">
															<div class="accordion-toggle">
																<div class="form-horizontal">
																	<div class="form-group">
																		<div class="" data-ng-click="$event.stopPropagation()">
																			<label class="control-label col-md-3">Title</label>
																			<div class="col-md-9">
																				<input type="text" name="Title" class="form-control" placeholder="Cross Sell Title" data-ng-model="crossSellProduct.Title" required>
																				<div class="error-container" ng-show="forms.submitted && forms.Items.i{{$index}}.Title.$invalid">
																					<small class="error" ng-show="forms.Items.i{{$index}}.Title.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","GeneralFieldNames.Title")}}</small>
																					<small class="error" ng-show="forms.Items.i{{$index}}.Title.$error.server">{{serverMessages.GetMessage('Title','Items', $index)}}</small>
																				</div>
																			</div>
																		</div>
																	</div>

																	<div class="form-group">
																		<div class="" data-ng-click="$event.stopPropagation()">
																			<label class="control-label col-md-3">Image</label>
																			<div class="col-md-9">
																				<filefield name="Image" placeholder="Cross Sell Image" ng-model="crossSellProduct.ImageUrl" required></filefield>
																				<div class="error-container" ng-show="forms.submitted && forms.Items.i{{$index}}.ImageUrl.$invalid">
																					<small class="error" ng-show="forms.Items.i{{$index}}.ImageUrl.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","Image")}}</small>
																					<small class="error" ng-show="forms.Items.i{{$index}}.ImageUrl.$error.server">{{serverMessages.GetMessage('ImageUrl','Items',$index)}}</small>
																				</div>
																			</div>
																		</div>
																	</div>


																	<div class="form-group">
																		<div class="" data-ng-click="$event.stopPropagation()">
																			<label class="control-label col-md-3">SKU Associated</label>
																			<div class="col-md-9">
																				<input type="text" name="Sku" class="form-control" placeholder="Cross Sell SKU" data-ng-model="crossSellProduct.SkuCode" uib-uib-typeahead-min-length="1" uib-typeahead="sku.Code as sku.Code for sku in getSku($viewValue)" uib-typeahead-loading="loadingSKUsBySKU" uib-typeahead-on-select="skuChanged($item,$index)" data-ng-change="cleaerTypeaheadBox(crossSellProduct)" uib-typeahead-wait-ms="100" uib-typeahead-editable="false" required>
																				<div class="error-container" ng-show="forms.submitted && (forms.Items.i{{$index}}.SkuCode.$invalid || crossSellProduct.IdSku == 0)">
																					<small class="error" ng-show="forms.Items.i{{$index}}.SkuCode.$error.required">{{getValidationMessage("ValidationMessages.FieldRequired","SKU")}}</small>
																					<small class="error" ng-show="forms.Items.i{{$index}}.SkuCode.$error.server">{{serverMessages.GetMessage('SkuCode','Items', $index)}}</small>
																					<small class="error" ng-show="crossSellProduct.IdSku == 0 && !forms.Items.i{{$index}}.SkuCode.$invalid">{{getValidationMessage("ValidationMessages.FieldRequired","SKU")}}</small>
																				</div>
																			</div>
																		</div>
																	</div>


																	<div class="form-group">
																		<label class="control-label col-md-3">Retail Price</label>
																		<div class="" data-ng-click="$event.stopPropagation()">
																			<div class="col-md-3">
																				<div class="input-group">
																					<span class="input-group-addon">$</span>
																					<input type="text" name="RetailPrice" class="form-control" money="" placeholder="Retail Price" data-ng-model="crossSellProduct.RetailPrice" readonly>
																				</div>
																			</div>
																			<label class="control-label col-md-3">Wholesale Price</label>
																			<div class="col-md-3">
																				<div class="input-group">
																					<span class="input-group-addon">$</span>
																					<input type="text" name="WholesalePrice" class="form-control" money="" placeholder="Wholesale Price" data-ng-model="crossSellProduct.WholesalePrice" readonly>
																				</div>
																			</div>
																		</div>
																	</div>

																</div>
															</div>
														</h4>
													</div>
													<div class="panel-collapse" data-ng-class="{collapse: !crossSellProduct.IsOpen}">
														<div class="panel-body">
															<div class="form-horizontal">
																<div class="form-group">
																</div>
															</div>
														</div>
													</div>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</form>
						</spinner-overlay>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>