<div class="container-fluid">
	<div class="well">
		<span class="legend">Manage Email Templates</span>
        <spinner-overlay data-loading="refreshTracker.active()">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Trigger</th>
                        <th>Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in items">
                        <td>
                            <a ui-sref="index.oneCol.emailTemplateDetail({id:item.Id})">{{::item.Subject}}</a>
                        </td>
                        <td>{{item.EmailDescription}}</td>
                        <td>{{item.Updated | date:"MM/dd/yy"}}<br />{{item.Updated | date:"h:mm a"}}<br />{{item.AgentId}}</td>
                        <td>
                            <a title="Edit" class="btn btn-default btn-success btn-xs" ui-sref="index.oneCol.emailTemplateDetail({id:item.Id})">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination boundary-links="true"
                        total-items="totalItems"
                        items-per-page="filter.Paging.PageItemCount"
                        data-ng-model="filter.Paging.PageIndex"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        data-ng-change="pageChanged()">
            </pagination>
        </spinner-overlay>
</div>
</div>