<h2 style="margin-left: 30px" class="ng-scope">Customer Notes</h2>
<div class="col-lg-8" style="margin: 30px; max-width: 1900px; min-width: 900px;">
	<div class="well">
		<form class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label for="country" class="col-lg-3 control-label">Priority</label>
					<div class="col-lg-9">
						<select class="form-control" id="priority">
							<option value="0">Normal Priority</option>
							<option value="1">High Priority</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="note" class="col-lg-3 control-label">Note</label>
					<div class="col-lg-9">
						<textarea type="text" class="form-control" id="note" placeholder="Note" rows="10"></textarea>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>