<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Wild-Salmon" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="viewCategories.asp" />
                    <action type="Redirect" url="/../../products/wild-alaskan-sockeye-salmon" appendQueryString="false" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="idCategory=279" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
