<div class="container-fluid">
    <div class="well">
        <span data-ng-if="productName" class="legend">Manage {{productName}} Live Reviews</span>
        <div class="row form-group">
            <div class="col-md-12">
                <button class="btn btn-info btn-right width-180px" ui-sref="index.oneCol.manageProductReviews">View Live Reviews</button>
            </div>
        </div>
        <spinner-overlay data-loading="refreshTracker.active()">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Title')">
                            <span>Review Title</span>
                            <span data-ng-if="filter.Sorting.Path == 'Title'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('CustomerName')">
                            <span>Customer Name</span>
                            <span data-ng-if="filter.Sorting.Path == 'CustomerName'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('DateCreated')">
                            <span>Last Review Posted</span>
                            <span data-ng-if="filter.Sorting.Path == 'DateCreated'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th class="sortable-column" data-ng-click="filter.Sorting.applySort('Rating')">
                            <span>Rating</span>
                            <span data-ng-if="filter.Sorting.Path == 'Rating'">
                                <i class='glyphicon glyphicon-chevron-up' data-ng-if="filter.Sorting.SortOrder == 'Asc'"></i>
                                <i class='glyphicon glyphicon-chevron-down' data-ng-if="filter.Sorting.SortOrder == 'Desc'"></i>
                            </span>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="productReview in productReviews">
                        <td>{{productReview.Title}}</td>
                        <td>{{productReview.CustomerName}}</td>
                        <td>{{productReview.DateCreated | date:"MM/dd/yy"}}<br />{{productReview.DateCreated | date:"h:mm a"}}</td>
                        <td>
                            <stars data-ng-model="productReview.Rating"></stars>
                        </td>
                        <td>
                            <button class="btn btn-default btn-success" data-ng-click="edit(productReview.Id);">View</button>
                            <button class="btn btn-default btn-danger" ladda="deleteTracker.active()" data-ng-click="delete(productReview.Id);">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </spinner-overlay>
        <pagination boundary-links="true"
                    total-items="totalItems"
                    items-per-page="filter.Paging.PageItemCount"
                    data-ng-model="filter.Paging.PageIndex"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    data-ng-change="pageChanged()">
        </pagination>
    </div>
</div>