<div class="container-fluid product-out-os-stock-requests">
    <div class="well">
        <span class="legend">Out of Stock Requests</span>
        <div class="form-group btn-line">
            <button data-ng-click="send();" class="btn btn-primary pull-right">Send Emails</button>
        </div>
        <spinner-overlay data-loading="refreshTracker.active()">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="in-stock">In Stock</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th class="selected">Selected</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="container-row" data-ng-repeat-start="item in items" data-ng-click="item.RequestsVisible=!item.RequestsVisible">
                        <td>
                            <span data-ng-if="item.InStock">YES</span>    
                            <span data-ng-if="!item.InStock">NO</span>                           
                        </td>
                        <td colspan="3">{{::item.Name}}</td>
                        <td>
                            <input data-ng-model="item.IsSelected" type="checkbox" data-ng-click="$event.stopPropagation(); containerIsSelectedChanged(item);">
                        </td>
                    </tr>
                    <tr data-ng-class="{'hidden': !item.RequestsVisible}" class="request-row" data-ng-repeat="request in item.Requests">
                        <td></td>
                        <td>{{::request.Name}}</td>
                        <td>{{::request.Email}}</td>
                        <td>{{::request.DateCreated | date:"MM/dd/yy"}} {{::request.DateCreated | date:"h:mm a"}}</td>
                        <td>
                            <input data-ng-model="request.IsSelected" type="checkbox">
                        </td>
                    </tr>
                    <tr class="hidden" data-ng-repeat-end></tr>
                </tbody>
            </table>
        </spinner-overlay>
    </div>
</div>