<div class="container-fluid product-categories-statistic">
    <div class="well">
        <span class="legend">Category Sales Report</span>
        <form class="form-horizontal" name="forms.form" data-ng-submit="save()" data-ng-class="{submitted: forms.submitted}" novalidate>
            <fieldset>
                <div class="row form-group">
                    <div class="col-md-2">
                        <p class="input-group">
                            <input type="text" name="From" class="form-control" placeholder="From" datepicker-popup="dd-MMM-yyyy" ng-model="filter.From" is-open="fromOpened" data-ng-change="filterChanged();" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="stopPropagation($event); fromOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="input-group">
                            <input type="text" name="To" class="form-control" placeholder="To" datepicker-popup="dd-MMM-yyyy" ng-model="filter.To" is-open="toOpened" data-ng-change="filterChanged();" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="stopPropagation($event); toOpened =true;"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="row form-group">
            <div class="col-md-12">
                <button class="btn btn-info" data-ng-click="filterCategories();" type="button">Filter</button>
                <a target="_self" class="btn btn-primary pull-right" data-ng-href={{options.exportUrl}}>Export</a>
            </div>
        </div>
        <spinner-overlay data-loading="refreshCategoriesTracker.active()">
            <div class="categories full-lines margin-bottom-15px">
                <span>&nbsp;</span>
                <button data-ng-if="!categoriesExpanded" data-ng-click="updateCategoriesCollapsed(true);" class="btn btn-primary btn-xs expand-button">Expand All</button>
                <button data-ng-if="categoriesExpanded" data-ng-click="updateCategoriesCollapsed(false);" class="btn btn-primary btn-xs expand-button">Collapse All</button>
                <div ui-tree data-drag-enabled="false" class="ya-treeview">
                    <ol ui-tree-nodes data-ng-model="rootCategory.SubItems">
                        <li ng-repeat="item in rootCategory.SubItems" collapsed="true" ui-tree-node data-ng-include="'app/modules/product/partials/productCategoriesStatisticTreeItem.html'">
                        </li>
                    </ol>
                </div>
            </div>
        </spinner-overlay>
        <span data-ng-if="items" class="legend">Skus Statistic</span>
        <spinner-overlay data-loading="refreshSkusTracker.active()">
            <table data-ng-if="items" class="table table-striped">
                <thead>
                    <tr>
                        <th>Product SKU</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Item Price</th>
                        <th>Quantity Sold</th>
                        <th>Sales Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in items">
                        <td>{{::item.Code}}</td>
                        <td>{{::item.ProductName}}</td>
                        <td>{{::item.ParentCategory}}</td>
                        <td>{{::item.Category}}</td>
                        <td>{{::item.Price | currency}} / {{::item.WholesalePrice | currency}}</td>
                        <td>{{::item.Quantity}}</td>
                        <td>{{::item.Amount | currency}}</td>
                        </td>
                </tbody>
            </table>
        </spinner-overlay>
    </div>
</div>