@using System.Threading.Tasks
@using Microsoft.Extensions.Options
@using VC.Public.Helpers
@using VitalChoice.Infrastructure.Domain.Options
@model VC.Public.Models.Product.AddReviewModel
@inject IOptions<AppOptions> appOptions;

<div id="reviewDialog" title="Submit Your Review">
	<script>
		var captchaSiteKey = "@appOptions.Value.GoogleCaptcha.PublicKey";
	</script>
	<div class="addreview-product-info">
		<span class="addreview-product-title">For the product:</span><br/>
		<img class="addreview-product-thumbnail" src="@ViewBag.Image"/>
		<div class="addreview-product-container">
			<span class="addreview-product-title">@ViewBag.Name</span>
			<span class="addreview-product-title">@ViewBag.SubTitle</span>
		</div>
	</div>
	@{ await Html.RenderPartialAsync("_AddReviewInner", Model); }
</div>