<nlog throwExceptions="true" internalLogFile="{logdir}\internalLog.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="common" xsi:type="File" fileName="{logdir}\common.log" archiveFileName="{logdir}\archives\common.{#}.log" />
    <target name="db" xsi:type="Database"
     keepConnection="true"
     dbProvider="System.Data.SqlClient"
     connectionString="Data Source=.\;Integrated Security=true;initial catalog=Logs;"
     commandType="Text"
     commandText="INSERT into CommonLogItems(Date, Loglevel, Source, Message) values(@date, @loglevel, @logger, @message);">
      <parameter name="@date" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}"/>
      <parameter name="@loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="db" />
  </rules>
</nlog>