<nlog throwExceptions="true" internalLogFile="logs\nlog.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
     <targets async="true">
      <target name="common" xsi:type="File" fileName="logs\common.log" archiveFileName="logs\archives\common.{#}.log" />
     <target name="db" xsi:type="Database"
       keepConnection="true"
       useTransactions="false"
       dbProvider="Microsoft.Data.SQLite.SQLiteConnection, Microsoft.Data.SQLite"
       connectionString="Data Source=logs\log.db3;"
       commandType="Text"
       commandText="INSERT into Log(Timestamp, Loglevel, Callsite, Message) values(@Timestamp, @Loglevel, @Callsite, @Message);">
       <parameter name="@Timestamp" layout="${longdate}"/>
       <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
       <parameter name="@Callsite" layout="${callsite:filename=true}"/>
       <parameter name="@Message" layout="${message}"/>
     </target>
   </targets>
   <rules>
      <logger name="*" minlevel="Debug" writeTo="common" />
   </rules>
</nlog>