<div class="file-manager">
    <div class="container-fluid">
        <div class="well">
        </div>
    </div>
    <div class="container-fluid">
        <div class="left-pane">
            <div class="well container-fluid">
                <div class="wrapper">
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-pane">
            <div class="container-fluid">
                <div class="row">
                    <div class="container-fluid container-left">
                        <div class="well row">
                            <spinner-overlay data-loading="refreshTracker.refreshTracker()">
                                <div class="wrapper">
                                    <div>
                                    </div>
                                </div>
                            </spinner-overlay>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
