@using System.Threading.Tasks
@using VC.Public.Models.Auth
@model LoginModel

@section Meta {
    <title>Vital Choice | Affiliate Information</title>
}

<div class="working-area-holder affiliate-pending">
    <h4>Affiliate Information</h4>
    <h3>Your Affiliate account has been created successfully!</h3>
    <div class="form-group">
        <div class="message-group">
            <strong>Thank you for your interest in joining our affiliate program.</strong>
            Please note that we carefully review every application. Once we have reviewed and approved your account, we will contact you. You will then be able to log into a dedicated area of our store where you can obtain special links that you can use on your Web site to refer customers to our store. You will also be able to track sales and earned commissions.
        </div>
    </div>
    <div class="form-buttons-group">
        <input type="button" value="Continue" class="yellow" data-back-button="@Url.Action("Login")">
    </div>
</div> 