@using System.Threading.Tasks
@using VC.Public.Models.Affiliate
@model AffiliateManageModel

@section Meta {
    <title>Vital Choice | Affiliate Registration</title>
}

@section PageScripts {
    <script src="@Url.Content("/app/common/dataAccess.js")"></script>
    <script src="@Url.Content("/app/modules/auth/registration.js")"></script>
    <script src="@Url.Content("/app/modules/affiliateaccount/register.js")"></script>
}

<div class="working-area-holder affiliate-registration">
    @using (Html.BeginForm("Register", "AffiliateAccount", null, FormMethod.Post, null, new { @class = "form-regular medium-small", role = "form" }))
    {
        <h4>Register a New Affiliate Account</h4>
        await Html.RenderPartialAsync("_AffiliateManage", Model);

        <div class="form-buttons-group">
            <input type="submit" value="Submit My Application" class="yellow" />
        </div>
    }
    <div class="form-group">
        <hr />
    </div>
</div>