@font-face {
  font-family: Paneuropa-Highway;
  src: url(/assets/fonts/Paneuropa-Highway.ttf.woff);
}
html {
  line-height: normal;
}
body {
  font-family: Arial;
  font-size: 13px;
  color: #000000;
  background-image: url(/assets/images/bodybg2-low.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.main {
  width: 984px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.label {
  font-weight: 700;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  display: inline;
  padding: .2em .6em .3em;
  color: #fff;
  border-radius: .25em;
}
.label-success {
  background-color: #73a839;
}
.label-info {
  background-color: #033c73;
}
.label-warning {
  background-color: #dd5600;
}
.label-danger {
  background-color: #c71c22;
}
.header-top {
  height: 38px;
  position: relative;
}
.separator-top {
  height: 37px;
  border-bottom: 1px solid #cedfe4;
  position: absolute;
  width: 100%;
}
.header-top-left {
  float: left;
}
.header-top-middle {
  float: left;
  margin: 7px 0px 0px 163px;
  position: relative;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}
.stars-container {
  display: inline-block;
  margin: 0 2px 10px;
  vertical-align: middle;
}
.stars-container .star {
  background-color: #007f4e;
  float: left;
  border-radius: 2px;
  margin-right: 2px;
  padding: 3px 4px 4px;
}
.stars-container .star img {
  border: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
a.see-reviews-link {
  margin: 0 2px 10px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #868686;
}
a.see-reviews-link:hover,
a.see-reviews-link:active {
  color: #696969;
}
.header-top-right {
  float: right;
}
.header-main {
  clear: left;
  margin-top: 5px;
}
.header-main .logo-holder {
  float: left;
  padding: 10px 0 0px 0;
}
.header-right-sidebar {
  float: right;
}
.header-right-sidebar .side-icon-holder {
  float: left;
  margin-top: 5px;
  margin-right: 29px;
}
.header-right-sidebar .header-actions-holder {
  float: left;
  margin-top: 8px;
}
.header-right-sidebar .header-actions-holder a {
  color: #4C4C4C;
  text-decoration: none;
  font-size: 11px;
}
.header-right-sidebar .header-actions-holder a:hover,
.header-right-sidebar .header-actions-holder a:active {
  color: #F34D20;
}
.header-right-sidebar .header-actions-holder .actions-top-nav {
  font-size: 11px;
  font-family: Verdana, Geneva, sans-serif;
}
.header-right-sidebar .header-actions-holder .actions-top-nav a {
  margin-right: 7px;
}
.header-right-sidebar .header-actions-holder .actions-top-nav a:last-child,
.header-right-sidebar .header-actions-holder .actions-top-nav a.last-child {
  margin-right: 0px;
}
.header-right-sidebar .header-actions-holder .cart-work-area {
  margin-top: 12px;
  float: right;
}
.header-right-sidebar .header-actions-holder .cart-work-area .checkout-button {
  float: right;
}
.header-right-sidebar .header-actions-holder .cart-work-area .view-cart {
  border: 1px solid #c8c9c8;
  height: 26px;
  padding: 1px 3px 0 3px;
  float: left;
  margin-right: 7px;
}
.header-right-sidebar .header-actions-holder .cart-work-area .item-total {
  float: left;
  padding-top: 5px;
  padding-left: 5px;
  vertical-align: top;
}
.header-right-sidebar .header-actions-holder .cart-work-area .cart-icon {
  float: left;
  width: 24px;
  height: 24px;
  background-image: url(/assets/images/carticon.png);
}
.header-right-sidebar .header-actions-holder .cart-work-area a:hover .cart-icon,
.header-right-sidebar .header-actions-holder .cart-work-area a:active .cart-icon {
  background-image: url(/assets/images/carticon-roll.png);
}
.secondary-nav {
  clear: left;
  float: left;
  font-size: 11px;
  padding-left: 14px;
  padding-top: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.secondary-nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #999999;
}
.secondary-nav ul li {
  display: inline;
  padding: 0px 8px 0px 8px;
  border-right: 1px solid #4c4c4c;
  text-align: center;
  float: left;
  position: relative;
}
.secondary-nav ul li a {
  color: #4c4c4c;
  text-decoration: none;
  display: block;
  outline: 0;
}
.secondary-nav ul li a:hover,
.secondary-nav ul li a:active {
  color: #F34D20;
}
.secondary-nav ul li a.highlighted-sec-menu,
.secondary-nav ul li a.highlighted-sec-menu:hover,
.secondary-nav ul li a.highlighted-sec-menu:active {
  background-color: #F34D20;
  border-radius: 4px 4px 0 0;
  color: #FFFFFF;
  margin: -2px 0 0;
  padding: 2px 4px 0;
}
.secondary-nav ul li.last-child {
  border-right: none;
}
header .search-area {
  float: right;
}
header .search-area form {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 0;
}
header .search-area form input[type=text] {
  background-color: #fff;
  border: 1px solid #858381;
  color: #5a5a5a;
  font-family: Tahoma;
  font-size: 13px;
  font-style: italic;
  height: 24px;
  margin-right: -1px;
  padding-left: 5px;
  width: 285px;
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  line-height: 28px\9;
}
header .search-area form input[type=image] {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}
.main-nav {
  clear: left;
  float: left;
  margin-top: 8px;
}
.main-nav ul.first-level {
  margin: 0px;
  padding: 0px 2px;
  list-style: none;
  background-color: #f3ece2;
  float: left;
}
.main-nav ul.first-level > li {
  display: inline;
  padding: 5px 0px 5px 0px;
  text-align: center;
  float: left;
  position: relative;
  width: 98px;
}
.main-nav ul.first-level > li > a {
  border-right: 1px solid black;
  text-decoration: none;
  display: table;
  outline: 0;
  color: black;
  padding: 0px 5px;
  height: 43px;
  width: 87px;
}
.main-nav ul.first-level > li > a > span {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Francois One', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.1;
}
.main-nav ul.first-level > li.last-child a {
  border-right: 0px solid black;
}
.top-nav.main-nav ul li .dropdown_1column {
  border-radius: 0px 0px 5px 5px;
  margin-top: 5px;
  width: 200px;
}
.top-nav.main-nav ul li:first-child .dropdown_1column {
  margin-left: -2px;
}
.top-nav.main-nav ul li.last-child .dropdown_1column.align_right {
  margin-right: -2px;
}
.content {
  clear: left;
  float: left;
  width: 100%;
  background-color: #fff;
  margin-bottom: 31px;
}
.content .content-dynamic {
  float: left;
  clear: both;
  width: 100%;
  min-height: 200px;
}
.nav-shadow {
  background-color: #fff;
  background-image: url(/assets/images/topbar_shad.png);
  background-repeat: no-repeat;
  height: 14px;
  clear: left;
}
footer {
  clear: both;
}
.footer-main {
  color: #999999;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #807e7e;
  background-color: #fff;
  height: 268px;
  clear: left;
}
.footer-main .footer-nav {
  float: left;
}
.footer-main .footer-nav .footer-links-column {
  float: left;
  width: 136px;
}
.footer-main .footer-nav .footer-links-column > span {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #585857;
  margin-bottom: 5px;
  display: block;
}
.footer-main .footer-nav .footer-links-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-main .footer-nav .footer-links-column ul li {
  padding: 0px 0px 5px 0px;
}
.footer-main .footer-nav .footer-links-column ul li a {
  font-size: 11px;
  color: #979aa1;
  text-decoration: none;
}
.footer-main .footer-nav .footer-links-column ul li a:hover,
.footer-main .footer-nav .footer-links-column ul li a:active {
  color: #900;
}
.footer-main .footer-market {
  float: right;
}
.footer-main .footer-market .market-left {
  float: left;
  width: 130px;
  text-align: center;
}
.footer-main .footer-market .market-left a {
  display: block;
  margin-bottom: 3px;
}
.footer-main .footer-market .market-right {
  float: right;
  padding-right: 2px;
}
.footer-main .footer-market .market-right > a {
  display: block;
  float: right;
}
.footer-copyright {
  color: #666;
  font-size: 10px;
  font-weight: bold;
  font-family: Tahoma;
  margin-bottom: 20px;
  text-align: center;
}
#socialiconshome-102413 {
  margin-top: 18px;
  float: right;
  clear: both;
  margin-right: 10px;
}
.ssl-area {
  margin-top: 23px;
  margin-right: 24px;
  display: block;
  margin-left: 25px;
  float: right;
  clear: both;
}
.ssl-area img {
  padding: 0px;
  border: none;
}
.ssl-area a {
  float: left;
}
.ssl-area .accredited-businesses {
  width: 100px;
}
.ssl-area .security-logo {
  margin-left: 16px;
}
/*old menu*/
.top-nav ul li .dropdown_1column ul li a {
  font-size: 11px !important;
  color: #4c4c4c;
  text-decoration: none;
  display: block;
  outline: 0;
}
.top-nav ul li .dropdown_1column {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-bottom: 0px;
}
.dropdown_1column,
.dropdown_2columns,
.dropdown_3columns,
.dropdown_4columns,
.dropdown_5columns {
  margin: -3px auto;
  float: left;
  position: absolute;
  left: -999em;
  /* Hides the drop down */
  text-align: left;
  padding: 10px 5px 10px 5px;
  border: 1px solid #b6b6b6;
  border-top: none;
  /* Gradient background */
  background: #fff;
  /* Rounded Corners */
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 5px 5px 8px 0px #848484;
  box-shadow: 5px 5px 8px 0px #848484;
}
.ie11 .dropdown_1column,
.ie11 .dropdown_2columns,
.ie .dropdown_3columns,
.ie .dropdown_4columns,
.ie .dropdown_5columns {
  margin: -4px auto;
}
.dropdown_1column {
  width: 160px;
  z-index: 1000;
  margin-top: 0px;
  margin-left: -1px;
}
.ie11 .dropdown_1column {
  margin-top: 0px;
}
.dropdown_2columns {
  width: 400px;
  z-index: 1000;
  margin-top: -4px;
}
.dropdown_3columns {
  width: 420px;
}
.dropdown_4columns {
  width: 560px;
}
.dropdown_5columns {
  width: 700px;
}
.top-nav ul li:hover .dropdown_1column,
.top-nav ul li:hover .dropdown_2columns,
.top-nav ul li:hover .dropdown_3columns,
.top-nav ul li:hover .dropdown_4columns,
.top-nav ul li:hover .dropdown_5columns {
  left: 0px;
  top: auto;
}
.top-nav ul li .col_1 {
  border-right: none!important;
}
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  border-right: 1px solid #b6b6b6;
}
.col_1sale {
  display: inline;
  float: left;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  width: 180px;
  font-size: 12px;
  padding-left: 10px;
}
.col_1left {
  display: inline;
  float: left;
  position: relative;
  margin-left: 5px;
  margin-right: 0px;
  border-left: 1px solid #b6b6b6;
  padding-left: 10px;
  width: 194px;
}
.col_1 {
  width: 190px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.col_1right {
  width: 180px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 0px;
}
.col_2 {
  width: 270px;
}
.col_3 {
  width: 410px;
}
.col_4 {
  width: 550px;
}
.col_5 {
  width: 690px;
}
.top-nav ul .menu_right {
  float: right;
  margin-right: 0px;
}
.top-nav ul li .align_right {
  /* Rounded Corners */
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
.top-nav ul li:hover .align_right {
  left: auto;
  right: 0px;
  top: auto;
}
.top-nav ul p,
.top-nav ul h2,
.top-nav ul h3,
.top-nav ul ul li {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 21px;
  font-size: 12px;
  text-align: left;
  text-shadow: 1px 1px 1px #FFFFFF;
}
.top-nav ul h2 {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 7px 0 14px 0;
  padding-bottom: 14px;
  border-bottom: 1px solid #666666;
}
.top-nav ul h3 {
  font-size: 14px;
  margin: 7px 0 14px 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #888888;
}
.top-nav ul p {
  line-height: 18px;
  margin: 0 0 10px 0;
}
.top-nav ul li:hover div a {
  font-size: 12px;
  color: #000;
}
.top-nav ul li:hover div a:hover {
  color: #F34D20;
}
.strong {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.imgshadow {
  /* Better style on light background */
  background: #FFFFFF;
  padding: 4px;
  border: 1px solid #777777;
  margin-top: 5px;
  -moz-box-shadow: 0px 0px 5px #666666;
  -webkit-box-shadow: 0px 0px 5px #666666;
  box-shadow: 0px 0px 5px #666666;
}
.img_left {
  /* Image sticks to the left */
  width: auto;
  float: left;
  margin: 5px 15px 5px 5px;
}
.top-nav ul li .black_box {
  background-color: #333333;
  color: #eeeeee;
  text-shadow: 1px 1px 1px #000;
  padding: 4px 6px 4px 6px;
  /* Rounded Corners */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* Shadow */
  -webkit-box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  box-shadow: inset 0 0 3px #000000;
}
.top-nav ul li ul {
  list-style: none;
  padding: 0;
  margin: 0 0 12px 0;
}
.top-nav ul li ul li {
  font-size: 12px;
  line-height: 24px;
  position: relative;
  padding: 0;
  margin: 0;
  float: none;
  text-align: left;
  width: 182px;
  border: none!important;
}
.right {
  width: 199px!important;
}
.top-nav ul li ul li:hover {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.top-nav ul li .greybox li {
  background: #F4F4F4;
  border: 1px solid #bbbbbb;
  margin: 0px 0px 4px 0px;
  padding: 4px 6px 4px 6px;
  width: 116px;
  /* Rounded Corners */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.top-nav ul li .greybox li:hover {
  background: #ffffff;
  border: 1px solid #aaaaaa;
  padding: 4px 6px 4px 6px;
  margin: 0px 0px 4px 0px;
}
.ddtitle {
  color: #F34D20;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.ddnew {
  color: #F34D20;
  font-style: italic;
}
.slider-wrapper {
  margin-top: -14px;
}
.home-content {
  padding-top: 18px;
}
.theme-default .nivoSlider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0px;
}
.content-bottom {
  width: 100%;
  clear: left;
  float: left;
  margin-top: 3px;
}
.newsletter-container {
  float: left;
  background-image: url(/assets/images/newsletterbg-102513.jpg);
  background-repeat: no-repeat;
  width: 370px;
  height: 64px;
  margin-right: 41px;
  margin-top: 19px;
}
.newsletter-container .newsletter-input {
  margin-top: 15px;
  margin-left: 197px;
  width: 128px;
  font-size: 11px;
  color: #666;
  line-height: 16px;
  height: 16px\9;
}
.newsletter-container input[type=image] {
  vertical-align: middle;
  margin: -2px 0 0 -2px;
}
.finding-fish-container {
  margin-top: 22px;
  float: left;
}
.fish-advertising-container {
  float: right;
}
.sub-sec-menu-separator {
  margin: 10px 0 9px 0;
  border-bottom: 1px solid #CCC;
  width: 150px;
}
/*Category*/
.category-aside {
  padding-top: 5px;
  width: 200px;
  float: left;
}
.category-aside ul {
  list-style: none;
}
.category-aside .category-sidebar {
  font-size: 11px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  line-height: 14px;
}
.category-aside .category-sidebar a {
  cursor: pointer;
  display: block;
  margin-left: 0;
  padding: 6px 2px 6px 7px;
  text-decoration: none;
  outline: none;
  color: #000;
}
.category-aside .category-sidebar a:hover {
  text-decoration: underline;
  color: #F34D20;
}
.category-aside .category-sidebar a.expanded {
  color: #F34D20;
}
.category-aside .category-sidebar > li > a {
  padding-left: 20px;
  font-size: 12px;
}
.category-aside .category-sidebar ul {
  padding: 0 0 10px 0;
  display: none;
}
.category-aside .category-sidebar ul li a {
  margin-bottom: -6px;
  margin-top: -6px;
  padding-left: 25px;
  padding-right: 6px;
}
.category-breadcrumb {
  padding: 1px 14px 2px 14px;
  font-size: 12px;
  color: #f34d20;
}
.category-breadcrumb img {
  padding: 0 2px 2px 4px;
}
.category-breadcrumb a {
  color: #4c4c4c;
  text-decoration: none;
}
.category-breadcrumb a:hover {
  color: #f34d20;
}
.category-main {
  margin: 0 0 48px 0px;
  width: 784px;
  float: left;
}
.category-main .category-top img,
.category-main .category-top object {
  vertical-align: top;
}
.category-main .categories-selection-container {
  margin-bottom: 10px;
  margin-top: 5px;
}
.category-main .categories-selection-container a,
.category-main .categories-selection-container a:visited {
  color: #666;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  width: 218px;
  text-align: center;
  margin: 7px 20px 8px 20px;
  vertical-align: top;
}
.category-main .categories-selection-container a img,
.category-main .categories-selection-container a:visited img {
  border: 0px solid #E1E1E1;
  padding: 6px 0 8px 0;
  width: inherit;
}
.category-main .categories-selection-container a:hover {
  color: #f34d20;
}
.category-main .category-article {
  margin: 0px 0px 0px 21px;
  color: #333333;
  line-height: 14px;
  text-align: left;
  font-family: Arial;
}
.category-main .category-article .bordered-container {
  border: 1px solid #e3e3e3;
  padding: 10px;
  width: 741px;
}
.category-main .category-article .bordered-container .article-left {
  width: 526px;
  border-right: 1px solid #e3e3e3;
  padding-right: 14px;
  display: table-cell;
  vertical-align: top;
}
.category-main .category-article .bordered-container .article-right {
  display: table-cell;
  vertical-align: top;
  padding-left: 14px;
}
.category-main .category-article .bordered-container h3 {
  font-size: 18px;
  color: #2A6C82;
  font-weight: bold;
  margin: 0px;
}
.category-main .category-article .bordered-container a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
}
.category-main .category-article .bordered-container p {
  margin: 14px 0;
}
.category-main .category-article .bordered-container img {
  border: 1px solid #e3e3e3;
}
.category-main .category-article .bordered-container a:hover {
  color: #f34d20;
}
.working-area-holder {
  padding-left: 15px;
  padding-right: 15px;
}
.working-area-holder .info-text {
  color: #2B6C82;
}
.working-area-holder .bottom-indent-small {
  margin-bottom: 5px;
}
.working-area-holder .left-indent-small {
  margin-left: 10px;
}
.working-area-holder .left-indent-medium {
  margin-left: 25px;
}
.working-area-holder .length-restricted-text {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.working-area-holder .left-pane {
  position: absolute;
  width: 200px;
  padding: 10px 15px 0 0;
  min-height: 325px;
  border-right: 1px solid #DD4E02;
}
.working-area-holder .left-pane.clean-border {
  border-right: none;
}
.working-area-holder .right-pane {
  margin: 0 0 0 216px;
  padding: 0 0px 0 15px;
}
.working-area-holder .right-pane.clean-indent {
  padding: 0 0px 0 0px;
  margin: 0 0 0 215px;
}
.working-area-holder hr {
  margin: 20px 0 10px 0;
}
.working-area-holder a:visited {
  color: #2b6c82;
  text-decoration: none;
}
.working-area-holder a:link {
  color: #2b6c82;
  text-decoration: none;
  outline: none;
}
.working-area-holder a:hover {
  text-decoration: underline;
}
.working-area-holder .profile-sidebar-links a {
  color: #000;
  text-decoration: none;
  outline: none;
}
.working-area-holder .profile-sidebar-links a:hover {
  color: #f34d20;
  text-decoration: underline;
}
.working-area-holder h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
  padding: 10px 5px 0px 0px;
  text-align: left;
  color: #990000;
}
.working-area-holder h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
  padding: 10px 5px 0px 0px;
  text-align: left;
  color: #086bfc;
}
.working-area-holder input[type=submit],
.working-area-holder input[type=button],
.working-area-holder a.button {
  border-radius: 3px;
  font-size: 13px;
  background-color: #F7F7F7;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  white-space: nowrap;
  padding: 7px 12px;
  color: #000;
  margin-right: 10px;
  text-decoration: none;
}
.working-area-holder input[type=submit]:hover,
.working-area-holder input[type=button]:hover,
.working-area-holder a.button:hover {
  background-color: #E8E8E8;
}
.working-area-holder input[type=submit].yellow,
.working-area-holder input[type=button].yellow,
.working-area-holder a.button.yellow {
  background-color: #FFFF99;
}
.working-area-holder input[type=submit].yellow:hover,
.working-area-holder input[type=button].yellow:hover,
.working-area-holder a.button.yellow:hover {
  background-color: #FFE03C;
}
.working-area-holder input[type=submit].red:hover,
.working-area-holder input[type=button].red:hover,
.working-area-holder a.button.red:hover {
  background-color: #FFBFBF;
}
.working-area-holder input[type=submit].inline-button,
.working-area-holder input[type=button].inline-button {
  vertical-align: top;
  margin-right: 0px;
}
.form-group {
  margin-bottom: 15px;
  float: left;
  clear: left;
  width: 100%;
}
.border-form-left {
  float: left;
  border-left: 1px solid #DD4E02;
  padding-left: 15px;
  padding-right: 15px;
  width: 723px;
  margin-bottom: 50px;
  min-height: 360px;
}
.border-form-left .form-control-important-info {
  width: auto;
}
.border-form-left.inner {
  min-height: auto;
  margin-bottom: 0;
}
.form-regular.medium .control-label {
  width: 200px;
}
.form-regular.small .control-label {
  width: 70px;
}
.form-regular.small .form-buttons-group :first-child {
  margin-left: 85px;
}
.form-regular.medium-small .control-label {
  width: 120px;
}
.form-regular.medium-small .control-label-indent {
  margin-left: 136px;
}
.form-regular.medium-small .form-buttons-group :first-child {
  margin-left: 135px;
}
.message-group {
  color: #333333;
}
.form-regular {
  font-family: Arial;
  font-size: 13px;
}
.form-regular *,
.form-regular :after,
.form-regular :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-regular .form-two-column {
  float: left;
  width: 50%;
}
.form-regular .form-two-column .input-group .field-validation-error {
  max-width: 200px;
}
.form-regular .sub-title {
  background-color: #f5f5f5;
  font-weight: bold;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 0;
}
.form-regular .sub-title span {
  margin-left: 3px;
  margin-right: 3px;
}
.form-regular .form-control-hint {
  float: left;
  width: 100%;
  color: #737373;
  margin-bottom: 15px;
}
.form-regular .form-control-important-info {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  background-color: #FFC;
  border: 1px solid #F90;
  padding: 8px 10px 8px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: red;
}
.form-regular .form-group .radio-inline {
  padding-left: 10px;
}
.form-regular .form-group .radio-inline input[type=radio] {
  vertical-align: middle;
}
.form-regular .form-group .message-group .field-validation-error {
  color: red;
  margin: 5px 0 0 0px;
  display: block;
}
.form-regular .form-group .control-label {
  text-align: left;
  margin-bottom: 0;
  padding: 8px 0;
  float: left;
  margin-right: 15px;
  color: #333333;
}
.form-regular .form-group .input-group {
  float: left;
}
.form-regular .form-group .input-group .form-control {
  background-color: #F7F7F7;
  border: 1px solid #CCCCCC;
  color: #000;
  height: 31px;
  padding: 2px 5px;
  width: 200px;
}
.form-regular .form-group .input-group .form-control.small-form-control {
  width: 50px;
}
.form-regular .form-group .input-group .form-control.date-picker {
  width: 100px;
}
.form-regular .form-group .input-group .form-control.big {
  width: 400px;
}
.form-regular .form-group .input-group input[type="checkbox"].form-control,
.form-regular .form-group .input-group input[type="radio"].form-control {
  height: auto;
  margin-top: 9px;
  margin-right: 7px;
  width: auto;
}
.form-regular .form-group .input-group textarea.form-control {
  height: auto;
}
.form-regular .form-group .input-group .form-control-static {
  padding: 8px 5px;
  display: block;
  color: #333333;
}
.form-regular .form-group .input-group .form-control-static.bold {
  font-weight: bold;
}
.form-regular .form-group .input-group .form-control:focus {
  background-color: #FFFFCC;
}
.form-regular .form-group .input-group .field-validation-error {
  color: red;
  margin: 5px 0 0 0px;
  display: block;
}
.form-regular .form-group .input-group .input-validation-error {
  border: 1px solid red;
}
.form-regular .filter-row .form-group {
  width: auto;
  display: inline-block;
  margin-right: 10px;
  float: none;
}
.form-buttons-group {
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
  clear: left;
}
.form-buttons-group :first-child {
  margin-left: 215px;
}
.pull-right {
  float: right;
}
.validation-summary-errors {
  color: red;
}
.validation-summary-errors ul {
  list-style: none;
  padding-left: 0;
  margin: 15px 0;
}
.jq-toast-single {
  font-size: 13px;
}
.jq-toast-wrap.bottom-right {
  right: 60px;
}
.vitalgreen .header {
  margin-bottom: 20px;
  margin-top: 20px;
}
.vitalgreen .items .item {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}
.vitalgreen .items .item .hours {
  padding-left: 15px;
  font-size: 12px;
}
.form-regular .affiliate-manage .promote-area .form-group .control-label {
  width: 125px;
}
.affiliate-registration .form-regular.medium-small .form-buttons-group :first-child {
  margin-left: 0px;
}
.affiliate-pending .form-buttons-group :first-child {
  margin-left: 0px;
}
.last-order-lines {
  width: 100%;
}
.last-order-lines .product-icon {
  width: 100px;
  height: 100px;
}
.last-order-lines tbody tr {
  border-bottom: 1px solid #CCC;
}
.last-order-lines tbody tr td {
  padding: 9px 0px 20px 0;
}
.last-order-lines .qty-cell {
  font-size: 25px;
  font-weight: bold;
  width: 120px;
  text-align: center;
  padding-right: 20px;
}
.last-order-lines .icon-container {
  width: 100px;
  padding-right: 20px;
}
.last-order-lines .product-title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 460px;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
}
.last-order-lines .sku-code {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  max-width: 460px;
}
.last-order-lines .selected-price {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
.last-order-lines .review-product-link {
  margin: 10px 0 0 50px;
}
.top-favorites .top-favorites-selection-container {
  margin-bottom: 10px;
  margin-top: 5px;
}
.top-favorites .top-favorites-selection-container a,
.top-favorites .top-favorites-selection-container a:visited {
  color: #666;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  width: 218px;
  text-align: center;
  margin: 7px 10px 8px 10px;
  vertical-align: top;
}
.top-favorites .top-favorites-selection-container a img,
.top-favorites .top-favorites-selection-container a:visited img {
  border: 0px solid #E1E1E1;
  padding: 6px 0 8px 0;
}
.top-favorites .top-favorites-selection-container a:hover {
  color: #f34d20;
}
.centered-horizontal {
  text-align: center;
  display: block;
}
.favorites-centered-button {
  margin-left: 292px;
}
.bold {
  font-weight: bold;
}
.margin-bottom-big {
  margin-bottom: 50px !important;
}
.margin-top-medium {
  margin-top: 30px !important;
}
.margin-bottom-medium {
  margin-bottom: 30px !important;
}
.margin-top-small {
  margin-top: 10px !important;
}
.margin-bottom-small {
  margin-bottom: 10px !important;
}
.standard-table {
  width: 100%;
}
.standard-table > thead > tr > th {
  background-color: #FFFFCC;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  border-bottom: 1px solid #E1E1E1;
  text-align: left;
}
.standard-table > thead > tr > th.align-right {
  text-align: right;
}
.standard-table > tbody > tr > td {
  padding: 6px 12px;
}
.payment-history .total {
  float: right;
}
.align-right {
  text-align: right;
}
.unpaid-orders .total {
  float: right;
}
.note {
  color: red;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #FFFFFF;
  text-decoration: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > a:visited,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #000;
  cursor: default;
  background-color: #FFFFCC;
  border-color: #CCCCCC;
  text-decoration: none;
}
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #5a5a5a;
  cursor: not-allowed;
  background-color: #F7F7F7;
  border-color: #CCCCCC;
  pointer-events: none;
}
.product-main {
  float: left;
  padding: 0 15px 40px;
}
.product-main .category-breadcrumb {
  padding-left: 0px;
}
.product-main .product-intro-container {
  margin-top: 22px;
  float: left;
}
.product-main .product-intro-image {
  float: left;
  width: 380px;
  height: 380px;
}
.product-main .product-intro-info {
  float: left;
  width: 539px;
  padding: 0 10px 0 25px;
}
.product-main .product-intro-main {
  margin-bottom: 15px;
}
.product-main .product-intro-main img {
  vertical-align: top;
  float: right;
}
.product-main .product-intro-headers {
  width: 400px;
  display: inline-block;
}
.product-main .product-intro-headers h1 {
  font-size: 26px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 0 4px 0;
  color: #333333;
}
.product-main .product-intro-headers h2 {
  font-size: 21px;
  margin: 0 0 4px 0;
  line-height: 18px;
  font-weight: normal;
  color: #333333;
}
.product-main .product-intro-headers h3 {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  margin: 0;
}
.product-main .product-intro-sub {
  margin-bottom: 20px;
}
.product-main .product-intro-sub > a {
  margin-left: 20px;
  color: #F63;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
}
.product-main .product-stars-container {
  float: left;
}
.product-main .product-reviews-count {
  margin-left: 20px;
  font-size: 10px;
}
.product-main .product-intro-description {
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  margin: 0px;
}
.product-main .product-intro-description p {
  margin: 0px;
}
.product-main .product-intro-more {
  margin: 8px 0 0px 0px;
  color: #F63;
  font-size: 13px;
  text-decoration: none;
  display: block;
}
.product-main .product-intro-more:hover {
  color: #F30;
}
.product-main .product-action-bar {
  text-align: center;
  background-color: #ebebeb;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 30px 0 0 45px;
  padding: 10px 20px 10px 20px;
  width: 405px;
  float: left;
}
.product-main .product-action-left {
  border-right: 1px solid #dcdcdc;
  padding: 0 10px 10px 0;
  width: 190px;
  float: left;
}
.product-main .action-left-header {
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
  text-align: left;
  display: block;
}
.product-main .product-portion-line {
  display: block;
  font-weight: bold;
  text-align: left;
  border: 0;
  background-color: transparent;
  color: #000000;
  font-size: 12px;
  margin: 7px 0 7px 5px;
}
.product-main .product-portion-line .product-best-value {
  color: #ff0000;
  float: right;
  font-size: 13px;
}
.product-main .product-portion-line input[type=radio] {
  vertical-align: middle;
  margin-right: 5px;
}
.product-main .product-action-right {
  float: left;
  padding: 0 0 0 10px;
  text-align: left;
}
.product-main .product-action-right a {
  margin-top: 15px;
  display: block;
}
.product-main .product-selected-price {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  display: block;
}
.product-main .product-detais {
  float: left;
}
.ui-widget-overlay {
  opacity: .7;
}
#dialog-confirm {
  text-align: center;
  font-size: 16px;
}
.ui-dialog.ui-widget-content .ui-state-default {
  border-radius: 3px;
}
.ui-dialog.ui-widget-content .ui-state-default.main-dialog-button {
  background-color: #FFFF99;
}
.ui-dialog.ui-widget-content .ui-state-default.main-dialog-button:hover {
  background-color: #FFE03C;
}
.tabs-control.ui-tabs {
  border: none;
  margin-top: 20px;
  padding: 0px;
}
.tabs-control.ui-tabs .ui-tabs-panel {
  border: solid 1px #E1E1E1;
  overflow: auto;
  padding: 30px;
  height: 370px;
}
.tabs-control.ui-tabs .ui-tabs-nav {
  border: none;
  padding: 0;
}
.tabs-control.ui-tabs .ui-tabs-nav .ui-corner-top {
  position: relative;
  top: 1px;
  min-height: 17px;
  padding: 0;
  margin: 0px 4px 0px 0px;
  font: bold 11px Arial;
  background-color: #F3F2F0;
  border-left: solid 1px #E1E1E1;
  border-bottom: 1px solid #e1e1e1;
  border-top: solid 1px #E1E1E1;
  border-right: solid 1px #E1E1E1;
  -moz-user-select: none;
  -khtml-user-select: none;
  cursor: pointer;
}
.tabs-control.ui-tabs .ui-tabs-nav .ui-corner-top:hover {
  background-color: #eeedeb;
}
.tabs-control.ui-tabs .ui-tabs-nav .ui-corner-top.ui-tabs-active {
  background: none;
  border-bottom: 1px solid #fff;
}
.tabs-control.ui-tabs .ui-tabs-nav .ui-corner-top a {
  color: #747273;
  float: none;
  padding: 11px 14px 10px 14px;
  display: block;
  line-height: 17px;
}
.product-related-accessories {
  padding: 0 30px;
}
.product-related-accessories .product-accessories-title {
  border-bottom: 1px solid #e1e1e1;
  color: #666666;
  font-size: 21px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: block;
}
.product-accessories {
  margin-top: 30px;
  float: left;
}
.accessories-top-margin {
  margin-top: 30px;
}
.accessories-container {
  font-size: 0;
}
.product-related-link {
  color: #666;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  width: 208px;
  line-height: 20px;
  text-align: left;
  margin: 0 20px 0 0;
  vertical-align: top;
}
.product-related-link:last-child {
  margin: 0 0 0 0;
}
.product-related-link img {
  width: inherit;
}
.product-main .tabs-control {
  width: 954px;
}
